[Desktop Entry]
Type=XSession
Exec=aewm
TryExec=aewm
Name=AEWM
Name[af]=AEWM
Name[ar]=AEWM
Name[ast]=AEWM
Name[be]=AEWM
Name[be@latin]=AEWM
Name[bg]=AEWM
Name[bn]=AEWM
Name[bn_IN]=AEWM
Name[br]=AEWM
Name[bs]=AEVM
Name[ca]=AEWM
Name[ca@valencia]=AEWM
Name[cs]=AEWM
Name[csb]=AEWM
Name[cy]=AEWM
Name[da]=AEWM
Name[de]=AEWM
Name[el]=AEWM
Name[en_GB]=AEWM
Name[eo]=AEWM
Name[es]=AEWM
Name[et]=AEWM
Name[eu]=AEWM
Name[fi]=AEWM
Name[fr]=AEWM
Name[fy]=AEWM
Name[ga]=AEWM
Name[gl]=AEWM
Name[gu]=AEWM
Name[he]=AEWM
Name[hi]=एईडबल्यूएम
Name[hne]=एईडबल्यूएम
Name[hr]=AEWM
Name[hsb]=AEWM
Name[hu]=AEWM
Name[ia]=AEWM
Name[id]=AEWM
Name[is]=AEWM
Name[it]=AEWM
Name[ja]=AEWM
Name[ka]=AEWM
Name[kk]=AEWM
Name[km]=AEWM
Name[kn]=AEWM
Name[ko]=AEWM
Name[ku]=AEWM
Name[lt]=AEWM
Name[lv]=AEWM
Name[mai]=एईडबल्यूएम
Name[mk]=AEWM
Name[ml]=എഇഡബ്ലിയുഎം
Name[mr]=AEWM
Name[ms]=AEWM
Name[nb]=AEWM
Name[nds]=AEWM
Name[ne]=AEWM
Name[nl]=AEWM
Name[nn]=AEWM
Name[oc]=AEWM
Name[pa]=AEWM
Name[pl]=AEWM
Name[pt]=AEWM
Name[pt_BR]=AEWM
Name[ro]=AEWM
Name[ru]=AEWM
Name[se]=AEWM
Name[si]=AEWM
Name[sk]=AEWM
Name[sl]=AEWM
Name[sr]=АЕВМ
Name[sr@ijekavian]=АЕВМ
Name[sr@ijekavianlatin]=AEWM
Name[sr@latin]=AEWM
Name[sv]=AEWM
Name[ta]=AEWM
Name[te]=ఎ ఈ డబ్ల్యు ఎం
Name[tg]=AEWM
Name[th]=AEWM
Name[tr]=AEWM
Name[ug]=AEWM
Name[uk]=AEWM
Name[uz]=AEWM
Name[uz@cyrillic]=AEWM
Name[vi]=AEWM
Name[wa]=AEWM
Name[x-test]=xxAEWMxx
Name[zh_CN]=AEWM
Name[zh_TW]=AEWM
Comment=A minimalist window manager
Comment[af]='n Minimale venster bestuurder
Comment[ar]=مدير نوافذ مختزل
Comment[ast]=Un xestor de ventanes minimalista
Comment[be]=Мінімалістычны кіраўнік вокнаў
Comment[be@latin]=Nievialiki akońnik
Comment[bg]=Минималистичен мениджър на прозорци
Comment[bn]=একটি পরিমিত উইণ্ডো ম্যানেজার
Comment[bs]=Minimalistički menadžer prozora
Comment[ca]=Un gestor de finestres minimalista
Comment[ca@valencia]=Un gestor de finestres minimalista
Comment[cs]=Minimalistický správce oken
Comment[csb]=Prosti menadżera òknów
Comment[cy]=Trefnydd ffenestri lleiafol
Comment[da]=En minimalistisk vindueshåndtering
Comment[de]=Minimalistischer Fenstermanager
Comment[el]=Ένας μινιμαλιστικός διαχειριστής παραθύρων
Comment[en_GB]=A minimalist window manager
Comment[eo]=Minimumema fenestroadministrilo
Comment[es]=Un gestor de ventanas minimalista
Comment[et]=Vähenõudlik aknahaldur
Comment[eu]=Leiho-kudeatzaile minimalista bat
Comment[fa]=یک مدیر پنجره کمینه
Comment[fi]=Minimalistinen ikkunointiohjelma
Comment[fr]=Un gestionnaire minimaliste de fenêtres
Comment[fy]=In minimalistyske finstersmanager
Comment[ga]=Bainisteoir íostach fuinneog
Comment[gl]=Un xestor de xanelas minimalista
Comment[gu]=ન્યૂનતમ વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מינימליסטי
Comment[hi]=एक अल्पतम विंडो प्रबंधक
Comment[hne]=एक छोटा विंडो प्रबंधक
Comment[hr]=Minimalistički upravitelj prozora
Comment[hsb]=Minimalny woknowy rjadowar
Comment[hu]=Egy nagyon egyszerű ablakkezelő
Comment[ia]=Un gerente de fenestra minimalist
Comment[id]=Sebuah manajer jendela minimalis
Comment[is]=Einfaldur gluggastjóri
Comment[it]=Un gestore di finestre minimalista
Comment[ja]=小さなウィンドウマネージャ
Comment[ka]=მინიმალისტური ფანჯრების მნეჯერი
Comment[kk]=Шағын терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​តូច
Comment[kn]=ಒಂದು ಅಲ್ಪತಮ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=최소 지향 창 관리자
Comment[ku]=Rêveberê paceyê yekê biçûk
Comment[lt]=Minimalistinė langų tvarkyklė
Comment[lv]=Minimālistisks logu pārvaldnieks
Comment[mai]=एकटा अल्पतम विंडो प्रबंधक
Comment[mk]=Минималистички менаџер на прозорци
Comment[ml]=ലളിതമായ ജാലകപാലകന്‍‌
Comment[mr]=किमान चौकट प्रबंधक
Comment[nb]=En minimalistisk vindusbehandler
Comment[nds]=En minimalistisch Finsterpleger
Comment[ne]=एक मिनिमलिस्ट सञ्झ्याल प्रबन्धक
Comment[nl]=Een minimalistische windowmanager
Comment[nn]=Ein minimalistisk vindaugssjef
Comment[pa]=ਇੱਕ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Minimalistyczny menadżer okien
Comment[pt]=Um gestor de janelas minimalista
Comment[pt_BR]=Um gerenciador de janelas minimalista
Comment[ro]=Un administrator de ferestre minimal
Comment[ru]=Простой диспетчер окон
Comment[se]=Minimalisttalaš lásegieđahalli
Comment[si]=minimalist කවුළු පාලකය
Comment[sk]=Minimalistický správca okien
Comment[sl]=Minimalističen upravljalnik oken
Comment[sr]=Минималистички менаџер прозора
Comment[sr@ijekavian]=Минималистички менаџер прозора
Comment[sr@ijekavianlatin]=Minimalistički menadžer prozora
Comment[sr@latin]=Minimalistički menadžer prozora
Comment[sv]=Minimalistisk fönsterhanterare
Comment[ta]=ஒரு சிறிதுப்படுத்தப்பட்ட சாளர மேலாளர்
Comment[te]=కనీసజాబిత విండో నిర్వాహిక
Comment[tg]=Минимальный оконный менеджер
Comment[th]=ระบบจัดการหน้าต่างขนาดเล็ก
Comment[tr]=Küçük bir pencere yöneticisi
Comment[ug]=ئەڭ كىچىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Аскетичний менеджер вікон
Comment[uz]=Juda oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=Жуда оддий ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ kiểu tối thiểu
Comment[wa]=On manaedjeu des finiesses minimå
Comment[x-test]=xxA minimalist window managerxx
Comment[zh_CN]=最小的窗口管理器
Comment[zh_TW]=一個最小型的視窗管理程式
