[Desktop Entry]
Type=XSession
Exec=afterstep
TryExec=afterstep
Name=AfterStep
Name[af]=AfterStep
Name[ar]=بعد خطوة
Name[ast]=AfterStep
Name[be]=AfterStep
Name[be@latin]=AfterStep
Name[bg]=AfterStep
Name[bn]=আফটার-স্টেপ
Name[bn_IN]=AfterStep
Name[br]=AfterStep
Name[bs]=Afterstep
Name[ca]=AfterStep
Name[ca@valencia]=AfterStep
Name[cs]=AfterStep
Name[csb]=AfterStep
Name[cy]=AfterStep
Name[da]=AfterStep
Name[de]=AfterStep
Name[el]=AfterStep
Name[en_GB]=AfterStep
Name[eo]=Postpaŝo
Name[es]=AfterStep
Name[et]=AfterStep
Name[eu]=AfterStep
Name[fi]=AfterStep
Name[fr]=AfterStep
Name[fy]=AfterStep
Name[ga]=AfterStep
Name[gl]=AfterStep
Name[gu]=આફ્ટરસ્ટેપ
Name[he]=AfterStep
Name[hi]=आफ्टर-स्टेप
Name[hne]=आफ्टर-स्टेप
Name[hr]=AfterStep
Name[hsb]=AfterStep
Name[hu]=AfterStep
Name[ia]=AfterStep
Name[id]=AfterStep
Name[is]=AfterStep
Name[it]=AfterStep
Name[ja]=AfterStep
Name[ka]=AfterStep
Name[kk]=AfterStep
Name[km]=AfterStep
Name[kn]=ಆಫ್ಟರ್ ಸ್ಟೆಪ್
Name[ko]=AfterStep
Name[ku]=AfterStep
Name[lt]=AfterStep
Name[lv]=AfterStep
Name[mai]=आफ्टर-स्टेप
Name[mk]=AfterStep
Name[ml]=ആഫ്റ്റര്‍സ്റ്റെപ്പ്
Name[mr]=आफ्टरस्टेप
Name[ms]=AfterStep
Name[nb]=AfterStep
Name[nds]=AfterStep
Name[ne]=चरण पछाडि
Name[nl]=AfterStep
Name[nn]=AfterStep
Name[pa]=ਪਗਬਾਅਦ
Name[pl]=AfterStep
Name[pt]=AfterStep
Name[pt_BR]=AfterStep
Name[ro]=AfterStep
Name[ru]=AfterStep
Name[se]=AfterStep
Name[si]=AfterStep
Name[sk]=AfterStep
Name[sl]=AfterStep
Name[sr]=Афтерстеп
Name[sr@ijekavian]=Афтерстеп
Name[sr@ijekavianlatin]=AfterStep
Name[sr@latin]=AfterStep
Name[sv]=Afterstep
Name[ta]=ஆஃப்டர்ஸ்டெப்
Name[te]=ఆఫ్టర్ స్టెప్
Name[tg]=AfterStep
Name[th]=AfterStep
Name[tr]=AfterStep
Name[ug]=AfterStep
Name[uk]=AfterStep
Name[uz]=AfterStep
Name[uz@cyrillic]=AfterStep
Name[vi]=AfterStep
Name[wa]=AfterStep
Name[x-test]=xxAfterStepxx
Name[zh_CN]=AfterStep
Name[zh_TW]=AfterStep
Comment=A window manager with the NeXTStep look and feel, based on FVWM
Comment[af]='n Venster bestuurder wat NeXTStep naboots, gebaseer of FVWM
Comment[ar]=مدير نوافذ بمظهر وإحساس NEXTStep مبني على قاعدة FVWM
Comment[ast]=Un xestor de ventanes col aspeutu de NeXTStep, basáu en FVWM
Comment[be]=Кіраўнік вокнаў з вонкавым выглядам NeXTStep, заснаваны на FVWM
Comment[be@latin]=Akońńik, jaki abapirajecca na bazu „FVWM” i vyhladaje, jak systema „NeXTStep”
Comment[bg]=Мениджър на прозорци, подобен на NeXTStep. Базиран на FVWM
Comment[bn]=FVWM-এর ওপর ভিত্তি করে তৈরি একটি উইণ্ডো ম্যানেজার, যা দেখতে শুনতে অনেকটানেক্সট-স্টেপ (NeXTStep)-এর মত
Comment[bs]=Menadžer prozora sa izgledom i osjećajem NeXTStepa, zasnovan na FVVM‑u
Comment[ca]=Un gestor de finestres amb l'aspecte i comportament de NeXTStep, basat en FVWM
Comment[ca@valencia]=Un gestor de finestres amb l'aspecte i comportament de NeXTStep, basat en FVWM
Comment[cs]=Správce oken podobný NeXTStepu založený na FVWM
Comment[csb]=Menadżera òknów jidący w szlach NeXTStep, ùsôdzony na spòdlém FVWM
Comment[cy]= Trefnydd ffenestri efo golwg a theimlad CamNesaf (NeXTStep), wedi'i seilio ar FVWM
Comment[da]=En vindueshåndtering med NeXTStep udseende, baseret på FVWM
Comment[de]=Fenstermanager mit der Optik von NeXTStep, basiert auf FVWM
Comment[el]=Ένας διαχειριστής παραθύρων με την όψη και αίσθηση του NeXTStep, βασισμένος στον FVWM
Comment[en_GB]=A window manager with the NeXTStep look and feel, based on FVWM
Comment[eo]=Fenestroadministrilo, kiu aperas kiel Venontpaŝo, farita de FVWM
Comment[es]=Un gestor de ventanas con el aspecto de NeXTStep, basado en FVWM
Comment[et]=Aknahaldur NeXTStep välimuse ja vaimuga, aluseks FVWM
Comment[eu]=FVWMn oinarritutako eta NeXTStep-en itxura eta portaerako leiho-kudeatzailea
Comment[fa]=یک مدیر پنجره توسط ظاهر و احساس NeXTStep، براساس FVWM
Comment[fi]=NeXTStep-tyylinen ja -tuntuinen FVWM:ään pohjautuva ikkunointiohjelma
Comment[fr]=Un gestionnaire de fenêtres avec l'apparence de type NeXTStep et reposant sur FVWM
Comment[fy]=In finstersmanager mei it úterlik en gedrach fan NeXTStep; basearre op FVWM
Comment[ga]=Bainisteoir fuinneog a bhfuil dealramh aige le NeXTStep, bunaithe ar FVWM
Comment[gl]=Un xestor de xanelas de aspecto NeXTStep, baseado en FVWM
Comment[gu]=NeXTStep દેખાવ ધરાવતું FVWM પર આધારિત વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות עם מראה ותחושה כמו של NeXTStep, מבוסס על FVWM
Comment[hi]=एफ़वीडबल्यूएम आधारित नेक्स्टस्टेप की तरह दिखने और महसूस होने वाला विंडो प्रबंधक
Comment[hne]=एफवीडबल्यूएम आधार से नेक्स्टस्टेप के जइसन दिखे अउ महसूस होए वाला विंडो प्रबंधक
Comment[hr]=Upravitelj prozora s NeXTStep izgledom i načinom rada, zasnovan na FVWM-u
Comment[hsb]=Woknowy rjadowar po NeXTStep, bazuje na FVWM
Comment[hu]=Egy FVWM-alapú ablakkezelő, megjelenése a NeXTStepére hasonlít
Comment[ia]=Un gerente de fenestra con le semblantia de NexStep, basate sur FVWM
Comment[id]=Sebuah manajer jendela dengan tampilan dan rasa NeXTStep, berbasis FVWM
Comment[is]=Gluggastjóri sem líkist þeim sem er í NeXTStep, byggður á FVWM
Comment[it]=Un gestore di finestre con lo stile NeXTStep, basato su FVWM
Comment[ja]=NeXTStep のルック＆フィールをもった FVWM ベースのウィンドウマネージャ
Comment[ka]=ფანჯრის მენეჯერი FVWM -ის ბაზაზე, რომელიც NeXTStep-ს ჰგავს
Comment[kk]=FVWM-негіздеген, көрінісі NeXTStep-те сияқты, терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដោយ​មាន​រូបរាង និង​មុខងារ​របស់ NeXTStep ដែល​មាន​មូលដ្ឋាន​លើ FVWM
Comment[kn]=FVWM ಆಧಾರಿತ NeXTStep ನ ರೂಪ, ಭಾವಗಳನ್ನೊಳಗೊಂಡ ಒಂದು ಕಿಟಕಿ ವ್ಯವಸ್ಧಾಪಕ
Comment[ko]=FVWM 기반 NeXTStep 모양 창 관리자
Comment[ku]=Rêveberê paceyê bi wekî-xuyakirina NeXTStep, di bingeha FVWM de
Comment[lt]=Langų tvarkyklė su NeXTStep išvaizda ir jausena, paremta FVWM
Comment[lv]=Logu pārvaldnieks ar NeXTStep izskatu un izturēšanos, bāzēts uz FVWM
Comment[mai]=एफवीडबल्यूएम आधारित नेक्स्टस्टेपक रूपेँ दिखैबला आओर लागै बला विंडो प्रबंधक
Comment[mk]=Менаџер на прозорци со изгледот и чувството на NeXTStep, базиран на FVWM
Comment[ml]=എഫ്‌വിഡബ്ല്യൂഎംനെ അടിസ്ഥാനമാക്കിയ നെക്സ്റ്റ്സ്റ്റെപ്പിനെ പോലെയുള്ള ഒരു ജാലക നടത്തിപ്പുകാരന്‍
Comment[mr]=FVWM आधारित नेक्स्टस्टेप नुरूप दिसणारा व आभासीत होणारा चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap dengan rupa dan rasa NeXTStep berdasarkan FVWM
Comment[nb]=En vindusbehandler som ligner på NeXTStep, basert på FVWM
Comment[nds]=En Finsterpleger mit dat Utsehn vun NeXTStep, opbuut op FVWM
Comment[ne]=FVWMA आधारित एउटा सञ्झ्याल प्रबन्धक NeXTStep मा हेर्छ र थाहा पाउँछ
Comment[nl]=Een windowmanager met het uiterlijk en gedrag van NeXTStep; gebaseerd op FVWM
Comment[nn]=Ein vindaugssjef som liknar på NeXTStep, basert på FVWM
Comment[pa]=NeXTStep ਦੀ ਦਿੱਖ ਅਤੇ ਦਰਿਸ਼ ਵਾਲਾ FVWM ਆਧਾਰਿਤ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien naśladujący NeXTStep, stworzony na podstawie FVWM
Comment[pt]=Um gestor de janelas com a aparência e comportamento do NeXTStep. Baseado no FVWM.
Comment[pt_BR]=Gerenciador de janelas com a visual do NeXTStep, baseado no FVWM
Comment[ro]=Un administrator de ferestre cu aspect NeXTStep, bazat pe FVWM
Comment[ru]=Диспетчер окон на основе FVWM, повторяющий внешний вид NeXTStep
Comment[se]=Lásegieđahalli mii sulastahttá NeXTStep, vuođđoduvvon FVWM:as
Comment[si]=NeXTStep පෙනුම හා හැඟීම ඇති කවුළු කළමණාකරු, FVWM මත පාදක වූ
Comment[sk]=Správca okien podobný NeXTStep založený na FVWM
Comment[sl]=Upravljalnik oken z občutkom in izgledom NeXTStep-a, na osnovi FVWM
Comment[sr]=Менаџер прозора са изгледом и осећајем Некстстепа, заснован на ФВВМ‑у
Comment[sr@ijekavian]=Менаџер прозора са изгледом и осјећајем Некстстепа, заснован на ФВВМ‑у
Comment[sr@ijekavianlatin]=Menadžer prozora sa izgledom i osjećajem NeXTStepa, zasnovan na FVWM‑u
Comment[sr@latin]=Menadžer prozora sa izgledom i osećajem NeXTStepa, zasnovan na FVWM‑u
Comment[sv]=Fönsterhanterare med Nextstep-utseende och -känsla, baserad på FVWM
Comment[ta]=FVWM அடிப்படையிலான NeXTStep உடனான சாளர மேலாளர்.
Comment[te]=FVWM ఆధారంతో, NeXTStep ఆకృతి మరియు భావముతో ఒక విండో నిర్వాహిక
Comment[tg]=Оконный менеджер на основе FVWM, повторяющий внешний вид NeXTStep
Comment[th]=ระบบจัดการหน้าต่างที่มีรูปแบบและสัมผัสของระบบปฏิบัติการ NeXTStep โดยใช้พื้นฐานของ FVWM
Comment[tr]=NeXTStep görünümlü bir pencere yöneticisi
Comment[ug]=FVWM ئاساسىدىكى NeXTStep كۆرۈنۈش ۋە تۇيغۇسىغا ئىگە كۆزنەك باشقۇرغۇچ
Comment[uk]=Менеджер вікон з виглядом та поведінкою NeXTStep, заснований на FVWM
Comment[uz]=FVWM asosida yaratilgan NeXTStep'ga oʻxshash oyna boshqaruvchi
Comment[uz@cyrillic]=FVWM асосида яратилган NeXTStep'га ўхшаш ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ với giao diện kiểu NeXTStep, dựa trên FVWM
Comment[wa]=On manaedjeu des finiesses avou l' rivnance di NeXTStep, båzé so FVWM
Comment[x-test]=xxA window manager with the NeXTStep look and feel, based on FVWMxx
Comment[zh_CN]=一个带有 NeXTStep 观感的窗口管理器，基于 FVWM
Comment[zh_TW]=一個基於 FVWM 並擁有 NeXTStep 外觀及感覺的視窗管理程式
