[Desktop Entry]
Type=XSession
Exec=amaterus
TryExec=amaterus
Name=AMATERUS
Name[af]=AMATERUS
Name[ar]=AMATERUS
Name[ast]=AMATERUS
Name[be]=AMATERUS
Name[be@latin]=AMATERUS
Name[bg]=AMATERUS
Name[bn]=AMATERUS
Name[bn_IN]=AMATERUS
Name[br]=AMATERUS
Name[bs]=Amaterus
Name[ca]=AMATERUS
Name[ca@valencia]=AMATERUS
Name[cs]=AMATERUS
Name[csb]=AMATERUS
Name[cy]=AMATERUS
Name[da]=AMATERUS
Name[de]=AMATERUS
Name[el]=AMATERUS
Name[en_GB]=AMATERUS
Name[eo]=AMATERUS
Name[es]=AMATERUS
Name[et]=AMATERUS
Name[eu]=AMATERUS
Name[fi]=AMATERUS
Name[fr]=AMATERUS
Name[fy]=AMATERUS
Name[ga]=AMATERUS
Name[gl]=AMATERUS
Name[gu]=AMATERUS
Name[he]=AMATERUS
Name[hi]=एमेच्योर्स
Name[hne]=एमेच्योर्स
Name[hr]=AMATERUS
Name[hsb]=AMATERUS
Name[hu]=AMATERUS
Name[ia]=AMATERUS
Name[id]=AMATERUS
Name[is]=AMATERUS
Name[it]=AMATERUS
Name[ja]=AMATERUS
Name[ka]=AMATERUS
Name[kk]=AMATERUS
Name[km]=AMATERUS
Name[kn]=ಅಮಾಟೆರುಸ್
Name[ko]=AMATERUS
Name[ku]=AMATERUS
Name[lt]=AMATERUS
Name[lv]=AMATERUS
Name[mai]=एमेच्योर्स
Name[mk]=AMATERUS
Name[ml]=അമാറ്ററസ് 
Name[mr]=एमेच्योर्स
Name[ms]=AMATERUS
Name[nb]=AMATERUS
Name[nds]=AMATERUS
Name[ne]=AMATERUS
Name[nl]=AMATERUS
Name[nn]=AMATERUS
Name[pa]=AMATERUS
Name[pl]=AMATERUS
Name[pt]=AMATERUS
Name[pt_BR]=AMATERUS
Name[ro]=AMATERUS
Name[ru]=AMATERUS
Name[se]=AMATERUS
Name[si]=AMATERUS
Name[sk]=AMATERUS
Name[sl]=AMATERUS
Name[sr]=Аматерус
Name[sr@ijekavian]=Аматерус
Name[sr@ijekavianlatin]=AMATERUS
Name[sr@latin]=AMATERUS
Name[sv]=AMATERUS
Name[ta]=AMATERUS
Name[te]=అమాటెరస్
Name[tg]=AMATERUS
Name[th]=AMATERUS
Name[tr]=AMATERUS
Name[ug]=AMATERUS
Name[uk]=AMATERUS
Name[uz]=AMATERUS
Name[uz@cyrillic]=AMATERUS
Name[vi]=AMATERUS
Name[wa]=AMATERUS
Name[x-test]=xxAMATERUSxx
Name[zh_CN]=AMATERUS
Name[zh_TW]=AMATERUS
Comment=A GTK+ based window manager with a window grouping feature
Comment[af]='n GTK+ gebaseerde venster bestuurder met 'n venster groepering funksie
Comment[ar]=مدير نوافذ مبني باستخدام GTK+ مع ميزة تجميع النوافذ
Comment[ast]=Un xestor de ventanes basáu en GTK+ cola funcionalidá d'agrupar ventanes
Comment[be]=Кіраўнік вокнаў, заснаваны на GTK+, са здольнасцю групавання вокнаў
Comment[be@latin]=Akońnik, jaki abapirajecca na bazu „GTK+” i ŭmieje hurtavać vokny
Comment[bg]=GTK+ менджър на прозорци с възможност за групиране на прозорците
Comment[bn]=GTK+ ভিত্তিল উইণ্ডো ম্যানেজার, যাতে উইণ্ডো গ্রুপিং করা যায়
Comment[bs]=Menadžer prozora zasnovan na GTK+-u sa mogućnošću grupisanja prozora
Comment[ca]=Un gestor de finestres de GTK+ amb una característica per a l'agrupament de finestres
Comment[ca@valencia]=Un gestor de finestres de GTK+ amb una característica per a l'agrupament de finestres
Comment[cs]=Správce oken založený na GTK+ s funkcí seskupování oken
Comment[csb]=Menadżera òknów brëkùjący GTK+, z optacëją grëpòwaniô òknów
Comment[cy]=Trefnydd ffenestri wedi'i seilio ar GTK+, efo nodwedd casglu ffenestri
Comment[da]=En GTK+ baseret vindueshåndtering med en vinduesgrupperingsegenskab
Comment[de]=Auf GTK+ basierender Fenstermanager mit Gruppierungsfunktion für die Fenster
Comment[el]=Ένας διαχειριστής παραθύρων βασισμένος στο GTK+ με ένα χαρακτηριστικό ομαδοποίησης παραθύρων
Comment[en_GB]=A GTK+ based window manager with a window grouping feature
Comment[eo]=Fenestroadministrilo kun grupigebleco, kiu uzas GTK+
Comment[es]=Un gestor de ventanas basado en GTK+ con la funcionalidad de agrupar ventanas
Comment[et]=GTK+-le tuginev aknahaldur akende grupeerimise võimalusega
Comment[eu]=GTK+-n oinarritutako leiho-kudeatzailea, leihoak taldekatzeko ezaugarria duena
Comment[fa]=یک GTK+ بر مبنای مدیر پنجره توسط ویژگی گروهی کردن پنجره‌ها
Comment[fi]=GTK+-pohjainen ikkunointiohjelma ikkunoiden ryhmittely -ominaisuudella
Comment[fr]=Un gestionnaire de fenêtres écrit en GTK+ avec une fonctionnalité de regroupement de fenêtres
Comment[fy]=In op GTK+ basearre finstersmanager mei finsterkeppelfûnksje
Comment[ga]=Bainisteoir fuinneog bunaithe ar GTK+ le grúpáil fhuinneog
Comment[gl]=Un xestor de xanelas baseado en GTK+ con agrupamento de xanelas
Comment[gu]=GTK+ આધારિત વિન્ડો સમૂહની લાક્ષણિકતા ધરાવતું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מבוסס GTK+‎ עם אפשרות לקיבוץ חלונות
Comment[hi]=जीटीके+ आधारित विंडो प्रबंधक, विंडो समूह विशेषता सहित
Comment[hne]=जीटीके+ आधार से विंडो प्रबंधक, विंडो समूह विसेसता सहित
Comment[hr]=Upravitelj prozora zasnovan na GTK+ s mogućnošću grupiranja prozora
Comment[hsb]=Woknowy rjadowar, bazowacy na GTK+, z móžnosću wokna do skupinow zjeć
Comment[hu]=Egy GTK+-alapú ablakkezelő ablakcsoportosítási lehetőséggel
Comment[ia]=Un gerente de fenestras basate sur GTK+ con characteristic de gruppar
Comment[id]=Sebuah manajer jendela berbasis GTK+ dengan fitur pengelompokan jendela
Comment[is]=Gluggastjóri sem hópar saman glugga og er byggður á GTK+
Comment[it]=Un gestore di finestre basato su GTK+ con una capacità di raggruppare le finestre
Comment[ja]=ウィンドウのグループ化が可能な GTK+ ベースのウィンドウマネージャ
Comment[ka]=ფანჯრის მენეჯერი GTK+ ს ბაზაზე ფანჯრების დაჯგუფების ფუნქციით
Comment[kk]=GTK+ негіздеген, терезелерді топтастыру қасиеті бар, терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែលមាន​មូលដ្ឋាន​លើ GTK+ ជាមួយ​នឹង​លក្ខណៈ​ពិសេស​ដែល​ដាក់​ក្រុម​បង្អួច
Comment[kn]=ಒಂದು GTK+ ಆಧಾರಿತ, ಕಿಟಕಿ ಸಮೂಹನೀಯ ವೈಶಿಷ್ಟ್ಯವನ್ನೊಳಗೊಂಡ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=창 그룹 기능을 사용하는 GTK+ 기반 창 관리자
Comment[ku]=Rêveberê paceyê di bingeha GTK+ de, bi taybeta komkirina pace yan re
Comment[lt]=GTK+ paremta langų tvarkyklė su langų grupavimo galimybe
Comment[lv]=GTK+ bāzēts logu pārvaldnieks ar logu grupēšanas iespēju
Comment[mai]=जीटीके+ आधारित विंडो प्रबंधक, विंडो समूह विशेषता सहित
Comment[mk]=GTK+ базиран менаџер на прозорци со можност за групирање на прозорци
Comment[ml]=ജാലകങ്ങളെ ഗ്രൂപ്പ് ചെയ്യാന്‍ കഴിയുന്ന ജിടികെ+നേ അടിസ്ഥാനമാക്കിയ ജാലകപാലകന്‍
Comment[mr]=GTK+ आधारित चौकट प्रबंधक, चौकट समूह विशेषता सहित
Comment[nb]=En GTK+-basert vindusbehandler med vindusgruppering
Comment[nds]=En Finsterpleger opbuut op GTK+, kann Finstern in Koppeln tosamenfaten
Comment[ne]=सञ्झ्याल समूह विशेषतासँग GTK+ मा आधारित सञ्झ्याल प्रबन्धक
Comment[nl]=Een op GTK+ gebaseerde windowmanager met venstergroeperingfunctionaliteit
Comment[nn]=Ein GTK+-basert vindaugssjef med vindaugsgruppering
Comment[pa]=ਇੱਕ GTK+ ਤੇ ਆਧਾਰਿਤ ਵਿੰਡੋ ਮੈਨੇਜਰ, ਜੋ ਕਿ ਵਿੰਡੋਜ਼ ਨੂੰ ਇੱਕ ਥਾਂ ਸੰਭਾਲਣ ਦੀ ਸਹੂਲਤ ਨਾਲ ਲੈੱਸ ਹੈ।
Comment[pl]=Menadżer okien korzystający z GTK+, z opcją grupowania okien
Comment[pt]=Um gestor de janelas baseado em GTK+ com uma funcionalidade de agrupamento de janelas
Comment[pt_BR]=Um gerenciador de janelas baseado em GTK+, com o recurso de agrupamento de janelas
Comment[ro]=Un administrator de ferestre bazat pe GTK+ și cu posibilitatea de grupare a ferestrelor
Comment[ru]=Диспетчер окон на основе GTK+ c функцией группировки окон
Comment[se]=GTK+-vuođđoduvvon lásegieđahalli mii sáhttá sierra lásiid bidjat seamma joavkui
Comment[si]=කවුළු කාණ්ඩගත කිරීමේ විශේෂාංගයද සහිත GTK+ පාදක කරගත් කවුළු කළමණාකරු
Comment[sk]=Správca okien založený na GTK+ s funkciou zoskupovania okien
Comment[sl]=Upravljalnik oken na osnovi GTK+ z zmožnostjo združevanja oken
Comment[sr]=Менаџер прозора заснован на ГТК+-у са могућношћу груписања прозора
Comment[sr@ijekavian]=Менаџер прозора заснован на ГТК+-у са могућношћу груписања прозора
Comment[sr@ijekavianlatin]=Menadžer prozora zasnovan na GTK+-u sa mogućnošću grupisanja prozora
Comment[sr@latin]=Menadžer prozora zasnovan na GTK+-u sa mogućnošću grupisanja prozora
Comment[sv]=GTK+-baserad fönsterhanterare med en funktion för fönstergruppering
Comment[ta]=சாளர குழுப்பிரித்தல் தன்மையுடனான சாளர மேலாளர் அடிப்படையிலான GTK+.
Comment[te]=విండో గ్రూపింగ్ సౌలభ్యంతో GTK+ ఆధారిత విండో నిర్వాహిక
Comment[tg]=Оконный менеджер на основе GTK+ c функцией группировки окон
Comment[th]=ตัวจัดการหน้าต่างที่ใช้พื้นฐานจาก GTK+ พร้อมด้วยความสามารถในการจัดกลุ่มหน้าต่าง
Comment[tr]=GTK+ tabanlı bir pencere yöneticisi
Comment[ug]=GTK+ ئاساسىدىكى كۆزنەك باشقۇرغۇچ، كۆزنەك گۇرۇپپىلاش ئىقتىدارى بار
Comment[uk]=Менеджер вікон заснований на GTK+ з підтримкою групування вікон
Comment[uz]=A GTK+ asosida yaratilgan, oynalarni guruhlash imkoniyatiga ega oyna boshqaruvchi
Comment[uz@cyrillic]=A GTK+ асосида яратилган, ойналарни гуруҳлаш имкониятига эга ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ với khả năng tạo nhóm cửa sổ dựa trên GTK+
Comment[wa]=On manaedjeu des finiesses båzé so GTK+, avou ene fonccionålité di rgroupaedje des fniesses
Comment[x-test]=xxA GTK+ based window manager with a window grouping featurexx
Comment[zh_CN]=一个基于 GTK+ 的窗口管理器，具有窗口分组功能
Comment[zh_TW]=一個基於 GTK+ 的視窗管理程式並擁有視窗群組功能
