[Desktop Entry]
Type=XSession
Exec=amiwm
TryExec=amiwm
Name=AmiWM
Name[af]=AmiWM
Name[ar]=AmiWM
Name[ast]=AmiWM
Name[be]=AmiWM
Name[be@latin]=AmiWM
Name[bg]=AmiWM
Name[bn]=AmiWM
Name[bn_IN]=AmiWM
Name[br]=AmiWM
Name[bs]=AmiVM
Name[ca]=AmiWM
Name[ca@valencia]=AmiWM
Name[cs]=AmiWM
Name[csb]=AmiWM
Name[cy]=AmiWM
Name[da]=AmiWM
Name[de]=AmiWM
Name[el]=AmiWM
Name[en_GB]=AmiWM
Name[eo]=AmiFA
Name[es]=AmiWM
Name[et]=AmiWM
Name[eu]=AmiWM
Name[fi]=AmiWM
Name[fr]=AmiWM
Name[fy]=AmiWM
Name[ga]=AmiWM
Name[gl]=AmiWM
Name[gu]=AmiWM
Name[he]=AmiWM
Name[hi]=एमी-डबल्यूएम
Name[hne]=एमी-डबल्यूएम
Name[hr]=AmiWM
Name[hsb]=AmiWM
Name[hu]=AmiWM
Name[ia]=AmiWM
Name[id]=AmiWM
Name[is]=AmiWM
Name[it]=AmiWM
Name[ja]=AmiWM
Name[ka]=AmiWM
Name[kk]=AmiWM
Name[km]=AmiWM
Name[kn]=ಅಮಿWM
Name[ko]=AmiWM
Name[ku]=AmiWM
Name[lt]=AmiWM
Name[lv]=AmiWM
Name[mai]=एमी-डबल्यूएम
Name[mk]=AmiWM
Name[ml]=അമിഡബ്ല്യൂഎം
Name[mr]=AmiWM
Name[ms]=AmiWM
Name[nb]=AmiWM
Name[nds]=AmiWM
Name[ne]=AmiWM
Name[nl]=AmiWM
Name[nn]=AmiWM
Name[pa]=AmiWM
Name[pl]=AmiWM
Name[pt]=AmiWM
Name[pt_BR]=AmiWM
Name[ro]=AmiWM
Name[ru]=AmiWM
Name[se]=AmiWM
Name[si]=AmiWM
Name[sk]=AmiWM
Name[sl]=AmiWM
Name[sr]=АмиВМ
Name[sr@ijekavian]=АмиВМ
Name[sr@ijekavianlatin]=AmiWM
Name[sr@latin]=AmiWM
Name[sv]=Ami WM
Name[ta]=AmiWM
Name[te]=ఎమి డబ్ల్యు ఎం
Name[tg]=AmiWM
Name[th]=AmiWM
Name[tr]=AmiWM
Name[ug]=AmiWM
Name[uk]=AmiWM
Name[uz]=AmiWM
Name[uz@cyrillic]=AmiWM
Name[vi]=AmiWM
Name[wa]=AmiWM
Name[x-test]=xxAmiWMxx
Name[zh_CN]=AmiWM
Name[zh_TW]=AmiWM
Comment=The Amiga look-alike window manager
Comment[af]='n Amiga gebaseerde venster bestuurder
Comment[ar]=مدير نوافذ مشابه لـ Amiga
Comment[ast]=Un xestor de ventanes col aspeutu d'Amiga
Comment[be]=Кіраўнік вокнаў, падобны на Amiga
Comment[be@latin]=Akońnik, jaki vyhladaje, jak systema „Amiga”
Comment[bg]=Мениджър на прозорци в стил "Amiga"
Comment[bn]=অ্যামিগার মত দেখতে উইণ্ডো ম্যানেজার
Comment[bs]=Menadžer prozora koji podsjeća na amigin
Comment[ca]=Un gestor de finestres que dóna l'aspecte d'un Amiga
Comment[ca@valencia]=Un gestor de finestres que dóna l'aspecte d'un Amiga
Comment[cs]=Správce oken podobný Amize
Comment[csb]=Menadżera òknów szlachùjący za Amiga
Comment[cy]=Trefnydd ffenestri sy'n edrych yn debyg i'r Amiga
Comment[da]=Amiga-lignende vindueshåndtering
Comment[de]=Fenstermanager im Stil des Amiga
Comment[el]=Ο διαχειριστής παραθύρων με όψη αλά Amiga
Comment[en_GB]=The Amiga look-alike window manager
Comment[eo]=Fenestroadministrilo kiel tiu de Amiga
Comment[es]=Un gestor de ventanas con el aspecto de Amiga
Comment[et]=Amiga välimusega aknahaldur
Comment[eu]=Amiga-ren itxura duen leiho-kudeatzailea
Comment[fa]=Amiga شبیه مدیر پنجره
Comment[fi]=Amigan tyylinen ikkunointiohjelma
Comment[fr]=Le gestionnaire de fenêtres ressemblant à Amiga
Comment[fy]=In Amiga-likens finstersmanager
Comment[ga]=Bainisteoir fuinneog cosúil le hAmiga
Comment[gl]=Un xestor de xanelas co aspecto do Amiga
Comment[gu]=અમિગા જેવું-દેખાતું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות דמוי Amiga
Comment[hi]=अमीगा की तरह दिखने वाला विंडो प्रबंधक
Comment[hne]=अमीगा के जइसन दिखे वाले विंडो प्रबंधक
Comment[hr]=Upravitelj prozora koji podsjeća na Amigu
Comment[hsb]=Woknowy rjadowar w Amiga-stilu
Comment[hu]=Egy Amiga-szerű ablakkezelő
Comment[ia]=Le gerente de fenestra similante Amiga
Comment[id]=Sebuah manajer jendela mirip Amiga
Comment[is]=Gluggastjóri sem líkist Amiga tölvunum
Comment[it]=Un gestore di finestre in stile Amiga
Comment[ja]=Amiga に似たウィンドウマネージャ
Comment[ka]=ფანჯრის მენეჯერი Amiga-ს სტილში
Comment[kk]=Amiga секілді терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រប់​បង្អួច​ស្រដៀង​នឹង Amiga
Comment[kn]=ಅಮೀಗಾ ನ ತದ್ರೂಪು ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Amiga를 닮은 창 관리자
Comment[ku]=Rêveberê paceyê wekî-xuyakirina Amiga
Comment[lt]=Langų tvarkyklė, panaši į Amiga
Comment[lv]=Amiga izskata logu pārvaldnieks
Comment[mai]=अमीगाक रूपेँ लागै बला विंडो प्रबंधक
Comment[mk]=Менаџер на прозорци со изглед на Amiga
Comment[ml]=അമിഗാ പോലുള്ള ജാലകപാലകന്‍
Comment[mr]=अमीगा नुरूप दिसणारा चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap serupa Amiga
Comment[nb]=Vindusbehandler som ligner på Amiga
Comment[nds]=De Finsterpleger mit dat Utsehn vun den Amiga
Comment[ne]=अमिगा सञ्झ्याल प्रबन्धक जस्तो छ
Comment[nl]=Een Amiga-achtige windowmanager
Comment[nn]=Vindaugssjef som liknar på Amiga
Comment[pa]=ਅਮੀਗਾ ਵਰਗਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien naśladujący Amigę
Comment[pt]=O gestor de janelas com o visual do Amiga
Comment[pt_BR]=Um gerenciador de janelas com a aparência do Amiga
Comment[ro]=Administrator de ferestre cu aspect Amiga
Comment[ru]=Диспетчер окон в стиле Amiga
Comment[se]=Amiga-lágan lásegieđahalli
Comment[si]=Amiga වැනි පෙනුමක් ඇති කවුළු කළමණාකරු
Comment[sk]=Správca okien podobný systému Amiga
Comment[sl]=Upravljalnik oken, podoben Amiginemu
Comment[sr]=Менаџер прозора који подсећа на амигин
Comment[sr@ijekavian]=Менаџер прозора који подсјећа на амигин
Comment[sr@ijekavianlatin]=Menadžer prozora koji podsjeća na Amigin
Comment[sr@latin]=Menadžer prozora koji podseća na Amigin
Comment[sv]=Fönsterhanteraren som ser ut som Amiga
Comment[ta]=சாளர மேலாளரை ஒத்த அமிகா
Comment[te]=అమిగా లుక్-ఎలైక్ విండో నిర్వాహిక
Comment[tg]=Оконный менеджер в стиле Amiga
Comment[th]=ระบบจัดการหน้าต่างที่ดูเหมือน Amiga
Comment[tr]=Amiga görünümlü bir pencere yöneticisi
Comment[ug]=Amiga غا ئوخشاش كۆزنەك باشقۇرغۇچ
Comment[uk]=Менеджер вікон на штиб Amiga
Comment[uz]=Amiga'ga oʻxshash oyna boshqaruvchi
Comment[uz@cyrillic]=Amiga'га ўхшаш ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ nhìn giống Amiga
Comment[wa]=On manaedjeu des fniesses rishonnant å ci di l' Amiga
Comment[x-test]=xxThe Amiga look-alike window managerxx
Comment[zh_CN]=类似 Amiga 的窗口管理器
Comment[zh_TW]=一個看起來像 Amiga 視窗管理程式
