[Desktop Entry]
Type=XSession
Exec=asclassic
TryExec=asclassic
Name=ASClassic
Name[af]= ASClassic
Name[ar]=ASClassic
Name[ast]=ASClassic
Name[be]=ASClassic
Name[be@latin]=ASClassic
Name[bg]=ASClassic
Name[bn]=ASClassic
Name[bn_IN]=ASClassic
Name[br]=ASClassic
Name[bs]=ASKlasik
Name[ca]=ASClassic
Name[ca@valencia]=ASClassic
Name[cs]=ASClassic
Name[csb]=ASClassic
Name[cy]=ASClasurol
Name[da]=ASClassic
Name[de]=ASClassic
Name[el]=ASClassic
Name[en_GB]=ASClassic
Name[eo]=KlasikaPP
Name[es]=ASClassic
Name[et]=ASClassic
Name[eu]=ASClassic
Name[fi]=ASClassic
Name[fr]=ASClassic
Name[fy]=ASClassic
Name[ga]=ASClassic
Name[gl]=ASClassic
Name[gu]=ASClassic
Name[he]=ASClassic
Name[hi]=एएस-क्लॉसिक
Name[hne]=एएस-क्लासिक
Name[hr]=ASClassic
Name[hsb]=ASClassic
Name[hu]=ASClassic
Name[ia]=ASClassic
Name[id]=ASClassic
Name[is]=ASClassic
Name[it]=ASClassic
Name[ja]=ASClassic
Name[ka]=ASClassic
Name[kk]=ASClassic
Name[km]=ASClassic
Name[kn]=ಎಎಸ್ ಕ್ಲಾಸಿಕ್
Name[ko]=ASClassic
Name[ku]=ASClassic
Name[lt]=ASClassic
Name[lv]=ASClassic
Name[mai]=एएस-क्लासिक
Name[mk]=ASClassic
Name[ml]=ആഎസ് ക്ലാസിക്ക്
Name[mr]=एएसक्लॉसिक
Name[ms]=ASClassic
Name[nb]=ASClassic
Name[nds]=ASClassic
Name[ne]=AS शास्त्रीय
Name[nl]=ASClassic
Name[nn]=ASClassic
Name[pa]=ASClassic
Name[pl]=ASClassic
Name[pt]=ASClassic
Name[pt_BR]=ASClassic
Name[ro]=ASClassic
Name[ru]=ASClassic
Name[se]=ASClassic
Name[si]=ASClassic
Name[sk]=ASClassic
Name[sl]=ASClassic
Name[sr]=АСКласик
Name[sr@ijekavian]=АСКласик
Name[sr@ijekavianlatin]=ASClassic
Name[sr@latin]=ASClassic
Name[sv]=AS klassisk
Name[ta]=ASதரமான
Name[te]=ఏఎస్ క్లాసిక్
Name[tg]=ASClassic
Name[th]=ASClassic
Name[tr]=ASClassic
Name[ug]=ASClassic
Name[uk]=ASClassic
Name[uz]=ASClassic
Name[uz@cyrillic]=ASClassic
Name[vi]=ASClassic
Name[wa]=ASClassic
Name[x-test]=xxASClassicxx
Name[zh_CN]=AfterStep 经典
Name[zh_TW]=ASClassic
Comment=AfterStep Classic, a window manager based on AfterStep v1.1
Comment[af]=AfterStep Classic, 'n venster bestuurder wat op AfterStep v1.1 gebaseer is.
Comment[ar]=مدير نوافذ AfterStep ، مبني على مدير نوافذ الإصدار AfterStep 1.1
Comment[ast]=AfterStep Classic, un xestor de ventanes basáu n'AfterStep v1.1
Comment[be]=Класічны AfterStep, кіраўнік вокнаў, заснаваны на AfterStep 1.1
Comment[be@latin]=Akońnik „AfterStep Classic”, jaki abapirajecca na bazu „AfterStep 1.1”
Comment[bg]=AfterStep Classic, мениджър на прозорци на базата на AfterStep v1.1
Comment[bn]=আফটার-স্টেপ ক্লাসিক: আফটার-স্টেপ ১.১ ভিত্তিক একটি উইণ্ডো ম্যানেজার 
Comment[bs]=Klasični Afterstep, zasnovan na verziji 1.1 tog menadžera
Comment[ca]=El clàssic AfterStep, un gestor de finestres basat en AfterStep v1.1
Comment[ca@valencia]=El clàssic AfterStep, un gestor de finestres basat en AfterStep v1.1
Comment[cs]=AfterStep Classic, správce oken založený na AfterStepu v1.1
Comment[csb]=AfterStep Classic, menadżera òknów ùsôdzony na spòdlém AfterStep v1.1
Comment[cy]=ÔlGam Clasurol, trefnydd ffenestri wedi'i seilio ar AfterStep v1.1
Comment[da]=AfterStep Classic, en vindueshåndtering baseret på AfterStep v1.1
Comment[de]=AfterStep Classic, ein Fenstermanager, der auf AfterStep v1.1 basiert
Comment[el]=AfterStep κλασικός, ένας διαχειριστής παραθύρων βασισμένος στον AfterStep v1.1
Comment[en_GB]=AfterStep Classic, a window manager based on AfterStep v1.1
Comment[eo]=Klasika Postpaŝo, fenestroadministrilo kiel Postpaŝo v1.1
Comment[es]=AfterStep Classic, un gestor de ventanas basado en AfterStep v1.1
Comment[et]=AfterStep Classic - aknahaldur, mille aluseks on AfterStep v1.1
Comment[eu]=AfterStep Classic, AfterStep v1.1-en oinarritutako leiho-kudeatzailea
Comment[fa]=AfterStep کلاسیک، مدیر پنجره بر اساس AfterStep نسخه ۱.۱
Comment[fi]=AfterStep Classic, After Step v1.1:een pohjautuva ikkunointiohjelma
Comment[fr]=AfterStep Classic, un gestionnaire de fenêtres reposant sur AfterStep v1.1
Comment[fy]=AfterStep Classic, In finstersmanager basearre op AfterStep 1.1
Comment[ga]=AfterStep Clasaiceach, bainisteoir fuinneog bunaithe ar AfterStep leagan 1.1
Comment[gl]=AfterStep Clásico, un xestor de xanelas baseado en AfterStep v1.1
Comment[gu]=આફ્ટરસ્ટેપ ક્લાસિક, AfterStep v૧.૧ પર આધારિત વિન્ડો વ્યવસ્થાપક
Comment[he]=‏AfterStep Classic, מנהל חלונות המבוסס על AfterStep v1.1
Comment[hi]=आफ्टरस्टेप क्लासिक, एक विंडो प्रबंधक जो आफ्टरस्टेप सं.1.1 पर आधारित है
Comment[hne]=आफ्टरस्टेप क्लासिक, एक विंडो प्रबंधक जऊन आफ्टरस्टेप सं.1.1 के आधार से बने हे
Comment[hr]=Klasični AfterStep, upravitelj prozora zasnovan na AfterStepu verzija 1.1
Comment[hsb]=AfterStep Classic, woknowy rjadowar bazowacy na AfterStep v1.1
Comment[hu]=AfterStep Classic ablakkezelő, az AfterStep v1.1 alapján
Comment[ia]=AfterStep Classic, un gerente de fenestra basate sur AfterStep v1.1
Comment[id]=AfterStep Classic, sebuah manajer jendela berbasis AfterStep v1.1
Comment[is]=Klassískur AfterStep gluggastjóri byggður á AfterStep v1.1
Comment[it]=AfterStep Classico, un gestore di finestre basato su AfterStep v1.1
Comment[ja]=AfterStep クラシック, AfterStep v1.1 ベースのウィンドウマネージャ
Comment[ka]=AfterStep Classic, ფანჯრის მენეჯერი AfterStep v1.1 -ის ბაზაზე
Comment[kk]=AfterStep v1.1 негіздеген AfterStep Classic терезе менеджері
Comment[km]=AfterStep បុរាណ កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែល​ផ្អែក​លើ AfterStep v1.1
Comment[kn]=AfterStep ಆವೃತ್ತಿ 1.1 ಆಧರಿತವಾದ AfterStep ಸಾಂಪ್ರದಾಯಿಕ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=AfterStep 1.1 기반 창 관리자
Comment[ku]=AfterStep Classic, rêveberê paceyê bi bingeha AfterStep v1.1 de
Comment[lt]=AfterStep Classic, langų tvarkyklė, paremta AfterStep v1.1
Comment[lv]=Klasiskais Afterstep, logu pārvaldnieks bāzēts uz AfterStem v1.1
Comment[mai]=आफ्टरस्टेप क्लासिक, एकटा विंडो प्रबंधक जे आफ्टरस्टेप सं.1.1 पर आधारित अछि
Comment[mk]=AfterStep Classic, менаџер на прозорци базиран на AfterStep v1.1
Comment[ml]=ആഫ്റ്റര്‍സ്റ്റെപ്പ് നിത്യഹരിതം, ആഫ്റ്റര്‍സ്റ്റെപ്പ് 1.1 നെ അടിസ്ഥാനമാക്കിയ ജാലക കാര്യസ്ഥന്‍
Comment[mr]=आफ्टरस्टेप क्लासिक, आफ्टरस्टेप v1.1 वर आधारित एक चौकट प्रबंधक
Comment[nb]=AfterStep Classic, en vindusbehandler basert på AfterStep v1.1
Comment[nds]=De AfterStepClassic-Finsterpleger is opbuut op AfterStep v1.1
Comment[ne]=AfterStep शास्त्रीय, AfterStep v१.१ मा आधारित सञ्झ्याल प्रबन्धक
Comment[nl]=AfterStep Classic, een windowmanager gebaseerd op AfterStep 1.1
Comment[nn]=AfterStep Classic, ein vindaugssjef som byggjer på AfterStep 1.1
Comment[pa]=AfterStep ਟਕਸਾਲੀ, AfterStep v1.1 ਤੇ ਆਧਾਰਿਤ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=AfterStep Classic, menadżer okien stworzony na podstawie AfterStep v1.1
Comment[pt]=AfterStep Classic, um gestor de janelas baseado no AfterStep v1.1
Comment[pt_BR]=AfterStep clássico, um gerenciador de janelas baseado no AfterStep v1.1
Comment[ro]=AfterStep Classic, un manager de ferestre bazat pe AfterStep v1.1
Comment[ru]=AfterStep Classic, диспетчер окон на основе AfterStep v1.1
Comment[se]=AfterStep Classic, lásegieđahalli ráhkaduvvon AfterStep 1.1 vuođul
Comment[si]=AfterStep සම්මතc, AfterStep v1.1 මත පාදක වූ කවුළු කළමණාකරු
Comment[sk]=AfterStep Classic, správca okien založený na AfterStep v1.1
Comment[sl]=AfterStep Classic, upravljalnik oken na osnovi AfterStep različice 1.1
Comment[sr]=Класични Афтерстеп, заснован на верзији 1.1 тог менаџера
Comment[sr@ijekavian]=Класични Афтерстеп, заснован на верзији 1.1 тог менаџера
Comment[sr@ijekavianlatin]=Klasični AfterStep, zasnovan na verziji 1.1 tog menadžera
Comment[sr@latin]=Klasični AfterStep, zasnovan na verziji 1.1 tog menadžera
Comment[sv]=Afterstep klassisk, en fönsterhanterare baserad på Afterstep version 1.1
Comment[ta]=ஆஃப்டர்ஸ்டெப் க்ளாசிக், ஆஃப்டர்ஸ்டெப் க்ளாசிக் v1.1 அடிப்படையிலான சாளர மேலாளர்
Comment[te]=ఆఫ్టర్‌స్టెప్ క్లాసిక్, ఆఫ్టర్‌స్టెప్ v1.1 ఆధారంతో విండో నిర్వాహిక
Comment[tg]=AfterStep Classic, оконный менеджер на основе AfterStep v1.1
Comment[th]=AfterStep Classic คือระบบจัดการหน้าต่างที่ใช้ฐานของอาฟเตอร์สเตปเวอร์ชั่น 1.1
Comment[tr]=AfterStep Classic pencere yöneticisi
Comment[ug]=AfterStep v1.1 ئاساسىدىكى AfterStep كلاسسىك كۆزنەك باشقۇرغۇچ
Comment[uk]=AfterStep Classic, менеджер вікон, заснований на AfterStep v1.1
Comment[uz]=AfterStep Classic - AfterStep v1.1 asosida yaratilgan oyna boshqaruvchi
Comment[uz@cyrillic]=AfterStep Classic - AfterStep v1.1 асосида яратилган ойна бошқарувчи
Comment[vi]=AfterStep Classic, một trình quản lý cửa sổ dựa trên AfterStep v1.1
Comment[wa]=AfterStep Classic, on manaedjeu des fniesses båzé so AfterStep v1.1
Comment[x-test]=xxAfterStep Classic, a window manager based on AfterStep v1.1xx
Comment[zh_CN]=AfterStep 经典，一个基于 AfterStep v1.1 的窗口管理器
Comment[zh_TW]=AfterStep 經典， 一個基於 AfterStep v1.1 的視窗管理程式
