[Desktop Entry]
Type=XSession
Exec=/usr/dt/bin/Xsession
TryExec=/usr/dt/bin/Xsession
Name=CDE
Name[af]=CDE
Name[ar]=CDE
Name[as]=CDE
Name[ast]=CDE
Name[be]=CDE
Name[be@latin]=CDE
Name[bg]=CDE
Name[bn]=CDE
Name[bn_IN]=CDE
Name[br]=CDE
Name[bs]=CDE
Name[ca]=CDE
Name[ca@valencia]=CDE
Name[cs]=CDE
Name[csb]=CDE
Name[cy]=CDE
Name[da]=CDE
Name[de]=CDE
Name[el]=CDE
Name[en_GB]=CDE
Name[eo]=CDE
Name[es]=CDE
Name[et]=CDE
Name[eu]=CDE
Name[fi]=CDE
Name[fr]=CDE
Name[fy]=CDE
Name[ga]=CDE
Name[gl]=CDE
Name[gu]=CDE
Name[he]=CDE
Name[hi]=सीडीई
Name[hne]=सीडीई
Name[hr]=CDE
Name[hsb]=CDE
Name[hu]=CDE
Name[ia]=CDE
Name[id]=CDE
Name[is]=CDE
Name[it]=CDE
Name[ja]=CDE
Name[ka]=CDE
Name[kk]=CDE
Name[km]=CDE
Name[kn]=ಸಿಡಿಇ
Name[ko]=CDE
Name[ku]=CDE
Name[lt]=CDE
Name[lv]=CDE
Name[mai]=CDE
Name[mk]=CDE
Name[ml]=സിഡിഇ
Name[mr]=CDE
Name[ms]=CDE
Name[nb]=CDE
Name[nds]=CDE
Name[ne]=CDE
Name[nl]=CDE
Name[nn]=CDE
Name[or]=CDE
Name[pa]=CDE
Name[pl]=CDE
Name[pt]=CDE
Name[pt_BR]=CDE
Name[ro]=CDE
Name[ru]=CDE
Name[se]=CDE
Name[si]=CDE
Name[sk]=CDE
Name[sl]=CDE
Name[sr]=ЦДЕ
Name[sr@ijekavian]=ЦДЕ
Name[sr@ijekavianlatin]=CDE
Name[sr@latin]=CDE
Name[sv]=CDE
Name[ta]=CDE
Name[te]=సిడిఈ
Name[tg]=CDE
Name[th]=รูปแบบ CDE
Name[tr]=CDE
Name[ug]=CDE
Name[uk]=CDE
Name[uz]=CDE
Name[uz@cyrillic]=CDE
Name[vi]=CDE
Name[wa]=CDE
Name[xh]=CDE
Name[x-test]=xxCDExx
Name[zh_CN]=CDE
Name[zh_TW]=CDE
Comment=The Common Desktop Environment, a proprietary industry standard desktop environment
Comment[af]=Die 'Common Desktop Environment', 'n beskermde, industrie standaard werkskerm omgewing
Comment[ar]=بيئة سطح المكتب المشترك, بيئة سطح مكتب مملوكة شائعة
Comment[ast]=El Common Desktop Environment, un standard nos entornos d'escritoriu propietarios
Comment[be]=Common Desktop Environment, прапрыетарнае стандартнае працоўнае асяроддзе
Comment[be@latin]=Asiarodździe „Common Desktop Environment” dla ŭłaśnickich systemaŭ
Comment[bg]=Common Desktop Environment, собственическа работна среда по индустриален стандарт
Comment[bn]=কমন ডেস্কটপ এনভায়রনমেন্ট (Common Desktop Environment), একটি মালিকানাধীন ইনডাস্ট্রি স্ট্যান্ডার্ড
Comment[bs]=„Zajedničko okruženje površi“ (Common Desktop Environment), industrijski standard vlasničkih okruženja
Comment[ca]=The Common Desktop Environment, l'entorn d'escriptori estàndard de la indústria propietària
Comment[ca@valencia]=The Common Desktop Environment, l'entorn d'escriptori estàndard de la indústria propietària
Comment[cs]=The Common Desktop Environment, průmyslový standard pracovního prostředí 
Comment[csb]=Common Desktop Environment, sztandardowé industrëjné òkrãże pùltu
Comment[cy]=Yr Amgylchedd Penbwrdd Cyffredin (Common Desktop Environment), amgylchedd penbwrdd perchnogol sy'n safonol yn y diwydiant
Comment[da]=Common Desktop Environment, et privatejet industristandard skrivebordsmiljø
Comment[de]=Das Common Desktop Environment, eine proprietäre Arbeitsumgebung und ein Industriestandard
Comment[el]=To Common Desktop Environment, ένα βιομηχανικό πρότυπο επιφάνειας εργασίας
Comment[en_GB]=The Common Desktop Environment, a proprietary industry standard desktop environment
Comment[eo]=La Common Desktop Environment, kiu estas proprieta industria norma labortabla ĉirkaŭaĵo
Comment[es]=El Common Desktop Environment, un estándar en los entornos de escritorio propietarios
Comment[et]=Üldine töölaua keskond (Common Desktop Environment) on kaubanduslik standardne töölaua keskkond
Comment[eu]=Common Desktop Environment, industrian estandarra den mahaigain-ingurune propietario bat
Comment[fa]=محیط رومیزی مشترک، محیط رومیزی استاندارد صنعت اختصاصی
Comment[fi]=Common Desktop Environment, patentoitu työpöytäympäristöjen teollisuusstandardi
Comment[fr]=« Common Desktop Environment », un environnement de bureau propriétaire standard dans l'industrie
Comment[fy]=The Common Desktop Environment, In kommersjele yndustrieel standerdisearre buroblêd omwrâld
Comment[ga]=Common Desktop Environment (CDE), timpeallacht deisce dílsithe tionscalchaighdeánach
Comment[gl]=O Common Desktop Environment, un sistema de escritorio propietario estándar da industria
Comment[gu]=કોમન ડેસ્કટોપ એન્વાર્યમેન્ટ, ખાનગી ઔધોગિક પ્રમાણભૂત ડેસ્કટોપ એન્વાર્યમેન્ટ
Comment[he]=‏Common Desktop Environment, סביבת שולחן עבודה קניינית סטנדרטית בתעשייה
Comment[hi]=कॉमन डेस्कटॉप माहौल, एक स्वामित्व युक्त औद्योगिक मानक डेस्कटॉप माहौल
Comment[hne]=कामन डेस्कटाप माहौल, एक मालिकाना वाले औद्योगिक मानक डेस्कटाप माहौल
Comment[hr]=Opće okruženje radne površine, standardizirano industrijskim vlasništvima
Comment[hsb]=Common Desktop Environment, proprieterny dźěłowy powjerch po industrielnych normach
Comment[hu]=The Common Desktop Environment, egy kereskedelmi, kváziszabványnak számító grafikus környezet
Comment[ia]=Le Common Desktop Environment, un ambiente de scriptorio proprietari que il es standard industrial
Comment[id]=The Common Desktop Environment, sebuah lingkungan dekstop standar industri kode sumber tertutup
Comment[is]=Common Desktop Environment er lokað skjáborðsumhverfi sem var staðlað umhverfi til skamms tíma
Comment[it]=Il Common Desktop Environment, un ambiente desktop proprietario e standard industriale
Comment[ja]=Common Desktop Environment,プロプライエタリな業界標準のデスクトップ環境
Comment[ka]=Common Desktop Environment, UNIX -ის სამუშაო სფეროს სამრეწვლო სტანდარტი
Comment[kk]=Common Desktop Environment - UNIX жұмыс ортаның өнеркәсіп стандарты
Comment[km]=បរិស្ថាន​ផ្ទៃតុ​ធម្មតា បរិស្ថាន​ផ្ទៃតុ​ស្តង់ដារ​ឧស្សាហ៍កម្ម​កម្មវិធី​មាន​កម្មសិទ្ធិ
Comment[kn]=ಕಾಮನ್ ಡೆಸ್ಕ್ ಟಾಪ್ ಎನ್ವಿರಾನ್ಮೆಂಟ್ ಎಂಬ ವೃತ್ತಿ ಸ್ವಾಮ್ಯ (ಇಂಡಸ್ಟ್ರಿ ಸ್ಟಾಂಡರ್ಡ್) ಗಣಕ ಪರಿಸರ
Comment[ko]=산업 세계의 표준 데스크톱 환경
Comment[lt]=Common Desktop Environment, nuosavybinių sistemų standartinė darbastalio tvarkyklė
Comment[lv]=Common Desktop Environment, privāta industrijas standarta darbvirsmas vide
Comment[mai]=कामन डेस्कटाप माहौल, एकटा स्वामित्व युक्त औद्योगिक मानक डेस्कटाप माहौल
Comment[mk]=Common Desktop Environment, сопственичка индустриски стандардна работна околина
Comment[ml]=ദി കോമണ്‍ പണിയിട പരിസരം, കുത്തകവ്യാവസായിക സ്റ്റാന്‍ഡേഡ് പണിയിട പരിസരം
Comment[mr]=समान डेस्कटॉप वातावरण, एक विशिष्ठ मालकी युक्त औद्योगिक प्रमाणित डेस्कटॉप वातावरण
Comment[ms]=Persekitaran Desktop Biasa, persekitaran desktop standard industri proprietari
Comment[nb]=Common desktop Environment, et godseid skrivebordsmiljø som er standard i programvareindustrien
Comment[nds]=De Common Desktop Environment, de Schriefdisch-Ümgeven vun en proprieteren Industrie-Standard
Comment[ne]=साझा डेस्कटप वातावरण, श: शुल्क उद्योग मानक डेस्कटप वातावरण
Comment[nl]=The Common Desktop Environment, een commerciële industrieel gestandariseerde desktop environment
Comment[nn]=Common Desktop Environment, eit godseigd skrivebordsmiljø som er standard i programvareindustrien
Comment[pa]=ਇੱਕ ਆਮ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਟ, ਇੱਕ ਵਪਾਰਿਕ ਸਟੈਂਡਰਡ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ
Comment[pl]=Common Desktop Environment, standardowe przemysłowe środowisko pulpitu
Comment[pt]=O Common Desktop Environment, um ambiente de trabalho gráfico padrão e proprietário
Comment[pt_BR]=O CDE (Common Desktop Environment - Ambiente de Trabalho Comum), um ambiente de trabalho proprietário padrão da indústria
Comment[ro]=Common Desktop Environment, un mediu grafic proprietar și devenit standard industrial
Comment[ru]=Common Desktop Environment, промышленный стандарт рабочей среды UNIX
Comment[se]=Common Desktop Environment, čállinbeavdebiras mii lea standárda prográmmagálvoindustriijas
Comment[si]=පොදු වැඩතල පාරිසරිකය, වානිජමය සම්මත වැඩතල පාරිසරිකය
Comment[sk]=The Common Desktop Environment, proprietárny priemyselný štandard pracovného prostredia
Comment[sl]=Common Desktop Environment, lastniško standardno industrijsko namizno okolje
Comment[sr]=„Заједничко окружење површи“ (Common Desktop Environment), индустријски стандард власничких окружења
Comment[sr@ijekavian]=„Заједничко окружење површи“ (Common Desktop Environment), индустријски стандард власничких окружења
Comment[sr@ijekavianlatin]=„Zajedničko okruženje površi“ (Common Desktop Environment), industrijski standard vlasničkih okruženja
Comment[sr@latin]=„Zajedničko okruženje površi“ (Common Desktop Environment), industrijski standard vlasničkih okruženja
Comment[sv]=Common Desktop Environment, en privatägd industristandard skrivbordsmiljö
Comment[ta]=பொதுவான மேல்மேசை, தன்உரிமை உடைய நிறுவனத்தின் நிலையான மேல்மேசை சூழல்
Comment[te]=ఉమ్మడి డెస్‍క్ టాప్ వాతావరణం, అధికారిక వ్వవస్థా ప్రామాణిక డెస్‍క్ టాప్ వాతావరణం
Comment[tg]=Common Desktop Environment, промышленный стандарт рабочей среды UNIX
Comment[th]=Common Desktop Environment คือ สภาพแวดล้อมของพื้นที่ทำงานที่ได้มาตรฐานอุตสาหกรรม ที่ไม่ใช่ซอฟต์แวร์เสรี
Comment[tr]=Common Desktop Environment (CDE)
Comment[ug]=ئاممىۋى كۆزنەك مۇھىتى، شەخسىي ئىگىلىك سانائەت ئۆلچىمىگە ئىگە ئۈستەلئۈستى مۇھىتى
Comment[uk]=The Common Desktop Environment, закритий промисловий стандарт графічного середовища
Comment[vi]=Môi trường Màn hình nền Chung, một môi trường màn hình nền giữ bản quyền, tuân thủ chuẩn công nghiệp
Comment[wa]=Li Comon Evironmint d' Sicribanne (The Common Desktop Environment), on propiyetaire sitandård industreyel evironmint d' sicribanne
Comment[x-test]=xxThe Common Desktop Environment, a proprietary industry standard desktop environmentxx
Comment[zh_CN]=公用桌面环境(CDE)，私有的工业标准级桌面环境
Comment[zh_TW]=The Common Desktop Environment, 一個有專利的工業標準 
