[Desktop Entry]
Type=XSession
Exec=cwwm
TryExec=cwwm
Name=CWWM
Name[af]=CWWM
Name[ar]=CWWM
Name[ast]=CWWM
Name[be]=CWWM
Name[be@latin]=CWWM
Name[bg]=CWWM
Name[bn]=CWWM
Name[bn_IN]=CWWM
Name[br]=CWWM
Name[bs]=CWWM
Name[ca]=CWWM
Name[ca@valencia]=CWWM
Name[cs]=CWWM
Name[csb]=CWWM
Name[cy]=CWWM
Name[da]=CWWM
Name[de]=CWWM
Name[el]=CWWM
Name[en_GB]=CWWM
Name[eo]=CWFA
Name[es]=CWWM
Name[et]=CWWM
Name[eu]=CWWM
Name[fi]=CWWM
Name[fr]=CWWM
Name[fy]=CWWM
Name[ga]=CWWM
Name[gl]=CWWM
Name[gu]=CWWM
Name[he]=CWWM
Name[hi]=सीडबल्यूडबल्यूएम
Name[hne]=सीडबल्यूडबल्यूएम
Name[hr]=CWWM
Name[hsb]=CWWM
Name[hu]=CWWM
Name[ia]=CWWM
Name[id]=CWWM
Name[is]=CWWM
Name[it]=CWWM
Name[ja]=CWWM
Name[ka]=CWWM
Name[kk]=CWWM
Name[km]=CWWM
Name[kn]=CWWM
Name[ko]=CWWM
Name[ku]=CWWM
Name[lt]=CWWM
Name[lv]=CWWM
Name[mai]=सीडबल्यूडबल्यूएम
Name[mk]=CWWM
Name[ml]=സിഡബ്ലിയുഡബ്ലിയുഎം
Name[mr]=CWWM
Name[ms]=CWWM
Name[nb]=CWWM
Name[nds]=CWWM
Name[ne]=CWWM
Name[nl]=CWWM
Name[nn]=CWWM
Name[pa]=CWWM
Name[pl]=CWWM
Name[pt]=CWWM
Name[pt_BR]=CWWM
Name[ro]=CWWM
Name[ru]=CWWM
Name[se]=CWWM
Name[si]=CWWM
Name[sk]=CWWM
Name[sl]=CWWM
Name[sr]=ЦВВМ
Name[sr@ijekavian]=ЦВВМ
Name[sr@ijekavianlatin]=CWWM
Name[sr@latin]=CWWM
Name[sv]=CWWM
Name[ta]=CWWM
Name[te]=సి డబ్ల్యు డబ్ల్యు ఎం
Name[tg]=CWWM
Name[th]=CWWM
Name[tr]=CWWM
Name[ug]=CWWM
Name[uk]=CWWM
Name[uz]=CWWM
Name[uz@cyrillic]=CWWM
Name[vi]=CWWM
Name[wa]=CWWM
Name[x-test]=xxCWWMxx
Name[zh_CN]=CWWM
Name[zh_TW]=CWWM
Comment=The ChezWam Window Manager, a minimalist window manager based on EvilWM
Comment[af]=Die ChezWam venster bestuurder. Dis 'n minimalistiese venster bestuurder wat op EvilWM gebaseer is.
Comment[ar]=مدير النوافذ شزوام (ChezWam), مدير نوافذ مختزل مبني على مدير النوافذ الشرير (EvilWM)
Comment[ast]=El xestor de ventanes ChezWam, un xestor minimalista basáu n'EvilWM
Comment[be]=Кіраўнік вокнаў ChezWam, мінімалістычны, заснаваны на EvilWM
Comment[be@latin]=„ChezWam Window Manager”, nievialiki akońnik, jaki abapirajecca na bazu „EvilWM”
Comment[bg]=ChezWam, минималистичен мениджър на прозорци на базата на EvilWM
Comment[bn]=ChezWam উইণ্ডো ম্যানেজার, EvilWM ভিত্তিক একটি উইণ্ডো ম্যানেজার
Comment[bs]=ChezWam Window Manager, minimalistički menadžer zasnovan na EvilWM‑u
Comment[ca]=El gestor de finestres ChezWam, un gestor de finestres minimalista basat en EvilWM
Comment[ca@valencia]=El gestor de finestres ChezWam, un gestor de finestres minimalista basat en EvilWM
Comment[cs]=ChezWam, minimalistický správce oken založený na EvilWM
Comment[csb]=Menadżera òknów ChezWam, prosti menadżera òknów ùsôdzony na spòdlém EvilWM
Comment[cy]=Y Trefnydd Ffenestri ChezWam, trefnydd ffenestri lleiafol wedi'i seilio ar EvilWM
Comment[da]=ChezWam vindueshåndteringen, en minimalistisk vindueshåndtering baseret på EvilWM
Comment[de]=Der ChezWam-Fenstermanager, eine minimalistische Lösung, die auf EvilWM basiert
Comment[el]=Ο ChezWam διαχειριστής παραθύρων, ένας μινιμαλιστικός διαχειριστής παραθύρων βασισμένος στον EvilWM
Comment[en_GB]=The ChezWam Window Manager, a minimalist window manager based on EvilWM
Comment[eo]=La ChezWam Fenestroadministrilo, devenigita de MalbonaFA
Comment[es]=El gestor de ventanas ChezWam, un gestor minimalista basado en EvilWM
Comment[et]=ChezWami aknahaldur on vähenõudlik aknahaldur, mille aluseks on EvilWM
Comment[eu]=The ChezWam Window Manager, EvilWMn oinarritutako leiho-kudeatzaile minimalista
Comment[fa]=مدیر پنجره ChezWam، مدیر پنجره کمینه بر اساس EvilWM
Comment[fi]=ChezWam, minimalistinen EvilWM:ään pohjautuva ikkunointiohjelma.
Comment[fr]=« ChezWam Window Manager », un gestionnaire minimaliste de fenêtres reposant sur EvilWM
Comment[fy]=The ChezWam Window Manager, in minimalistyske finstersmanager baseare op EvilWM
Comment[ga]=Bainisteoir Fuinneog ChezWam, bainisteoir íostach fuinneog bunaithe ar EvilWM
Comment[gl]=O xestor de xanelas ChezWarm, un xestor minimalista baseado en EvilWM
Comment[gu]=ચેઝવામ વિન્ડો વ્યવસ્થાપક, EvilWM પર આધારિત ન્યૂનત્તમ વિન્ડો વ્યવસ્થાપક
Comment[he]=‏ChezWam Window Manager, מנהל חלונות מינימליסטי המבוסס על EvilWM
Comment[hi]=चेकवाम विंडो प्रबंधक, एक अल्पतम विंडो प्रबंधक, एविलडबल्यूएम  पर आधारित
Comment[hne]=चेकवाम विंडो प्रबंधक, एक छोटा विंडो प्रबंधक, एविलडबल्यूएम के उपर आधारित
Comment[hr]=ChezWam, minimalistički upravitelj prozora zasnovan na EvilWM
Comment[hsb]=ChezWam Window Manager, minimalny woknowy rjadowar, kiž bazuje na EvilWM
Comment[hu]=ChezWam ablakkezelő, egy nagyon egyszerű ablakkezelő az EvilWM alapján
Comment[ia]=Le ChezWam Window Manager, un gerente de fenestra minimalist basate sur EvilWM
Comment[id]=The ChezWam Window Manager, sebuah manajer jendela minimalis berbasis EvilWM
Comment[is]=ChezWam gluggastjórinn er lágmarks gluggastjóri sem er byggður á EvilWM
Comment[it]=Il gestore di finestre ChezWam, un gestore di finestre minimalista basato su EvilWM
Comment[ja]=ChezWam ウィンドウマネージャ, EvilWM ベースの小さなウィンドウマネージャ
Comment[ka]=ChezWam Window Manager - მინიმალისტური ფანჯრის მენეჯერი EvilWM -ის ბაზაზე
Comment[kk]=ChezWam Window Manager, EvilWM-негіздеген шағын терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច ChezWam, កម្មវិធី​គ្រប់គ្រង​បង្អួច​មាន​លក្ខណៈ​ពិសេស​តិចតួច​មាន​មូលដ្ឋាន​លើ EvilWM
Comment[kn]=EvilWM ಆಧಾರಿತ  ಅಲ್ಪತಮ ಛೆಜ್ವಾಮ್ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=ChezWam 창 관리자. EvilWM 기반 최소지향 창 관리자.
Comment[lt]=ChezWam langų tvarkyklė, minimalistinė langų tvarkyklė, paremta EvilWM
Comment[lv]=ChezWam Logu Pārvaldnieks, a minimālistisks logu pārvaldnieks, bāzēts uz EvilWM
Comment[mai]=चेकवाम विंडो प्रबंधक, एकटा अल्पतम विंडो प्रबंधक, एविलडबल्यूएम पर आधारित
Comment[mk]=ChezWam Window Manager, минималистички менаџер на прозорци базиран на EvilWM
Comment[ml]=ചെസ്‌വാം ജാലകപാലകന്‍, എവിള്‍ഡബ്ല്യൂമിനെ അടിസ്ഥാനമാക്കിയ ഒരു ചുരുങ്ങിയ സംവിധാനങ്ങളുള്ള ജാലപാലകന്‍
Comment[mr]=चेकवॅम चौकट प्रबंधक, एक किमानतम चौकट प्रबंधक, EvilWM वर आधारित
Comment[nb]=The ChezWam Window Manager, en minimalistisk vindusbehandler basert på EvilWM
Comment[nds]=De ChezWam Finsterpleger is minimalistisch un buut op EvilWM op
Comment[ne]=चेजवाम सञ्झ्याल प्रबन्धक, EvilWM आधारित मिनिमलिस्ट सञ्झ्याल प्रबन्धक
Comment[nl]=The ChezWam Window Manager, een minimalistische windowmanager gebaseerd op EvilWM
Comment[nn]=ChezWam Window Manager, ein minimalistisk vindaugssjef som byggjer på EvilWM
Comment[pa]=ChezWam ਵਿੰਡੋ ਮੈਨੇਜਰ, ਇੱਕ EvilWM ਤੇ ਆਧਾਰਿਤ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ ਹੈ
Comment[pl]=Menadżer okien ChezWam, stworzony na podstawie EvilWM
Comment[pt]=O ChezWam Window Manager, um gestor de janelas minimalista baseado no EvilWM
Comment[pt_BR]=O gerenciador de janelas de ChezWam, um gerenciador de janelas minimalista baseado no EvilWM
Comment[ro]=Administratorul de ferestre ChezWam, o versiune minimalistică bazată pe EvilWM
Comment[ru]=ChezWam Window Manager - минимальный диспетчер окон на основе EvilWM
Comment[se]=ChezWam Window Manager, ein minimalisttalaš lásegieđahalli, ráhkaduvvon EvilWM vuođul
Comment[si]=ChezWam කවුළු කළමණාකරු. EvilWM මත පාදක වූ minimalist කවුළු කළමණාකරුවෙක්
Comment[sk]=The ChezWam Window Manager, minimalistický správca okien založený na EvilWM
Comment[sl]=Upravljalnik oken ChezWam,  skromen upravljalnik oken na osnovi EvilWM
Comment[sr]=„Чезвам менаџер прозора“ (ChezWam Window Manager), минималистички менаџер заснован на ИвилВМ‑у
Comment[sr@ijekavian]=„Чезвам менаџер прозора“ (ChezWam Window Manager), минималистички менаџер заснован на ИвилВМ‑у
Comment[sr@ijekavianlatin]=„Čezvam menadžer prozora“ (ChezWam Window Manager), minimalistički menadžer zasnovan na EvilWM‑u
Comment[sr@latin]=„Čezvam menadžer prozora“ (ChezWam Window Manager), minimalistički menadžer zasnovan na EvilWM‑u
Comment[sv]=Fönsterhanteraren Chezwam, en minimalistisk fönsterhanterare baserad på Ond WM
Comment[ta]=செஸ்வாம் சாளர மேளாளர்,EvilWM ஐ அடிப்படையிலான குறைந்தபட்ச சாளர மேளாளர்
Comment[te]=ChezWam విండో నిర్వాహిక, EvilWM ఆధారిత కనీసజాబిత విండో నిర్వాహిక
Comment[tg]=ChezWam Window Manager - минимальный оконный менеджер на основе EvilWM
Comment[th]=ตัวจัดการหน้าต่าง ChezWarm คือ ระบบจัดการ หน้าต่างขนาดเล็ก สร้างจากพื้นฐานของ EvilWM
Comment[tr]=ChezWam Pencere Yöneticisi
Comment[ug]=ChezWam كۆزنەك باشقۇرغۇچ EvilWM ئاساسىدىكى كىچىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Мінімалістичне керування вікнами ChezWam, засноване на EvilWM
Comment[uz]=EvilWM asosida yaratilgan juda oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=EvilWM асосида яратилган жуда оддий ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ ChezWam, một trình quản lý cửa sổ kiểu tối thiểu dựa trên EvilWM
Comment[wa]=Li ChezWam Window Manager, on Manaedjeu des fniesses minimalisse båzé so EvilWM
Comment[x-test]=xxThe ChezWam Window Manager, a minimalist window manager based on EvilWMxx
Comment[zh_CN]=ChezWam 窗口管理器，基于 EvilWM 的迷你窗口管理器
Comment[zh_TW]=The ChezWam 視窗管理程式，基於 EvilWM 的小型化視窗管理程式
