[Desktop Entry]
Type=XSession
Exec=enlightenment_start
TryExec=enlightenment
Name=Enlightenment
Name[af]=Enlightenment
Name[ar]=Enlightenment
Name[ast]=Enlightenment
Name[be]=Enlightenment
Name[be@latin]=Enlightenment
Name[bg]=Enlightenment
Name[bn]=এনলাইটেনমেন্ট
Name[bn_IN]=Enlightenment
Name[br]=Enlightenment
Name[bs]=Enlightenment
Name[ca]=Enlightenment
Name[ca@valencia]=Enlightenment
Name[cs]=Enlightenment
Name[csb]=Enlightenment
Name[cy]=Goleuni (Enlightenment)
Name[da]=Enlightenment
Name[de]=Enlightenment
Name[el]=Enlightenment
Name[en_GB]=Enlightenment
Name[eo]=Enlightenment
Name[es]=Enlightenment
Name[et]=Enlightenment
Name[eu]=Enlightenment
Name[fa]=روشن‌فکری
Name[fi]=Enlightenment
Name[fr]=Enlightenment
Name[fy]=Enlightenment
Name[ga]=Enlightenment
Name[gl]=Enlightenment
Name[gu]=એન્લાઇટમેન્ટ
Name[he]=Enlightenment
Name[hi]=एनलाइटनमेंट
Name[hne]=एनलाइटनमेंट
Name[hr]=Enlightenment
Name[hsb]=Enlightenment
Name[hu]=Enlightenment
Name[ia]=Enlightenment
Name[id]=Enlightenment
Name[is]=Enlightenment
Name[it]=Enlightenment
Name[ja]=Enlightenment
Name[ka]=Enlightenment
Name[kk]=Enlightenment
Name[km]=ការ​បង្រៀន​
Name[kn]=Enlightenment
Name[ko]=Enlightenment
Name[ku]=Enlightenment
Name[lt]=Enlightenment
Name[lv]=Enlightenment
Name[mai]=एनलाइटनमेंट
Name[mk]=Enlightenment
Name[ml]=എന്‍ലൈറ്റന്‍മെന്റ്
Name[mr]=एनलाइटमेंट
Name[ms]=Enlightenment
Name[nb]=Enlightenment
Name[nds]=Enlightenment
Name[ne]=ज्ञानोदय
Name[nl]=Enlightenment
Name[nn]=Enlightenment
Name[pa]=ਗਿਆਨ
Name[pl]=Enlightenment
Name[pt]=Enlightenment
Name[pt_BR]=Enlightenment
Name[ro]=Enlightenment
Name[ru]=Enlightenment
Name[se]=Enlightenment
Name[si]=ආලෝකනය
Name[sk]=Enlightenment
Name[sl]=Enlightenment
Name[sr]=Енлајтенмент
Name[sr@ijekavian]=Енлајтенмент
Name[sr@ijekavianlatin]=Enlightenment
Name[sr@latin]=Enlightenment
Name[sv]=Enlightenment
Name[ta]=விளக்கிக்கூறுதல்
Name[te]=ఎన్‌లైట్‌మెంట్
Name[tg]=Enlightenment
Name[th]=Enlightenment
Name[tr]=Enlightenment
Name[ug]=Enlightenment
Name[uk]=Enlightenment
Name[uz]=Enlightenment
Name[uz@cyrillic]=Enlightenment
Name[vi]=Enlightenment
Name[wa]=Enlightenment
Name[x-test]=xxEnlightenmentxx
Name[zh_CN]=Enlightenment
Name[zh_TW]=Enlightenment
Comment=An extremely themable very feature-rich window manager
Comment[af]='n Uitbreibare, tema geaktiveerde venster bestuurder
Comment[ar]=مدير نوافذ غني جداً ويتقبل السمات
Comment[ast]=Un xestor de ventanes llenu de carauterístiques y mui personalizable
Comment[be]=Абсалютна змяняльны, багаты на здольнасці кіраўнік вокнаў
Comment[be@latin]=Stylny akońnik ź vialikaj kolkaściu mahčymaściaŭ
Comment[bg]=Изключително настройваем визуално и богат на възможности мениджър на прозорци
Comment[bn]=প্রচুর বৈশিষ্ট্য সম্বলিত একটি উইণ্ডো ম্যানেজার, যা বহুভাবে নিজের পছন্দমত বদলে নেওয়া যায়
Comment[bs]=Izuzetno presvlačiv menadžer prozora sa mnogo mogućnosti
Comment[ca]=Un gestor de finestres extremadament temible molt ric en característiques
Comment[ca@valencia]=Un gestor de finestres extremadament temible molt ric en característiques
Comment[cs]=Na funkce bohatý správce oken s širokými možnostmi úprav vzhledu
Comment[csb]=Bògati w fùnkcëje menadżera òknów ò wiôldżich mòżnotach zjinaczi wëzdrzatkù
Comment[cy]=Trefnydd ffenestri sy'n llawn o nodweddion, efo llawer o themau.
Comment[da]=En ekstremt tema-fleksibel egenskabsrig vindueshåndtering
Comment[de]=Sehr design- und funktionsreicher Fenstermanager
Comment[el]=Ένας εξαιρετικά παραμετροποιήσιμος και πλούσιος σε χαρακτηριστικά διαχειριστής παραθύρων
Comment[en_GB]=An extremely themable very feature-rich window manager
Comment[eo]=Fenestroadministrilo kun tre multaj ebloj
Comment[es]=Un gestor de ventanas lleno de características y extremadamente personalizable
Comment[et]=Äärmiselt paljude teemade ja väga laialdaste võimalustega aknahaldur
Comment[eu]=Ezaugarritan aberatsa eta oso pertsonalizagarria den leiho-kudeatzailea
Comment[fa]=مدیر پنجره با ویژگی زیاد و شدیداً موضوعی
Comment[fi]=Erittäin muokattavissa oleva ominaisuusrikas ikkunointiohjelma
Comment[fr]=Un gestionnaire de fenêtres avec beaucoup de thèmes et de nombreuses fonctionnalités
Comment[fy]=In tige rike en ynstelbere finstersmanager
Comment[ga]=Bainisteoir fuinneog ar féidir téamaí nua a chur leis agus le a lán gnéithe
Comment[gl]=Un xestor de xanelas de aparencia moi configurábel e rico en características
Comment[gu]=ઘણી બધી લાક્ષણિકતા ધરાવતું થીમ વાપરી શકાય તેવું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות פונקציונלי המכיל אפשרויות רבות להגדרת ערכות נושא
Comment[hi]=एक विंडो प्रबंधक जो अत्यंत प्रसंग युक्त तथा विशेषता से भरपूर है
Comment[hne]=एक विंडो प्रबंधक जऊन हर बहुत से प्रसंग सहित अउ विसेसता से भरपूर हे
Comment[hr]=Izuzetno prilagodljiv upravitelj prozora, bogat mogućnostima
Comment[hsb]=Woknowy rjadowar z wjele opcijemi a temami
Comment[hu]=Egy nagyon sokoldalúan témázható, sok lehetőséget biztosító ablakkezelő
Comment[ia]=Un gerente de fenestra con grande varietate de configuration de themas e characteristic multe ric
Comment[id]=Sebuah manajer jendela kaya fitur yang temanya sangat mudah dibentuk
Comment[is]=Afskaplega öflugur gluggastjóri með góðum þemastuðningi
Comment[it]=Un gestore di finestre estremamente configurabile e con molte funzionalità
Comment[ja]=詳細な部分までもテーマ化が可能な非常に多機能のウィンドウマネージャ
Comment[ka]=მრავალფუნქციური ფანჯრის მენეჯერი თემების მხარდაჭერით
Comment[kk]=Қасиеттер жағынан бай, көп нақышты терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​​មាន​លក្ខណៈ​ពិសេស​សម្បូរ​បែប ដែល​អាច​ប្ដូរ​រូបរាង​បាន​តាម​ចិត្ត
Comment[kn]=ಅತಿ ವೈಶಿಷ್ಟ್ಯ ಭರಿತ, ಬಹು ಪರಿಸರವಿನ್ಯಾಸಾರ್ಹ (ಥೀಮಬಲ್) ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=다양한 곳을 꾸밀 수 있는 기능이 풍부한 창 관리자
Comment[lt]=Daug temų ir savybių turinti langų tvarkyklė
Comment[lv]=Izteikti tēmojams, iespējām bagāts logu pārvaldnieks
Comment[mai]=एकटा विंडो प्रबंधक जे अत्यंत प्रसंग युक्त आओर विशेषता सँ भरपूर अछि
Comment[mk]=Менаџер на прозорци богат со можности и екстремно подложен на стилизирање со теми
Comment[ml]=വളരെയധികം പ്രമേയങ്ങളക്കനുസരിച്ചു് മാറ്റാവുന്ന ധാരാളം സവിശേഷതകളുള്ള ജാലകപാലകന്‍
Comment[mr]=एक चौकट प्रबंधक जे अत्यंत सुत्रयोजना युक्त व विशेषता सह परिपूर्ण आहे
Comment[ms]=Pengurus tetingkap kaya ciri yang amat boleh tema
Comment[nb]=En svært omfattende vindusbehandler som kan tilpasses med temaer
Comment[nds]=En Finsterpleger mit bannig vele Funkschonen un Mustern
Comment[ne]=अत्याधिक विषयवस्तु योग्य धेरै आकृति सञ्झ्याल प्रबन्धक
Comment[nl]=Een zeer rijke en configureerbare windowmanager
Comment[nn]=Ein svært omfattande vindaugssjef som kan tilpassast med tema
Comment[pa]=ਇੱਕ ਥੀਮ ਦੇ ਪੂਰੇ ਫੀਚਰਾਂ ਨਾਲ ਭਰਪੂਰ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Bogaty w funkcje menadżer okien o dużych możliwościach zmiany wyglądu
Comment[pt]=Um gestor de janelas muito rico em funcionalidades e extremamente personalizado na sua aparência
Comment[pt_BR]=Um gerenciador de janelas rico em recursos e extremamente configurável através de temas
Comment[ro]=Un administrator de ferestre extrem de versatil și cu multe facilități
Comment[ru]=Многофункциональный диспетчер окон, поддерживающий темы
Comment[se]=Lášegieđahalli mas leat erenoamáš ollu doaimmat ja maid sáhttá heivehit fáttáin
Comment[si]=බොහෝ විශේෂාංග හා අසීමිතව තේමා යෙදිය හැක කවුළු කළමණාකරුවෙක්
Comment[sk]=Správca okien s veľkým množstvom funkcií a extrémnou podporou tém
Comment[sl]=Upravljalnik oken, zelo prilagodljiv in poln zmožnosti
Comment[sr]=Изузетно пресвлачив менаџер прозора са много могућности
Comment[sr@ijekavian]=Изузетно пресвлачив менаџер прозора са много могућности
Comment[sr@ijekavianlatin]=Izuzetno presvlačiv menadžer prozora sa mnogo mogućnosti
Comment[sr@latin]=Izuzetno presvlačiv menadžer prozora sa mnogo mogućnosti
Comment[sv]=En ytterst anpassningsbar mycket funktionsrik fönsterhanterare
Comment[ta]=நிறைய தன்மைகள் அடங்கிய சாளர மேளாளர்
Comment[te]=అధికంగా థీమ్‌చేసిన మంచి ఫీచర్-రిచ్ విండో నిర్వాహకి
Comment[tg]=Многофункциональный, поддерживающий темы оконный менеджер
Comment[th]=ระบบจัดการหน้าต่างที่เต็มไปด้วยความสามารถ และใช้ชุดตกแต่งมากมาย
Comment[tr]=İleri derecede temalanabilir, özellik zengini bir masaüstü yöneticisi
Comment[ug]=ئۆرنەكلەشتۈرۈلگەن كۆپ ئىقتىدارلىق كۆزنەك باشقۇرغۇچ
Comment[uk]=Керування вікнами з потужною підтримкою тем та різноманітних функцій
Comment[uz]=Mavzu va imkoniyatlarga juda boy oyna boshqaruvchi
Comment[uz@cyrillic]=Мавзу ва имкониятларга жуда бой ойна бошқарувчи
Comment[vi]=Một trình quản lý cửa sổ cực kỳ dễ thay đổi sắc thái với nhiều tính năng
Comment[wa]=On manaedjeu des fniesses avou bråmint des fonccionålités eyet k' on sait eployî avou bråmint des tinmes.
Comment[x-test]=xxAn extremely themable very feature-rich window managerxx
Comment[zh_CN]=注重主题化的多功能窗口管理器
Comment[zh_TW]=一個功能相當豐富的視窗管理程式
