[Desktop Entry]
Type=XSession
Exec=evilwm
TryExec=evilwm
Name=EvilWM
Name[af]=EvilWM
Name[ar]=EvilWM
Name[ast]=EvilWM
Name[be]=EvilWM
Name[be@latin]=EvilWM
Name[bg]=EvilWM
Name[bn]=EvilWM
Name[bn_IN]=EvilWM
Name[br]=EvilWM
Name[bs]=IvilVM
Name[ca]=EvilWM
Name[ca@valencia]=EvilWM
Name[cs]=EvilWM
Name[csb]=EvilWM
Name[cy]=EvilWM
Name[da]=EvilWM
Name[de]=EvilWM
Name[el]=EvilWM
Name[en_GB]=EvilWM
Name[eo]=MalbonaFA
Name[es]=EvilWM
Name[et]=EvilWM
Name[eu]=EvilWM
Name[fi]=EvilWM
Name[fr]=EvilWM
Name[fy]=EvilWM
Name[ga]=EvilWM
Name[gl]=EvilWM
Name[gu]=EvilWM
Name[he]=EvilWM
Name[hi]=एविलडबल्यूएम
Name[hne]=एविलडबल्यूएम
Name[hr]=EvilWM
Name[hsb]=EvilWM
Name[hu]=EvilWM
Name[ia]=EvilWM
Name[id]=EvilWM
Name[is]=EvilWM
Name[it]=EvilWM
Name[ja]=EvilWM
Name[ka]=EvilWM
Name[kk]=EvilWM
Name[km]=EvilWM
Name[kn]=EvilWM
Name[ko]=EvilWM
Name[ku]=EvilWM
Name[lt]=EvilWM
Name[lv]=EvilWM
Name[mai]=एविलडबल्यूएम
Name[mk]=EvilWM
Name[ml]=ഇവിള്‍ഡബ്ലിയുഎം
Name[mr]=EvilWM
Name[ms]=EvilWM
Name[nb]=EvilWM
Name[nds]=EvilWM
Name[ne]=EvilWM
Name[nl]=EvilWM
Name[nn]=EvilWM
Name[pa]=EvilWM
Name[pl]=EvilWM
Name[pt]=EvilWM
Name[pt_BR]=EvilWM
Name[ro]=EvilWM
Name[ru]=EvilWM
Name[se]=EvilWM
Name[si]=EvilWM
Name[sk]=EvilWM
Name[sl]=EvilWM
Name[sr]=ИвилВМ
Name[sr@ijekavian]=ИвилВМ
Name[sr@ijekavianlatin]=EvilWM
Name[sr@latin]=EvilWM
Name[sv]=Ond WM
Name[ta]=EvilWM
Name[te]=ఈవిల్ డబ్ల్యు ఎం
Name[tg]=EvilWM
Name[th]=EvilWM
Name[tr]=EvilWM
Name[ug]=EvilWM
Name[uk]=EvilWM
Name[uz]=EvilWM
Name[uz@cyrillic]=EvilWM
Name[vi]=EvilWM
Name[wa]=EvilWM
Name[x-test]=xxEvilWMxx
Name[zh_CN]=EvilWM
Name[zh_TW]=EvilWM
Comment=A minimalist window manager based on AEWM
Comment[af]='n Minimalistiese venster bestuurder wat op AEWM gebaseer is
Comment[ar]=مدير نوافذ مختزل مبني على قاعدة AEWM
Comment[ast]=Un xestor de ventanes minimalista basáu n'AEWM
Comment[be]=Кіраўнік вокнаў для мінімаліста, заснаваны на AEWM
Comment[be@latin]=Nievialiki akońnik, jaki abapirajecca na bazu „AEWM”
Comment[bg]=Минималистичен мениджър на прозорци на базата на AEWM
Comment[bn]=AEWM ভিত্তিক একটি পরিমিত উইণ্ডো ম্যানেজার
Comment[bs]=Minimalistički menadžer prozora zasnovan na AEVM‑u
Comment[ca]=Un gestor de finestres minimalista basat en AEWM
Comment[ca@valencia]=Un gestor de finestres minimalista basat en AEWM
Comment[cs]=Minimalistický správce oken založený na AEWM
Comment[csb]=Prosti menadżera òknów ùsôdzony na spòdlém AEWM
Comment[cy]=Trefnydd ffenestri lleiafol wedi'i seilio ar AEM
Comment[da]=En minimalistisk vindueshåndtering baseret på AEWM
Comment[de]=Minimalistischer Fenstermanager, der auf AEWM basiert
Comment[el]=Ένας μινιμαλιστικός διαχειριστής παραθύρων βασισμένος στον AEWM
Comment[en_GB]=A minimalist window manager based on AEWM
Comment[eo]=Minimumema fenestroadministrilo
Comment[es]=Un gestor de ventanas minimalista basado en AEWM
Comment[et]=Vähenõudlik aknahaldur, mille aluseks on AEWM
Comment[eu]=AEWMn oinarritutako leiho-kudeatzaile minimalista
Comment[fa]=یک مدیر پنجره کمینه براساس AEWM
Comment[fi]=Minimalistinen AEWM-pohjainen ikkunointiohjelma
Comment[fr]=Un gestionnaire minimaliste de fenêtres reposant sur AEWM
Comment[fy]=In minimalistyske finstersmanager basearre op AEWM
Comment[ga]=Bainisteoir íostach fuinneog bunaithe ar AEWM
Comment[gl]=Un xestor de xanelas minimalista baseado en AEWM
Comment[gu]=AEWM પર આધારિત નાનું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מינימליסטי המבוסס על AEWM
Comment[hi]=एक अल्पतम विंडो प्रबंधक एईडबल्यूएम पर आधारित
Comment[hne]=एक छोटा विंडो प्रबंधक एईडबल्यूएम मं आधारित
Comment[hr]=Minimalistički upravitelj prozora zasnovan na AEWM-u
Comment[hsb]=Minimalny woknowy rjadowar, bazowacy na AEWM
Comment[hu]=Egy nagyon egyszerű ablakkezelő az AEWM alapján
Comment[ia]=Un gerente de fenestra minimalist basate sur AEWM
Comment[id]=Sebuah manajer jendela minimalis berbasis AEWM
Comment[is]=Lágmarks gluggastjóri sem er byggður á AEWM
Comment[it]=Un gestore di finestre minimalista basato su AEWM
Comment[ja]=AEWM ベースの小さなウィンドウマネージャ
Comment[ka]=მინიმალისტური ფანჯრის მენეჯერი AEWM-ის ბაზაზე
Comment[kk]=AEWM-негіздеген шағын терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​លក្ខណៈ​ពិសេស​តិច ដែល​​មាន​មូលដ្ឋាន​លើ AEWM
Comment[kn]=AEWM ಆಧಾರಿತ ಒಂದು ಅಲ್ಪತಮ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=AEWM 기반 최소지향 창 관리자
Comment[lt]=Minimalistinė langų tvarkyklė, paremta AEWM
Comment[lv]=Minimālistisks logu pārvaldnieks bāzēts uz AEWM
Comment[mai]=एकटा अल्पतम विंडो प्रबंधक एईडबल्यूएम पर आधारित
Comment[mk]=Минималистички менаџер на прозорци базиран на AEWM
Comment[ml]=എഇഡബ്ല്യൂഎം അടിസ്ഥാനമാക്കിയുള്ള വളരെ ലളിതമായ ജാലകപാലകന്‍
Comment[mr]=एक किमानतम चौकट प्रबंधक AEWM वर आधारित
Comment[nb]=En minimalistisk vindusbehandler basert på AEWM
Comment[nds]=En minimalistischen Finsterpleger, de op AEWM opbuut
Comment[ne]=AEWM आधारित मिनिमलिस्ट सञ्झ्याल प्रबन्धक
Comment[nl]=Een minimalistische windowmanager gebaseerd op AEWM
Comment[nn]=Ein minimalistisk vindaugssjef som byggjer på AEWM
Comment[pa]=AEWM ਤੇ ਆਧਾਰਿਤ ਨਿਊਨਤਮ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Minimalistyczny menadżer okien stworzony na podstawie AEWM
Comment[pt]=Um gestor de janelas minimalista baseado no AEWM
Comment[pt_BR]=Um gerenciador de janelas minimalista baseado no AEWM
Comment[ro]=Un administrator de ferestre minimalistic bazat pe AEWM
Comment[ru]=Минимальный диспетчер окон, основанный на AEWM
Comment[se]=Minimalisttalaš lásegieđahalli, ráhkaduvvon AEWM vuođul
Comment[si]=AEWM මත පාදක වූ minimalist කවුළු කළමණාකරුවෙක්
Comment[sk]=Minimalistický správca okien založený na AEWM
Comment[sl]=Minimalističen upravljalnik oken na osnovi AEWM
Comment[sr]=Минималистички менаџер прозора заснован на АЕВМ‑у
Comment[sr@ijekavian]=Минималистички менаџер прозора заснован на АЕВМ‑у
Comment[sr@ijekavianlatin]=Minimalistički menadžer prozora zasnovan na AEWM‑u
Comment[sr@latin]=Minimalistički menadžer prozora zasnovan na AEWM‑u
Comment[sv]=Minimalistisk fönsterhanterare baserad på AEWM
Comment[ta]=AEWM அடிப்படையிலான குறைதபட்ச சாளர மேளாளர்
Comment[te]=AEWM ఆధార కనీసజాబిత విండో నిర్వాహిక
Comment[tg]=Минимальный оконный менеджер, основанный на AEWM
Comment[th]=ระบบจัดการหน้าต่างขนาดเล็ก สร้างจากพื้นฐานของ AEWM
Comment[tr]=AEWM tabanlı küçük bir pencere yöneticisi
Comment[ug]=AEWM ئاساسىدىكى كىچىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Мінімалістичний менеджер вікон, заснований на AEWM
Comment[uz]=AEWM asosida yaratilgan juda oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=AEWM асосида яратилган жуда оддий ойна бошқарувчи
Comment[vi]=Một trình quản lý cửa sổ kiểu tối thiểu dựa trên AEWM
Comment[wa]=On manaedjeu des fniesses minimå båzé so AEWM
Comment[x-test]=xxA minimalist window manager based on AEWMxx
Comment[zh_CN]=基于 AEWM 的迷你窗口管理器
Comment[zh_TW]=一個基於 AEWM 的小型化視窗管理程式
