[Desktop Entry]
Type=XSession
Exec=flwm
TryExec=flwm
Name=FLWM
Name[af]=FLWM
Name[ar]=FLWM
Name[ast]=FLWM
Name[be]=FLWM
Name[be@latin]=FLWM
Name[bg]=FLWM
Name[bn]=FLWM
Name[bn_IN]=FLWM
Name[br]=FLWM
Name[bs]=FLVM
Name[ca]=FLWM
Name[ca@valencia]=FLWM
Name[cs]=FLWM
Name[csb]=FLWM
Name[cy]=FLWM
Name[da]=FLWM
Name[de]=FLWM
Name[el]=FLWM
Name[en_GB]=FLWM
Name[eo]=RMFA
Name[es]=FLWM
Name[et]=FLWM
Name[eu]=FLWM
Name[fi]=FLWM
Name[fr]=FLWM
Name[fy]=FLWM
Name[ga]=FLWM
Name[gl]=FLWM
Name[gu]=FLWM
Name[he]=FLWM
Name[hi]=एफएलडबल्यूएम
Name[hne]=एफएलडबल्यूएम
Name[hr]=FLWM
Name[hsb]=FLWM
Name[hu]=FLWM
Name[ia]=FLWM
Name[id]=FLWM
Name[is]=FLWM
Name[it]=FLWM
Name[ja]=FLWM
Name[ka]=FLWM
Name[kk]=FLWM
Name[km]=FLWM
Name[kn]=FLWM
Name[ko]=FLWM
Name[ku]=FLWM
Name[lt]=FLWM
Name[lv]=FLWM
Name[mai]=एफएलडबल्यूएम
Name[mk]=FLWM
Name[ml]=എഫ്എല്‍ഡബ്ലിയുഎം
Name[mr]=एफएलडबल्यूएम
Name[ms]=FLWM
Name[nb]=FLWM
Name[nds]=FLWM
Name[ne]=FLWM
Name[nl]=FLWM
Name[nn]=FLWM
Name[pa]=FLWM
Name[pl]=FLWM
Name[pt]=FLWM
Name[pt_BR]=FLWM
Name[ro]=FLWM
Name[ru]=FLWM
Name[se]=FLWM
Name[si]=FLWM
Name[sk]=FLWM
Name[sl]=FLWM
Name[sr]=ФЛВМ
Name[sr@ijekavian]=ФЛВМ
Name[sr@ijekavianlatin]=FLWM
Name[sr@latin]=FLWM
Name[sv]=FLWM
Name[ta]=FLWM
Name[te]=ఎఫ్ ఎల్ డబ్ల్యు ఎం
Name[tg]=FLWM
Name[th]=ตัวจัดการหน้าต่าง FLWM
Name[tr]=FLWM
Name[ug]=FLWM
Name[uk]=FLWM
Name[uz]=FLWM
Name[uz@cyrillic]=FLWM
Name[vi]=FLWM
Name[wa]=FLWM
Name[x-test]=xxFLWMxx
Name[zh_CN]=FLWM
Name[zh_TW]=FLWM
Comment=The Fast Light Window Manager, based primarily on WM2
Comment[af]=Die Vinnige, ligte venster bestuurder, wat op WM2 gebaseer is
Comment[ar]=مدير النوافذ الخفيف والسريع مبني على قاعدة WM2
Comment[ast]=El Fast Light Window Manager, basáu principalmente en WM2
Comment[be]=The Fast Light Window Manager, заснаваны на WM2
Comment[be@latin]=„Fast Light Window Manager”, jaki abapirajecca na bazu „WM2”
Comment[bg]=Лек и бърз мениджър на прозорци на базата на WM2
Comment[bn]=ফাস্ট লাইট উইণ্ডো ম্যানেজার, WM2 ভিত্তি করে তৈরি
Comment[bs]=Brzi laki menadžer prozora, zasnovan na VM2
Comment[ca]=El gestor de finestres Fast Light, primerament basat en WM2
Comment[ca@valencia]=El gestor de finestres Fast Light, primerament basat en WM2
Comment[cs]=Fast Light Window Manager založený původně na WM2
Comment[csb]=Fast Light Window Manager, menadżera òknów ùsôdzony przédno na WM2
Comment[cy]=Y Trefnydd Ffenestri Chwim ac Ysgafn, wedi'i seilio ar WM2 am y rhan fwyaf
Comment[da]=Fast Light vindueshåndtering, baseret først og fremmest på WM2
Comment[de]=Der Fast Light Window Manager, der vor allem auf WM2 basiert
Comment[el]=Ο  Fast Light διαχειριστής παραθύρων, βασισμένος κυρίως στον WM2
Comment[en_GB]=The Fast Light Window Manager, based primarily on WM2
Comment[eo]=Rapida malpeza fenestroadministrilo
Comment[es]=El Fast Light Window Manager, basado principalmente en WM2
Comment[et]=Kiire ja vähenõudlik aknahaldur, aluseks peamiselt WM2
Comment[eu]=Fast Light Window Manager, batez ere WM2n oinarritutako leiho-kudeatzailea
Comment[fa]=مدیر پنجره سریع و سبک، در اصل بر اساس WM2
Comment[fi]=Fast Light Window Manager. Pohjautuu suurimmaksi osin WM2:een
Comment[fr]=Gestionnaire de fenêtres « Fast Light Window Manager », reposant principalement sur WM2
Comment[fy]=De Fast Light Window Manager, primêr basearre op WM2
Comment[ga]=Bainisteoir Fuinneog Gasta Éadrom, bunaithe go príomha ar WM2
Comment[gl]=O Fast Light Window Manager, un xestor de xanelas lixeiro baseado en WM2
Comment[gu]=ફાસ્ટ લાઇટ વિન્ડો વ્યવસ્થાપક, મુખ્યત્વે WM2 પર આધારિત
Comment[he]=‏Fast Light Window Manager, מבוסס בעיקר על WM2
Comment[hi]=मुख्यतः डबल्यूएम2 पर आधारित तेज और हल्का विंडो प्रबंधक
Comment[hne]=मुख्यतः डबल्यूएम2 मं आधारित तेज अउ हल्का विंडो प्रबंधक
Comment[hr]=Brzi i lagani upravitelj prozora (FLWM), zasnovan na WM2
Comment[hsb]=Fast Light Window Manager, bazowacy hłownje na WM2
Comment[hu]=Fast Light Window Manager ablakkezelő, elsősorban a WM2 alapján
Comment[ia]=Le Fast Light Window Manager, basate principalmente sur WM2
Comment[id]=The Fast Light Window Manager, utamanya berbasis pada WM2
Comment[is]=Léttur og hraðvirkur gluggastjóri sem er aðallega byggður á WM2
Comment[it]=Il gestore di finestre Fast Light, basato principalmente su WM2
Comment[ja]=“高速で軽い” WM2 ベースのウィンドウマネージャ
Comment[ka]=სწრაფი და მსუბუქი ფანჯრების მენეჯერი WM2 -ის ბაზაზე
Comment[kk]=WM2-негіздеген жеңіл және жедел терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អូច​ភ្លឺ​ច្បាស់ ផ្អែក​ជា​ចម្បង​លើ WM2
Comment[kn]=ಮೂಲತಃ WM2 ಆಧಾರಿತ, ಚುರುಕಾದ ಹಾಗೂ ಹಗುರವಾದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=WM2에 기반을 둔 빠르고 가벼운 창 관리자
Comment[lt]=Greita ir lengva langų tvarkyklė, paremta daugiausiai WM2
Comment[lv]=Fast Light Logu Pārvaldnieks, bāzēts galvenokārt uz WM2
Comment[mai]=मुख्यतः डबल्यूएम2 पर आधारित तेज आओर हलुक विंडो प्रबंधक
Comment[mk]=Fast Light Window Manager, менаџер примарно базиран на WM2
Comment[ml]=ഡബ്ല്യൂഎം2വിനേ ആസപ്ധമാക്കിയ, ദി ഫാസ്റ്റ് ലൈറ്റ് ജാലകപാലകന്‍
Comment[mr]=मुख्यतः WM2 वर आधारित जलद व हल्के चौकट प्रबंधक
Comment[nb]=En rask, lett vindusbehandler (Fast Light Window Manager), mest basert på WM2
Comment[nds]=De "Fast Light"-Finsterpleger, to'n gröttsten Deel opbuut op WM2
Comment[ne]=साधारणतया WM2 मा आधारित छिटो हल्का सञ्झ्याल प्रबन्धक
Comment[nl]=De Fast Light Window Manager, primair gebaseerd op WM2
Comment[nn]=Ein rask, lett vindaugssjef (Fast Light Window Manager), mest basert på WM2
Comment[pa]=ਇੱਕ ਹਲਕਾ ਤੇਜ਼ ਫਾਇਲ ਮੈਨੇਜਰ, ਜੋ ਕਿ WM2 ਤੇ ਆਧਾਰਿਤ ਹੈ
Comment[pl]=Fast Light Window Manager, menadżer okien stworzony głownie na podstawie WM2
Comment[pt]=O Fast Light Window Manager, baseado em primeiro lugar no WM2
Comment[pt_BR]=Acrônimo para Fast Light Window Manager (gerenciador rápido e leve), baseado primeiramente no WM2
Comment[ro]=Fast Light Window Administrator, bazat în principal pe WM2
Comment[ru]=Быстрый и лёгкий диспетчер окон, основанный на WM2
Comment[se]=Jođánis, geahpes lásegieđahalli, ráhkaduvvon WM2 vuođul
Comment[si]=වේගවත් හා සැහැල්ලු කවුළු කළමණාකරුවෙක්, ප්‍රධාන වශයෙන් WM2 මත පාදක වූ
Comment[sk]=Fast Light Window Manager založený na WM2
Comment[sl]=Upravljalnik oken Fast Light, temelji v glavnem na WM2
Comment[sr]=Брзи лаки менаџер прозора, заснован на ВМ2
Comment[sr@ijekavian]=Брзи лаки менаџер прозора, заснован на ВМ2
Comment[sr@ijekavianlatin]=Brzi laki menadžer prozora, zasnovan na WM2
Comment[sr@latin]=Brzi laki menadžer prozora, zasnovan na WM2
Comment[sv]=Fönsterhanteraren Fast Light Window Manager, i huvudsak baserad på WM2
Comment[ta]=WM2 அடிப்படையிலான வேக ஒளி வேக சாளர மேளாளர்
Comment[te]=ఫాస్‍ట్‌లైట్ విండో నిర్వాహిక, ప్రాధమికంగా WM2 పై ఆధారపడి
Comment[tg]=Быстрый и лёгкий оконный менеджер, основанный на WM2
Comment[th]=ระบบจัดการหน้าต่างที่เร็วและเบา สร้างบนพื้นฐานของ WM2
Comment[tr]=Fast Light Pencere Yöneticisi
Comment[ug]=WM2 ئاساسىدىكى تېز ۋە ئاددىي كۆزنەك باشقۇرغۇچ
Comment[uk]=Швидке і легке керування вікнами, засноване здебільшого на WM2
Comment[uz]=Asosan WM2 asosida yaratilgan tez va oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=Асосан WM2 асосида яратилган тез ва оддий ойна бошқарувчи
Comment[vi]=Trình Quản lý Cửa sổ Nhanh và Nhẹ, dựa chủ yếu vào WM2
Comment[wa]=Li roed ledjir Manaedjeu des fniesses (Fast Light Window Manager), båzé so WM2
Comment[x-test]=xxThe Fast Light Window Manager, based primarily on WM2xx
Comment[zh_CN]=又快又轻巧的窗口管理器，主要基于 WM2
Comment[zh_TW]=一個主要基於 WM2 且快速及輕量化的視窗管理程式
