[Desktop Entry]
Type=XSession
Exec=fvwm95
TryExec=fvwm95
Name=FVWM95
Name[af]=FVWM95
Name[ar]=FVWM95
Name[ast]=FVWM95
Name[be]=FVWM95
Name[be@latin]=FVWM95
Name[bg]=FVWM95
Name[bn]=FVWM95
Name[bn_IN]=FVWM95
Name[br]=FVWM95
Name[bs]=FVVM95
Name[ca]=FVWM95
Name[ca@valencia]=FVWM95
Name[cs]=FVWM95
Name[csb]=FVWM95
Name[cy]=FVWM95
Name[da]=FVWM95
Name[de]=FVWM95
Name[el]=FVWM95
Name[en_GB]=FVWM95
Name[eo]=FVWM95
Name[es]=FVWM95
Name[et]=FVWM95
Name[eu]=FVWM95
Name[fi]=FVWM95
Name[fr]=FVWM95
Name[fy]=FVWM95
Name[ga]=FVWM95
Name[gl]=FVWM95
Name[gu]=FVWM95
Name[he]=FVWM95
Name[hi]=एफ़वीडबल्यूएम95
Name[hne]=एफवीडबल्यूएम95
Name[hr]=FVWM95
Name[hsb]=FVWM95
Name[hu]=FVWM95
Name[ia]=FVWM95
Name[id]=FVWM95
Name[is]=FVWM95
Name[it]=FVWM95
Name[ja]=FVWM95
Name[ka]=FVWM95
Name[kk]=FVWM95
Name[km]=FVWM95
Name[kn]=FVWM95
Name[ko]=FVWM95
Name[ku]=FVWM95
Name[lt]=FVWM95
Name[lv]=FVWM95
Name[mai]=एफवीडबल्यूएम95
Name[mk]=FVWM95
Name[ml]=എഫ്‌വിഡബ്ലിയുഎം95
Name[mr]=FVWM95
Name[ms]=FVWM95
Name[nb]=FVWM95
Name[nds]=FVWM95
Name[ne]=FVWM95
Name[nl]=FVWM95
Name[nn]=FVWM95
Name[pa]=FVWM95
Name[pl]=FVWM95
Name[pt]=FVWM95
Name[pt_BR]=FVWM95
Name[ro]=FVWM95
Name[ru]=FVWM95
Name[se]=FVWM95
Name[si]=FVWM95
Name[sk]=FVWM95
Name[sl]=FVWM95
Name[sr]=ФВВМ95
Name[sr@ijekavian]=ФВВМ95
Name[sr@ijekavianlatin]=FVWM95
Name[sr@latin]=FVWM95
Name[sv]=FVWM95
Name[ta]=FVWM95
Name[te]=ఎఫ్ వి డబ్ల్యు ఎం 95
Name[tg]=FVWM95
Name[th]=FVWM95
Name[tr]=FVWM95
Name[ug]=FVWM95
Name[uk]=FVWM95
Name[uz]=FVWM95
Name[uz@cyrillic]=FVWM95
Name[vi]=FVWM95
Name[wa]=FVWM95
Name[x-test]=xxFVWM95xx
Name[zh_CN]=FVWM95
Name[zh_TW]=FVWM95
Comment=A Windows 95 look-alike derivative of FVWM
Comment[af]='n FVWM venster bestuurder wat soos Windows 95 lyk
Comment[ar]=مدير نوافذ مشابه لوندوز 95 مشتق من FVWM
Comment[ast]=Un deriváu de FVWM d'aspeutu asemeyáu a Win95
Comment[be]=Вытворная ад FVWM, падобная на Windows 95
Comment[be@latin]=Adhalinavańnie ad akońnika „FVWM”, jaki vyhladaje, jak systema „Windows 95”
Comment[bg]=Дериват на FVWM, наподобяващ Windows 95
Comment[bn]=FVWM-ভিত্তিক Windows 95-এর মত দেখতে একটি উইণ্ডো ম্যানেজার
Comment[bs]=Izvedba FVVM‑a nalik na Vindouz 95
Comment[ca]=Un derivat del FVWM semblant al Windows 95
Comment[ca@valencia]=Un derivat del FVWM paregut al Windows 95
Comment[cs]=Správce oken se vzhledem Windows 95 odvozený od FVWM
Comment[csb]=Pòchòdzący z FVWM menadżera òknów ò wëzdrzatkù szlachùjącym za Windows 95
Comment[cy]=Deilliant o FVWM sy'n edrych yn debyg i Windows95
Comment[da]=En Windows 95-lignende vindueshåndtering afledt af FVWM
Comment[de]=Ein Abkömmling von FVWM im Stil von Windows 95
Comment[el]=Ένας παρόμοιος με τα Windows 95 διαχειριστής παραθύρων προερχόμενος από τον FVWM
Comment[en_GB]=A Windows 95 look-alike derivative of FVWM
Comment[eo]=Fenestroadministrilo kiel tiu de Vindozo 95
Comment[es]=Un derivado de FVWM de aspecto similar a Windows 95
Comment[et]=FVWM derivaat, mis näeb välja nagu Windows 95
Comment[eu]=Windows 95en itxurako FVWMren eratorri bat
Comment[fa]=ویندوز ۹۵ شبیه مشتق FVWM
Comment[fi]=Windows 95:lta näyttävä FVWM-johdannainen
Comment[fr]=Un gestionnaire de fenêtres ressemblant à Windows 95, dérivant de FVWM
Comment[fy]=In op Windows 95 lykjende fariant fan FVWM
Comment[ga]=Bainisteoir fuinneog cosúil le Windows 95 bunaithe ar FVWM
Comment[gl]=Un xestor de xanelas co aspecto de Windows 95 derivado de FVWM
Comment[gu]=FVWM માંથી બનાવેલ વિન્ડોઝ-૯૫ જેવું
Comment[he]=נגזרת דמויית Windows 95 של FVWM
Comment[hi]=विंडोज़ 95 जैसा दिखने वाला एफ़वीडबल्यूएम का प्रतिरूप
Comment[hne]=विंडोज 95 जइसन दिखने वाला एफवीडबल्यूएम के प्रतिरूप
Comment[hr]=Derivat FVWM-a nalik na Windows 95
Comment[hsb]=FVWM-potomnik, kiž wupada kaž Windows 95
Comment[hu]=Win95-szerű FVWM-változat
Comment[ia]=Un derivate de FVWM semblante Windows 95
Comment[id]=Sebuah derivatif FVWM yang tampilannya mirip Windows 95
Comment[is]=Útgáfa af FVWM sem líkist Windows 95
Comment[it]=Una variante di FVWM che assomiglia a Windows 95
Comment[ja]=Windows95 に似た外見の FVWM 派生ウィンドウマネージャ
Comment[ka]=FVWM კლონი Windows 95-ის სტილში
Comment[kk]=Windows 95 секілді FVWM-негіздеген терезе менеджері
Comment[km]=ស្រដៀង Windows 95 ដែល​ក្លាយ​មក​ពី FVWM
Comment[kn]=FVWM ನ Windows 95 ತದ್ರೂಪು ಜನ್ಯ
Comment[ko]=FVWM의 Windows 95를 닮은 변종
Comment[lt]=Windows 95 išvaizdą primenanti FVWM atmaina
Comment[lv]=Windows 95 līdzīgs FVWM atvasinājums
Comment[mai]=विंडोज 95 जहिना दिखै बला एफवीडबल्यूएम क' प्रतिरूप
Comment[mk]=Деривација на FVWM менаџерот со изглед на Windows 95
Comment[ml]=എഫ്‌വിഡബ്ലിയുഎം വിന്‍ഡോസ് 95 പോലെ തോന്നുന്നതാക്കാന്‍ മാറ്റിയതു്
Comment[mr]=Windows 95 नुरूप दिसणारे FVWM चे प्रतिरूप
Comment[ms]=Terbitan FVWM yang menyerupai Windows 95
Comment[nb]=En variant av FVWM som ser ut som Windows 95
Comment[nds]=Süht ut as Windows 95 un is vun FVWM afleddt
Comment[ne]=विण्डोज ९५ FVWM को डेरिभेटिभ जस्तो छ
Comment[nl]=Een op Windows 95 lijkende variant van FVWM
Comment[nn]=Ein variant av FVWM som ser ut som Windows 95
Comment[pa]=ਵਿੰਡੋ 95 ਵਰਗਾ FVWM ਦਾ ਇੱਕ ਰੂਪ
Comment[pl]=Wywodzący się z FVWM menadżer okien o wyglądzie podobnym do Windows 95
Comment[pt]=Uma derivação do FVWM parecida com o Windows 95
Comment[pt_BR]=Um derivado do FVWM com a aparência do Windows 95
Comment[ro]=O versiune de FVWM cu aspect de Windows 95
Comment[ru]=Клон FVWM в стиле Windows 95
Comment[se]=FVWM-vuođđoduvvon lásegieđahalli mii lea Windows 95-lágan
Comment[si]=Windows 95 මෙන් පෙනෙන FVWM ගෙන් සැදුමක්
Comment[sk]=Správca okien podobný Windows 95 založený na FVWM
Comment[sl]=Izpeljanka FVWM v izgledu Windows 95
Comment[sr]=Изведба ФВВМ‑а налик на Виндоуз 95
Comment[sr@ijekavian]=Изведба ФВВМ‑а налик на Виндоуз 95
Comment[sr@ijekavianlatin]=Izvedba FVWM‑a nalik na Windows 95
Comment[sr@latin]=Izvedba FVWM‑a nalik na Windows 95
Comment[sv]=Fönsterhanterare som liknar Windows 95 med ursprung i FVWM
Comment[ta]=FVWM லிருந்து தோன்றிய விண்டோஸ் 95 ஐப் போன்ற 
Comment[te]=FVWM యొక్క విండోస్ 95 లుక్-ఎలైక్ ‌వ్యుత్పన్నం
Comment[tg]=Клон FVWM в стиле Windows 95
Comment[th]=FVWM ที่ถูกทำให้ดูเหมือนวินโดวส์ 95
Comment[tr]=Windows 95'e benzeyen bir pencere yönetimi
Comment[ug]=Windows 95 كە كۆرۈنۈشى ئوخشايدىغان FVWM شالغۇتى
Comment[uk]=Похідне від FVWM керування вікнами, за стилем нагадує Windows 95
Comment[uz]=Win95'ga oʻxshagan FVWM'ning turi
Comment[uz@cyrillic]=Win95'га ўхшаган FVWM'нинг тури
Comment[vi]=Trình quản lý cửa sổ giống Windows 95, hậu duệ của FVWM
Comment[wa]=On manaedjeu des fniesses rishonnant a Windows 95, båzé so FVWM
Comment[x-test]=xxA Windows 95 look-alike derivative of FVWMxx
Comment[zh_CN]=一个与 Windows 95 外观类似的 FVWM 变体
Comment[zh_TW]=一個由 FVWM 演化出來且外觀像 Win95 的視窗管理程式
