[Desktop Entry]
Type=XSession
Exec=gnome-session
TryExec=gnome-session
DesktopNames=GNOME
Name=GNOME
Name[af]=GNOME
Name[ar]=جنوم
Name[ast]=GNOME
Name[be]=GNOME
Name[be@latin]=GNOME
Name[bg]=GNOME
Name[bn]=গনোম
Name[bn_IN]=GNOME
Name[br]=GNOME
Name[bs]=Gnom
Name[ca]=GNOME
Name[ca@valencia]=GNOME
Name[cs]=GNOME
Name[csb]=GNOME
Name[cy]=GNOME
Name[da]=GNOME
Name[de]=GNOME
Name[el]=GNOME
Name[en_GB]=GNOME
Name[eo]=Gnome
Name[es]=GNOME
Name[et]=GNOME
Name[eu]=GNOME
Name[fa]=گنوم
Name[fi]=Gnome
Name[fr]=GNOME
Name[fy]=GNOME
Name[ga]=GNOME
Name[gl]=GNOME
Name[gu]=જીનોમ
Name[he]=GNOME
Name[hi]=गनोम
Name[hne]=ग्नोम
Name[hr]=GNOME
Name[hsb]=GNOME
Name[hu]=GNOME
Name[ia]=GNOME
Name[id]=GNOME
Name[is]=GNOME
Name[it]=GNOME
Name[ja]=GNOME
Name[ka]=GNOME
Name[kk]=GNOME
Name[km]=GNOME
Name[kn]=ಗ್ನೋಮ್
Name[ko]=그놈
Name[ku]=GNOME
Name[lt]=GNOME
Name[lv]=GNOME
Name[mai]=गनोम
Name[mk]=GNOME
Name[ml]=ഗ്നോം
Name[mr]=GNOME
Name[ms]=GNOME
Name[nb]=GNOME
Name[nds]=GNOME
Name[ne]=जिनोम
Name[nl]=GNOME
Name[nn]=GNOME
Name[oc]=GNOME
Name[pa]=GNOME
Name[pl]=GNOME
Name[pt]=GNOME
Name[pt_BR]=GNOME
Name[ro]=GNOME
Name[ru]=GNOME
Name[se]=GNOME
Name[si]=GNOME
Name[sk]=GNOME
Name[sl]=GNOME
Name[sr]=Гном
Name[sr@ijekavian]=Гном
Name[sr@ijekavianlatin]=Gnome
Name[sr@latin]=Gnome
Name[sv]=Gnome
Name[ta]=க்னோம்
Name[te]=గ్నొమ్
Name[tg]=GNOME
Name[th]=GNOME
Name[tr]=GNOME
Name[ug]=GNOME
Name[uk]=GNOME
Name[uz]=GNOME
Name[uz@cyrillic]=GNOME
Name[vi]=GNOME
Name[wa]=GNOME
Name[x-test]=xxGNOMExx
Name[zh_CN]=GNOME
Name[zh_TW]=GNOME
Comment=The GNU Network Object Model Environment. A complete, free and easy-to-use desktop environment
Comment[af]=Die GNU 'Network Object Model Environment'. 'n Volledige, gratis en maklik om te gebruik werkskerm omgewing.
Comment[ar]=بيئة سطح مكتب مكتملة وحرة وسهلة الاستخدام
Comment[ast]=El GNU Network Object Model Environment, un entornu d'escritoriu completu, llibre y fácil d'usar
Comment[be]=The GNU Network Object Model Environment. Поўнае, свабоднае і простае ў выкарыстанні працоўнае асяроддзе
Comment[be@latin]=„GNU Network Object Model Environment”: poŭny, svabodny j prosty dla karystańnika rabočy stoł
Comment[bg]=GNU Network Object Model Environment. Подробна, свободна и лесна за използване графична среда
Comment[bn]=দি গনিউ নেটওয়ার্ক অবজেক্টমডেল এনভায়রনমেন্ট।  একটি পূর্ণ, মুক্ত এবং সহজেই ব্যবহারযোগ্য ডেস্কটপ এনভায়রনমেন্ট
Comment[bs]=Potpuno, besplatno i lako za korišćenje okruženje radne površi
Comment[ca]=El GNU Network Object Model Environment. Un entorn d'escriptori complet, lliure i fàcil d'usar
Comment[ca@valencia]=El GNU Network Object Model Environment. Un entorn d'escriptori complet, lliure i fàcil d'usar
Comment[cs]=GNOME, GNU Network Object Model Environment. Kompletní, svobodné a uživatelsky přívětivé grafické prostředí.
Comment[csb]=GNU Network Object Model Environment (GNOME). Fùlwôrtné, wòlné ë prosté w brëkòwaniô òkrãżé pùltu
Comment[cy]=Yr Amgylchedd Model Gwrthrych Rhwydwaith GNU (GNU Network Object Model Environment).  Amgylchedd penbwrdd cyflawn, rhydd, a hawdd ei ddefnyddio.
Comment[da]=GNU Network Object Model Environment. Et fuldstænding, frit og nemt at bruge skrivebordsmiljø
Comment[de]=Das GNU Network Object Model Environment. Eine vollständige, freie und leicht bedienbare Arbeitsumgebung
Comment[el]=Το GNU Network Object Model Environment. Ένα πλήρες, ελεύθερο και εύκολο στη χρήση περιβάλλον επιφάνειας εργασίας
Comment[en_GB]=The GNU Network Object Model Environment. A complete, free and easy-to-use desktop environment
Comment[eo]=Plena labortabla ĉirkaŭaĵo
Comment[es]=El GNU Network Object Model Environment, un entorno de escritorio completo, libre y fácil de usar
Comment[et]=GNU Network Object Model Environment on täielik, vaba ja väga hõlpsasti kasutatav töölaua keskkond
Comment[eu]=GNU Network Object Model Environment. Mahaigain-ingurune osoa, librea eta erabilerraza.
Comment[fa]=محیط مدل شئ شبکه گنو. محیط رومیزی کامل، آزاد و آسان برای استفاده.
Comment[fi]=GNU Network Object Model Environment. Valmis, vapaa ja helppokäyttöinen työpöytäympäristö
Comment[fr]=« GNU Network Object Model Environment », un environnement de bureau complet, gratuit et facile à utiliser
Comment[fy]=De GNU Network Object Model Environment, In komplete, frije en ienfâldige te brûken buroblêd omwrâld
Comment[ga]=GNOME (GNU Network Object Model Environment). Timpeallacht saor iomlán so-úsáidte
Comment[gl]=O GNU Network Object Model Environment, un sistema de escritorio completo, libre e de uso doado
Comment[gu]=GNU નેટવર્ક ઓબ્જેક્ટ મોડેલ એન્વાર્યમેન્ટ. સંપૂર્ણ, મુક્ત અને સરળ રીતે વાપરી શકાય તેવું ડેસ્કટોપ એન્વાર્યમેન્ટ
Comment[he]=‏GNU Network Object Model Environment. סביבת שולחן עבודה מלאה, חופשית וקלה לשימוש
Comment[hi]=जीएनयू नेटवर्क ऑब्जेक्ट मॉडल एनवायरनमेंट. एक संपूर्ण, उपयोग में आसान डेस्कटॉप वातावरण
Comment[hne]=जीएनयू नेटवर्क आब्जेक्ट माडल एनवायरनमेंट. एक पूरा, उपयोग मं आसान डेस्कटाप वातावरन
Comment[hr]=GNOME – GNU Network Object Model Environment – Cjelokupno, besplatno i jednostavno okruženje radne površine
Comment[hsb]=The GNU Network Object Model Environment. Dospołny, swobodny a přihódny system za dźěłowy powjerch.
Comment[hu]=GNU Network Object Model Environment (GNOME), egy teljes, ingyenes, könnyen kezelhető grafikus környezet
Comment[ia]=Le GNU Network Object Model Environment. Un ambiente de scriptorio complete, libere e facile de usar se
Comment[id]=The GNU Network Object Model Environment. Sebuah lingkungan desktop yang lengkap, gratis dan mudah digunakan
Comment[is]=GNU Network Object Model Environment er fullkomið og fjrálst skjáborðsumhverfi sem er auðvelt að nota
Comment[it]=Il GNU Network Object Model Environment. Un ambiente desktop completo, libero e facile da usare
Comment[ja]=GNU オブジェクトモデル環境, 完全にフリーで使いやすいデスクトップ環境
Comment[ka]=GNU Network Object Model Environment - სრული, თავისუფალი და ადვილად გამოყენებადი სამუშაო გარემო
Comment[kk]=GNU Network Object Model Environment. Толық, еркін таратылатын, ыңғайлы графикалық орта
Comment[km]=បរិស្ថាន​ផ្ទៃតុ​ម៉ូដែល​វត្ថុ​​បណ្តាញ GNU ។ បរិស្ថាន​ផ្ទៃតុ​​ពេញលេញ ឥត​គិត​ថ្លៃ និង​ងាយស្រួល​ប្រើ
Comment[kn]=ಗ್ನೂ ನ ಜಾಲ ವಸ್ತು ಮಾದರಿ ಪರಿಸರ (ನೆಟ್ವರ್ಕ್ ಆಬ್ಜೆಕ್ಟ್ ಮಾಡಲ್ ಎನವಿರಾನ್ಮೆಂಟ್). ಒಂದು ಸಂಪೂರ್ಣ, ಉಚಿತ ಹಾಗೂ ಉಪಯೋಗಿಸಲು ಸುಲಭವಾದ ಗಣಕಪರಿಸರ
Comment[ko]=GNU Network Object Model Environment(그놈). 완전한 자유 소프트웨어 데스크톱 환경입니다.
Comment[lt]=GNU tinklo objektų modeliavimo aplinka. Savarankiška, laisva ir lengvai naudojama darbastalio aplinka
Comment[lv]=GNU Network Object Model Environment. Pilnvērtīga, viegli lietojama bezmaksasdarbvirsmas vide
Comment[mai]=जीएनयू नेटवर्क आब्जेक्ट माडल एनवायरनमेंट. एकटा संपूर्ण, उपयोग मे आसान डेस्कटाप वातावरण
Comment[mk]=GNU Network Object Model Environment. Работна околина која е комплетна, слободна и едноставна за користење
Comment[ml]=ദി ഗ്നു നെറ്റ്‌വര്‍ക്ക് ഒബ്ജക്റ്റ് മോഡല്‍ പരിസ്തിഥി. പൂര്‍ണ്ണവും, സ്വതന്ത്രവും, ഉപയോഗിക്കാന്‍ ലളിതവുമായ ഒരു പണിയിട പരിസരം
Comment[mr]=GNU नेटवर्क ऑब्जेक्ट मॉडल एनवायरनमेंट. एक संपूर्ण, वापरण्याजोगी सोपे डेस्कटॉप वातावरण
Comment[nb]=GNU Network Object Model Environment. Et skrivebordsmiljø som er komplett, fritt og lett å bruke
Comment[nds]=De "GNU Network Object Model Environment". En komplette Schriefdisch-Ümgeven, ümsunst un eenfach to bruken
Comment[ne]=GNU सञ्जाल बस्तु नमूना वातावरण । पूर्ण, स्वतन्त्र र प्रयोग गर्न सजिलो डेस्कटप वातावरण
Comment[nl]=De GNU Network Object Model Environment, een complete, vrije en eenvoudig te gebruiken desktop environment
Comment[nn]=GNU Network Object Model Environment. Eit skrivebordsmiljø som er komplett, fritt og lett å bruka.
Comment[pa]=GNU ਨੈੱਟਵਰਕ ਆਬਜੈਕਟ ਮਾਡਲ ਇੰਵਾਇਰਨਮੈਂਟ ਹੈ। ਇੱਕ ਸੰਪੂਰਨ, ਮੁਫਤ/ਮੁਕਤ ਅਤਅ ਵਰਤਣ ਵਿੱਚ ਅਤਿ ਆਸਾਨ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ ਹੈ।
Comment[pl]=GNU Network Object Model Environment (GNOME). Pełne, wolne i łatwe w użyciu środowisko pulpitu
Comment[pt]=O GNU Network Object Model Environment. Um ambiente de trabalho completo, livre e fácil de usar
Comment[pt_BR]=Acrônimo para GNU Network Object Model Environment ou Ambiente de Modelo de Objetos de Rede GNU; um ambiente de trabalho completo, livre e fácil de usar
Comment[ro]=GNU Network Object Model Environment. Un mediu grafic complet, gratuit și ușor de utilizat
Comment[ru]=GNU Network Object Model Environment - полная, свободная и лёгкая в использовании графическая среда
Comment[se]=GNU Netword Object Model Environment: Čállinbeavdebiras mii lea aibbas fridja ja álki geavahit.
Comment[si]=GNU ජාල වස්තු ආකෘති පාරිසරිකය, සම්පූර්ණ නිදහස් හා භාවිතයට පහසු වැඩතල පාරිසරිකයක්
Comment[sk]=The GNU Network Object Model Environment. Úplné, voľne šíriteľné a ľahko používateľné pracovné prostredie
Comment[sl]=GNU Network Object Model Environment. Celovito, prosto in preprosto namizno okolje
Comment[sr]=Потпуно, бесплатно и лако за коришћење окружење радне површи
Comment[sr@ijekavian]=Потпуно, бесплатно и лако за коришћење окружење радне површи
Comment[sr@ijekavianlatin]=Potpuno, besplatno i lako za korišćenje okruženje radne površi
Comment[sr@latin]=Potpuno, besplatno i lako za korišćenje okruženje radne površi
Comment[sv]=GNU Network Object Model Environment. En fullständig, fri och lättanvänd skrivbordsmiljö
Comment[ta]=GNU மாதிரி வலை பொருள் சூழல்.முழுமையான , இலவச சுலபமாக பயன்படுத்தக்கூடிய மேல்மேசை சூழல்
Comment[te]=GNU నెట్వర్‍క్  ఆబ్జక్‍ట్ మోడల్ వాతావరణం. ఒక పూర్తి, ఉచిత మరియు ఉపయోగించుటకు-సులభమైన డెస్‍క్ టాప్ వాతావరణం
Comment[tg]=GNU Network Object Model Environment - полная, свободная и лёгкая в использовании графическая среда
Comment[th]=GNU Network Object Model Environment สภาพแวดล้อมสำหรับเดสก์ทอปที่ครบถ้วน, ฟรี และใช้งานง่าย
Comment[tr]=GNU Network Object Model Environment (GNOME)
Comment[ug]=GNU تور نەڭ مودېل مۇھىتى. مۇكەممەل، ئەركىن ۋە ئىشلىتىش ئوڭاي ئۈستەلئۈستى مۇھىتى
Comment[uk]=The GNU Network Object Model Environment. Повнофункціональне, вільне та зручне графічне середовище
Comment[uz]=GNOME (GNU Network Object Model Environment) - mukammal, erkin va foydalanish uchun juda qulay ish stoli muhiti
Comment[uz@cyrillic]=GNOME (GNU Network Object Model Environment) - мукаммал, эркин ва фойдаланиш учун жуда қулай иш столи муҳити
Comment[vi]=Môi trường Mô hình Đối tượng Mạng của GNU. Một môi trường màn hình nền đầy đủ, tự do và dễ sử dụng
Comment[wa]=L' Evironmint di Modele d' Objet Rantoele GNU (GNU Network Object Model Environment). On evironmint d' sicribanne complet, libe eyet åjhey a eployî.
Comment[x-test]=xxThe GNU Network Object Model Environment. A complete, free and easy-to-use desktop environmentxx
Comment[zh_CN]=GNU 网络对象模型环境。完整、自由、易用的桌面环境
Comment[zh_TW]=GNU 網路物件模型環境。一個完整，免費且容易使用的桌面環境
