[Desktop Entry]
Type=XSession
Exec=golem
TryExec=golem
Name=Golem
Name[af]=Golem
Name[ar]=Golem
Name[ast]=Golem
Name[be]=Golem
Name[be@latin]=Golem
Name[bg]=Golem
Name[bn]=গোলেম
Name[bn_IN]=Golem
Name[br]=Golem
Name[bs]=Golem
Name[ca]=Golem
Name[ca@valencia]=Golem
Name[cs]=Golem
Name[csb]=Golem
Name[cy]=Golem
Name[da]=Golem
Name[de]=Golem
Name[el]=Golem
Name[en_GB]=Golem
Name[eo]=Golemo
Name[es]=Golem
Name[et]=Golem
Name[eu]=Golem
Name[fi]=Golem
Name[fr]=Golem
Name[fy]=Golem
Name[ga]=Golem
Name[gl]=Golem
Name[gu]=ગોલેમ
Name[he]=Golem
Name[hi]=गोलेम
Name[hne]=गोलेम
Name[hr]=Golem
Name[hsb]=Golem
Name[hu]=Golem
Name[ia]=Golem
Name[id]=Golem
Name[is]=Golem
Name[it]=Golem
Name[ja]=Golem
Name[ka]=Golem
Name[kk]=Golem
Name[km]=Golem
Name[kn]=ಗೋಲೆಮ್
Name[ko]=Golem
Name[ku]=Golem
Name[lt]=Golem
Name[lv]=Golem
Name[mai]=गोलेम
Name[mk]=Golem
Name[ml]=ഗോലെം
Name[mr]=गोलेम
Name[ms]=Golem
Name[nb]=Golem
Name[nds]=Golem
Name[ne]=गोलेम
Name[nl]=Golem
Name[nn]=Golem
Name[oc]=Golem
Name[pa]=ਗੋਲੀਮ
Name[pl]=Golem
Name[pt]=Golem
Name[pt_BR]=Golem
Name[ro]=Golem
Name[ru]=Golem
Name[se]=Golem
Name[si]=Golem
Name[sk]=Golem
Name[sl]=Golem
Name[sr]=Голем
Name[sr@ijekavian]=Голем
Name[sr@ijekavianlatin]=Golem
Name[sr@latin]=Golem
Name[sv]=Golem
Name[ta]=Golem
Name[te]=గొలెం
Name[tg]=Golem
Name[th]=Golem
Name[tr]=Golem
Name[ug]=Golem
Name[uk]=Golem
Name[uz]=Golem
Name[uz@cyrillic]=Golem
Name[vi]=Golem
Name[wa]=Golem
Name[x-test]=xxGolemxx
Name[zh_CN]=Golem
Name[zh_TW]=Golem
Comment=A lightweight window manager
Comment[af]='n Lig gewig venster bestuurder
Comment[ar]=مدير نوافذ خفيف
Comment[ast]=Un xestor de ventanes llixeru
Comment[be]=Лёгкі кіраўнік вокнаў
Comment[be@latin]=Nievialiki akońnik
Comment[bg]=Лек мениджър на прозорци
Comment[bn]=একটি হাল্কা উইণ্ডো ম্যানেজার
Comment[bs]=Lagani menadžer prozora
Comment[ca]=Un gestor de finestres lleuger
Comment[ca@valencia]=Un gestor de finestres lleuger
Comment[cs]=Malý správce oken
Comment[csb]=Menadżera òknów ò môłëch żądaniach
Comment[cy]=Trefnydd ffenestri ysgafn
Comment[da]=En letvægtsvindueshåndtering
Comment[de]=Eine schlanker Fenstermanager
Comment[el]=Ένας ελαφρύς διαχειριστής παραθύρων
Comment[en_GB]=A lightweight window manager
Comment[eo]=Malpeza fenestroadministrilo
Comment[es]=Un gestor de ventanas ligero
Comment[et]=Imeväike aknahaldur
Comment[eu]=Leiho-kudeatzaile arina
Comment[fa]=یک مدیر پنجره سبک
Comment[fi]=Kevyt ikkunointiohjelma
Comment[fr]=Un gestionnaire très léger de fenêtres 
Comment[fy]=In lichtgewicht finstersmanager
Comment[ga]=Bainisteoir éadrom fuinneog
Comment[gl]=Un xestor de xanelas lixeiro
Comment[gu]=હલ્કું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות קל משקל
Comment[hi]=एक हल्का विंडो प्रबंधक
Comment[hne]=एक हल्का विंडो प्रबंधक
Comment[hr]=Lagani upravitelj prozora
Comment[hsb]=Woknowy rjadowar, kiž njetrjeba wjele resursow
Comment[hu]=Egy nagyon egyszerű ablakkezelő
Comment[ia]=Un gerente de fenestra legier
Comment[id]=Sebuah manajer jendela yang ringan
Comment[is]=Léttur gluggastjóri
Comment[it]=Un gestore di finestre leggero
Comment[ja]=軽量なウィンドウマネージャ
Comment[ka]=მსუბუქი ფანჯრი მენეჯერი
Comment[kk]=Жеңіл терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​នៅ​ខាង​លើ
Comment[kn]=ಒಂದು ಹಗುರವಾದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=가벼운 창 관리자
Comment[lt]=Nedaug resursų eikvojanti langų tvarkyklė
Comment[lv]=Viegls logu pārvaldnieks
Comment[mai]=एकटा हलुक विंडो प्रबंधक
Comment[mk]=Лесен менаџер на прозорци
Comment[ml]=കനംകുറഞ്ഞ ഒരു ജാലകപാലകന്‍
Comment[mr]=एक हल्के चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap ringan
Comment[nb]=En lettvekts vindusbehandler
Comment[nds]=En ranke Finsterpleger
Comment[ne]=हल्का वजन सञ्झ्याल प्रबन्धक
Comment[nl]=Een lichtgewicht windowmanager
Comment[nn]=Ein lett vindaugssjef
Comment[pa]=ਇੱਕ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien o małych wymaganiach
Comment[pt]=Um gestor de janelas leve
Comment[pt_BR]=Um gerenciador de janelas leve
Comment[ro]=Un administrator de ferestre foarte mic
Comment[ru]=Лёгкий диспетчер окон
Comment[se]=Geahpes lásegieđahalli
Comment[si]=සැහැල්ලු කවුළු කළමණාකරුවෙක්
Comment[sk]=Odľahčený správca okien
Comment[sl]=Lahek upravljalnik oken
Comment[sr]=Лагани менаџер прозора
Comment[sr@ijekavian]=Лагани менаџер прозора
Comment[sr@ijekavianlatin]=Lagani menadžer prozora
Comment[sr@latin]=Lagani menadžer prozora
Comment[sv]=Lättviktig fönsterhanterare
Comment[ta]=குறைவான எடை உடைய சாளர மேலாளர்
Comment[te]=తెలికైన విండొ అభికర్త
Comment[tg]=Лёгкий оконный менеджер
Comment[th]=ระบบจัดการหน้าต่างขนาดเบา
Comment[tr]=Hızlı çalışan bir pencere yöneticisi
Comment[ug]=يېنىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Невибагливе до ресурсів керування вікнами
Comment[uz]=Oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=Оддий ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ nhẹ ký
Comment[wa]=On ledjir manaedjeu des fniesses
Comment[x-test]=xxA lightweight window managerxx
Comment[zh_CN]=轻量级窗口管理器
Comment[zh_TW]=一個輕量化的視窗管理程式
