[Desktop Entry]
Type=XSession
Exec=icewm-session
TryExec=icewm-session
Name=IceWM
Name[af]=IceWM
Name[ar]=IceWM
Name[ast]=IceWM
Name[be]=IceWM
Name[be@latin]=IceWM
Name[bg]=IceWM
Name[bn]=IceWM
Name[bn_IN]=IceWM
Name[br]=IceWM
Name[bs]=IceWM
Name[ca]=IceWM
Name[ca@valencia]=IceWM
Name[cs]=IceWM
Name[csb]=IceWM
Name[cy]=IceWM
Name[da]=IceWM
Name[de]=IceWM
Name[el]=IceWM
Name[en_GB]=IceWM
Name[eo]=IceWM
Name[es]=IceWM
Name[et]=IceWM
Name[eu]=IceWM
Name[fi]=IceWM
Name[fr]=IceWM
Name[fy]=IceWM
Name[ga]=IceWM
Name[gl]=IceWM
Name[gu]=IceWM
Name[he]=IceWM
Name[hi]=आइस-डबल्यूएम
Name[hne]=आइस-डबल्यूएम
Name[hr]=IceWM
Name[hsb]=IceWM
Name[hu]=IceWM
Name[ia]=IceWM
Name[id]=IceWM
Name[is]=IceWM
Name[it]=IceWM
Name[ja]=IceWM
Name[ka]=IceWM
Name[kk]=IceWM
Name[km]=IceWM
Name[kn]=IceWM
Name[ko]=IceWM
Name[ku]=IceWM
Name[lt]=IceWM
Name[lv]=IceWM
Name[mai]=आइस-डबल्यूएम
Name[mk]=IceWM
Name[ml]=ഐസ്ഡബ്ലിയുഎം
Name[mr]=आइस-डबल्यूएम
Name[ms]=IceWM
Name[nb]=IceWM
Name[nds]=IceWM
Name[ne]=IceWM
Name[nl]=IceWM
Name[nn]=IceWM
Name[pa]=IceWM
Name[pl]=IceWM
Name[pt]=IceWM
Name[pt_BR]=IceWM
Name[ro]=IceWM
Name[ru]=IceWM
Name[se]=IceWM
Name[si]=IceWM
Name[sk]=IceWM
Name[sl]=IceWM
Name[sr]=АјсВМ
Name[sr@ijekavian]=АјсВМ
Name[sr@ijekavianlatin]=IceWM
Name[sr@latin]=IceWM
Name[sv]=Ice WM
Name[ta]=IceWM
Name[te]=ఐస్ డబ్ల్యు ఎం
Name[tg]=IceWM
Name[th]=ตัวจัดการหน้าต่าง IceWM
Name[tr]=IceWM
Name[ug]=IceWM
Name[uk]=IceWM
Name[uz]=IceWM
Name[uz@cyrillic]=IceWM
Name[vi]=IceWM
Name[wa]=IceWM
Name[xh]=IceWM
Name[x-test]=xxIceWMxx
Name[zh_CN]=IceWM
Name[zh_TW]=IceWM
Comment=A Windows 95-OS/2-Motif-like window manager
Comment[af]='n Windows 95-OS/2-Motif tipe venster bestuurder
Comment[ar]=مدير نوافذ يشبه وندوز 95 وOS/2 وموتيف
Comment[ast]=Un xestor de ventanes asemeyáu a Win95-OS/2-Motif
Comment[be]=Кіраўнік вокнаў, падобны на Windows 95-OS/2-Motif
Comment[be@latin]=Akońnik, jaki vyhladaje, jak spałučeńnie systemaŭ „Windows 95”, „OS/2” i „Motif”
Comment[bg]=Мениждър на прозорци, наподобяващ Windows 95-OS/2-Motif
Comment[bn]=Windows 95-OS/2-Motif-এর অনুরূপ একটি উইণ্ডো ম্যানেজার
Comment[bs]=Menadžer prozora nalik na Windows 95, OS/2 ili Motif
Comment[ca]=Un gestor de finestres com els de Windows 95-OS/2-Motif
Comment[ca@valencia]=Un gestor de finestres com els de Windows 95-OS/2-Motif
Comment[cs]=Správce oken podobný Windows 95-OS/2-Motif
Comment[csb]=Menadżera òknów szlachùjący za Windows 95-OS/2-Motif
Comment[cy]=Trefnydd ffenestri sy'n debyg i Windows95-OS/2-Motif
Comment[da]=En Windows 95-OS/2-Motif-lignende vindueshåndtering
Comment[de]=Fenstermanager im Stil von Windows 95, OS/2 und Motif
Comment[el]=Ένας διαχειριστής παραθύρων παρόμοιος με τα Windows 95-OS/2-Motif
Comment[en_GB]=A Windows 95-OS/2-Motif-like window manager
Comment[eo]=Fenestroadministrilo kiel Vindozo 95, OS/2 kaj Motifo
Comment[es]=Un gestor de ventanas similar a Windows 95-OS/2-Motif
Comment[et]=Aknahaldur, mis näeb välja nagu Windows 95-OS/2-Motif
Comment[eu]=Windows 95 OS/2 Motif-en itxurako leiho-kudeatzailea
Comment[fa]=یک مدیر پنجره شبیه Windows 95-OS/2-Motif
Comment[fi]=Windows 95:n ja OS/2-Motifin tyylinen ikkunointiohjelma
Comment[fr]=Un gestionnaire de fenêtres ressemblant à Windows 95-OS / 2-Motif
Comment[fy]=In Win95-OS/2-Motif-likens finstersmanager
Comment[ga]=Bainisteoir fuinneog cosúil le Windows 95-OS/2-Motif
Comment[gl]=Un xestor de xanelas semellante ao de Windows 95-OS/2-Motif
Comment[gu]=વિન્ડોઝ ૯૫-OS/૨-મોટિફ-જેવું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מבוסס Motif הדומה במראהו ל־Windows 95/OS-2
Comment[hi]=विंडोज़ 95-ओएस/2-मोटिफ जैसा विंडो प्रबंधक
Comment[hne]=विंडोज 95-ओएस/2-मोटिफ जइसन विंडो प्रबंधक
Comment[hr]=Upravitelj prozora nalik na Windows 95/OS/2/Motif
Comment[hsb]=Woknowy rjadowar, podobny na Windows 95, OS/2 a Motif
Comment[hu]=Win95-OS/2-Motif-szerű ablakkezelő
Comment[ia]=Un gerente de fenestra semblante Windows 95-OS/2-Motif
Comment[id]=Sebuah manajer jendela mirip seperti Windows 95-OS/2-Motif
Comment[is]=Gluggastjóri sem líkist 95-OS/2-Motif
Comment[it]=Un gestore di finestre in stile Windows 95-OS/2-Motif
Comment[ja]=Windows95, OS/2, Motif に似たウィンドウマネージャ
Comment[ka]=ფანჯრების მენეჯერი Windows95-OS/2-Motif სტილში
Comment[kk]=Windows 95-OS/2-Motif-секілді терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ស្រដៀង​នឹង​ Windows 95-OS/2-Motif
Comment[kn]=ಒಂದು Windows 95-OS/2-Motif ತರಹದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Windows 95, OS/2, Motif를 닮은 창 관리자
Comment[lt]=A Windows 95-OS/2-Motif-primenanti langų tvarkyklė
Comment[lv]=Windows 95 - OS/2 - Motif līdzīgs logu pārvaldnieks
Comment[mai]=विंडोज 95-ओएस/2-मोटिफ जहिना विंडो प्रबंधक
Comment[mk]=Менаџер на прозорци со изглед на Windows 95, OS/2 и Motif
Comment[ml]=വിന്‍ഡോസ്  95-ഒഎസ്/2-മോട്ടിഫ് പോലുള്ള ജാലകപാലകന്‍
Comment[mr]=Windows 95-OS/2-Motif नुरूप चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap seperti Motif Windows 95-OS/2
Comment[nb]=En vindusbehandler som likner Windows 95-OS/2-Motif
Comment[nds]=Finsterpleger, de utsüht as Windows 95-OS/2-Motif
Comment[ne]=विण्डोज ९५-OS/2-मोटिफ जस्तो सञ्झ्याल प्रबन्धक
Comment[nl]=Een Win95-OS/2-Motif-achtige windowmanager
Comment[nn]=Ein vindaugssjef som liknar Windows 95-OS/2-Motif
Comment[pa]=ਇੱਕ ਵਿੰਡੋ 95-OS/2-Motif-ਵਰਗਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien podobny do Windows 95-OS/2-Motif
Comment[pt]=Um gestor de janelas parecido com o Windows 95, o OS/2 e o Motif
Comment[pt_BR]=Um gerenciador de janelas parecido com Windows 95-OS/2-Motif
Comment[ro]=Un administrator de ferestre cu aspect de Windows 95, OS/2 sau Motif
Comment[ru]=Диспетчер окон в стиле Windows95-OS/2-Motif
Comment[se]=Windows 95-OS/2-Motif-lágan lásegieđahalli
Comment[si]=Windows 95-OS/2-Motif වැනි කවුළු කළමණාකරු
Comment[sk]=Správca okien podobný Windows 95-OS/2-Motif
Comment[sl]=Upravljalnik oken, podoben Windows 95, OS/2 in Motifu
Comment[sr]=Менаџер прозора налик на Виндоуз 95, ОС/2 или Мотиф
Comment[sr@ijekavian]=Менаџер прозора налик на Виндоуз 95, ОС/2 или Мотиф
Comment[sr@ijekavianlatin]=Menadžer prozora nalik na Windows 95, OS/2 ili Motif
Comment[sr@latin]=Menadžer prozora nalik na Windows 95, OS/2 ili Motif
Comment[sv]=Fönsterhanterare som liknar Windows 95-OS/2-Motif
Comment[ta]=சாளரங்கள் 95-OS/2-மாடிஃப்-லைக் சாளர மேலாளர்
Comment[te]=విండొస్ 95-ఒఎస్/2 -మొటిఫ్ లాంటి విండొ అభికర్త
Comment[tg]=Оконный менеджер в стиле Windows95-OS/2-Motif
Comment[th]=ระบบจัดการหน้าต่างของที่ดูคล้าย วินโดวส์ 95-โอเอสทู-โมทิฟ
Comment[tr]=Windows 95-OS/2-Motif benzeri bir pencere yöneticisi
Comment[ug]=Windows 95-OS/2-Motif ئوخشاش بولغان كۆزنەك باشقۇرغۇچ
Comment[uk]=Керування вікнами, схоже на Windows 95-OS/2-Motif
Comment[uz]=Win95-OS/2-Motif'ga oʻxshash oyna boshqaruvchi
Comment[uz@cyrillic]=Win95-OS/2-Motif'га ўхшаш ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ kiểu Windows 95-OS/2/Motif
Comment[wa]=On manaedjeu des fniesses rishonnant Windows95-OS/2-Motif
Comment[x-test]=xxA Windows 95-OS/2-Motif-like window managerxx
Comment[zh_CN]=类似 Windows-OS/2-Motif 的窗口管理器
Comment[zh_TW]=一個像 Win95-OS/2-Motif 的視窗管理程式
