[Desktop Entry]
Type=XSession
Exec=larswm
TryExec=larswm
Name=LarsWM
Name[af]=LarsWM
Name[ar]=LarsWM
Name[ast]=LarsWM
Name[be]=LarsWM
Name[be@latin]=LarsWM
Name[bg]=LarsWM
Name[bn]=LarsWM
Name[bn_IN]=LarsWM
Name[br]=LarsWM
Name[bs]=LarsVM
Name[ca]=LarsWM
Name[ca@valencia]=LarsWM
Name[cs]=LarsWM
Name[csb]=LarsWM
Name[cy]=LarsWM
Name[da]=LarsWM
Name[de]=LarsWM
Name[el]=LarsWM
Name[en_GB]=LarsWM
Name[eo]=LarsWM
Name[es]=LarsWM
Name[et]=LarsWM
Name[eu]=LarsWM
Name[fi]=LarsWM
Name[fr]=LarsWM
Name[fy]=LarsWM
Name[ga]=LarsWM
Name[gl]=LarsWM
Name[gu]=લાર્સWM
Name[he]=LarsWM
Name[hi]=लार्स-डबल्यूएम
Name[hne]=लार्स-डबल्यूएम
Name[hr]=LarsWM
Name[hsb]=LarsWM
Name[hu]=LarsWM
Name[ia]=LarsWM
Name[id]=LarsWM
Name[is]=LarsWM
Name[it]=LarsWM
Name[ja]=LarsWM
Name[ka]=LarsWM
Name[kk]=LarsWM
Name[km]=LarsWM
Name[kn]=LarsWM
Name[ko]=LarsWM
Name[ku]=LarsWM
Name[lt]=LarsWM
Name[lv]=LarsWM
Name[mai]=लार्स-डबल्यूएम
Name[mk]=LarsWM
Name[ml]=ലാര്‍സ്ഡബ്ലിയുഎം
Name[mr]=लार्सडबल्यूएम
Name[ms]=LarsWM
Name[nb]=LarsWM
Name[nds]=LarsWM
Name[ne]=LarsWM
Name[nl]=LarsWM
Name[nn]=LarsWM
Name[pa]=LarsWM
Name[pl]=LarsWM
Name[pt]=LarsWM
Name[pt_BR]=LarsWM
Name[ro]=LarsWM
Name[ru]=LarsWM
Name[se]=LarsWM
Name[si]=LarsWM
Name[sk]=LarsWM
Name[sl]=LarsWM
Name[sr]=ЛарсВМ
Name[sr@ijekavian]=ЛарсВМ
Name[sr@ijekavianlatin]=LarsWM
Name[sr@latin]=LarsWM
Name[sv]=Lars WM
Name[ta]=LarsWM
Name[te]=లార్స్ డబ్ల్యు ఎం
Name[tg]=LarsWM
Name[th]=LarsWM
Name[tr]=LarsWM
Name[ug]=LarsWM
Name[uk]=LarsWM
Name[uz]=LarsWM
Name[uz@cyrillic]=LarsWM
Name[vi]=LarsWM
Name[wa]=LarsWM
Name[x-test]=xxLarsWMxx
Name[zh_CN]=LarsWM
Name[zh_TW]=LarsWM
Comment=The Lars Window Manager, based on 9WM, supports tiled windows
Comment[af]=Die Lars venster bestuurder, wat op 9WM gebaseer is. Dit ondersteun geteëlde vensters.
Comment[ar]=مدير النوافذ لارس (Lars) المبني على قاعدة 9WM الداعم لرصف النوافذ
Comment[ast]=El Lars Window Manager, basáu en 9WM, sofita mosaicu de ventanes
Comment[be]=Кіраўнік вокнаў Lars Window Manager, заснаваны на 9WM
Comment[be@latin]=Akońnik „Lars”, jaki abapirajecca na bazu „9WM” dy absłuhoŭvaje kaflevy vykład akon
Comment[bg]=Lars Window Manager, базиран на 9WM мениджър, поддържащ разстилане на прозорците
Comment[bn]=লার্স উইণ্ডো ম্যানেজার, 9WM-এর ওপর ভিত্তি করে তৈরি
Comment[bs]=„Larsov menadžer prozora“ (Lars Window Manager), zasnovan na 9VM‑u, podržava slaganje prozora
Comment[ca]=El gestor de finestres Lars, basat en 9WM, permet finestres en mosaic
Comment[ca@valencia]=El gestor de finestres Lars, basat en 9WM, permet finestres en mosaic
Comment[cs]=Larsův správce oken, založený na 9WM, podporuje dlaždicové uspořádání oken
Comment[csb]=Menadżera òknów Larsa, ùsôdzony na spòdlém 9WM, wspiérô kachelkòwanié òknów
Comment[cy]=Y Trefnydd Ffenestri Lars, wedi'i seilio ar 9WM, sy'n cynnal ffenestri wedi'u teilio
Comment[da]=Lars vindueshåndteringen, baseret på 9WM, understøtter fliselagte vinduer
Comment[de]=Lars-Fenstermanager, basiert auf 9WM und unterstützt gekachelte Fenster
Comment[el]=Ο διαχειριστής παραθύρων Lars, βασισμένος στον 9WM, υποστηρίζει παράθυρα σε παράθεση
Comment[en_GB]=The Lars Window Manager, based on 9WM, supports tiled windows
Comment[eo]=La Lars Fenestroadministrilo, devenigita de 9FA
Comment[es]=El Lars Window Manager, basado en 9WM, admite mosaico de ventanas
Comment[et]=Larsi aknahaldur, mille aluseks on 9WM, toetab paanitud aknaid
Comment[eu]=Lars Window Manager, 9WMn oinarritua, leihoak lauza moduan onartzen dituena
Comment[fa]=مدیر پنجره Lars، بر اساس 9WM، پنجره‌های کاشی‌شده را پشتیبانی می‌کند.
Comment[fi]=Lars-ikkunointiohjelma. Pohjautuu 9WM:ään ja tukee järjestettyjä ikkunoita
Comment[fr]=Le gestionnaire de fenêtres « Lars Window Manager », reposant sur 9WM, prenant en charge des fenêtres en mosaïque
Comment[fy]=De Lars Window Manager, basearre op 9WM. Biedt stipe foar tegele finsters
Comment[ga]=Bainisteoir Fuinneog Lars, bunaithe ar 9WM, a thacaíonn fuinneoga tílithe
Comment[gl]=O xestor de xanelas de Lars, baseado en 9WM, permite usar xanelas en mosaico
Comment[gu]=9WM પર આધારિત, ત્રાંસી વિન્ડોનાં આધારવાળું, લાર્સ વિન્ડો વ્યવસ્થાપક
Comment[he]=‏Lars Window Manager, מבוסס על 9WM, תומך בחלונות פרושים
Comment[hi]=9डबल्यूएम आधारित लार्स विंडो प्रबंधक, चटाई विडो समर्थित करता है
Comment[hne]=9डबल्यूएम आधार मं लार विंडो प्रबंधक, चटाई विडो समर्थित करथे 
Comment[hr]=Lars upravitelj prozora, zasnovan na 9WMu, podržava popločene prozore
Comment[hsb]=Lars Window Manager, bazuje na 9WM, podpěruje kachlicojte wokna
Comment[hu]=Lars ablakkezelője, a 9WM alapján, mozaikszerű ablakelrendezési lehetőséggel
Comment[ia]=Le Lars Window Manager, basate sur 9WM, il supporta fenestra a tegulas
Comment[id]=The Lars Window Manager, berbasis pada 9WM, mendukung jendela berubin
Comment[is]=Lars gluggastjórinn, byggður á 9WM og styður flísaða glugga
Comment[it]=Il gestore di finestre di Lars, basato su 9WM, supporta le finestre affiancate
Comment[ja]=Lars ウィンドウマネージャ, 9WM ベース, タイル表示をサポートするウィンドウマネージャ
Comment[kk]=9WM-негіздеген терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច Lars ដែល​មាន​មូលដ្ឋាន​លើ 9WM គាំទ្រ​បង្អួច​ដែល​បាន​រៀប​ជា​ក្បឿង
Comment[kn]=9WM ಆಧಾರಿತ, ಹೆಣೆದ ಕಿಟಕಿಗಳನ್ನು ಬೆಂಬಲಿಸುವ ಲಾರ್ಸ್ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=9WM 기반 Lars 창 관리자
Comment[lt]=Lars langų tvarkyklė, paremta 9WM, turi galimybę iškloti langus
Comment[lv]=Lars Logu Pārvaldnieks, bāzēts uz 9WM, atbalsta flīzētus logus
Comment[mai]=9डबल्यूएम आधारित लार्स विंडो प्रबंधक, चटाइ विडो समर्थित करैत अछि
Comment[mk]=Lars Window Manager, менаџер базиран на 9WM, поддржува поплочени прозорци
Comment[ml]=9ഡബ്ല്യൂഎം അടിസ്ഥാനമാക്കിയ, അടുത്തടുത്തു് വച്ച ജാലകങ്ങളെ പിന്തുണയ്ക്കുന്ന ദി ലാര്‍സ് ജാലക പാലകന്‍
Comment[mr]=9WM आधारित लार्स चौकट प्रबंधक, टाईल्ड चौकट समर्थन पुरवितो
Comment[ms]=Pengurus Tetingkap Lars, berdasarkan 9WM, menyokong tetingkap berjubin
Comment[nb]=Lars vindusbehandler basert på 9WM som støtter flislagte vinduer
Comment[nds]=De Lars-Finsterpleger, opbuut op 9WM, ünnerstütt kachelt Finstern
Comment[ne]=9WM मा आधारित लार्स सञ्झ्याल प्रबन्धक, टायल गरिएका सञ्झ्यालहरू समर्थन गर्छ
Comment[nl]=De Lars Window Manager, gebaseerd op 9WM. Biedt ondersteuning voor getegelde vensters
Comment[nn]=Vindaugssjefen Lars, basert på 9WM, støttar flislagde vindauge
Comment[pa]=ਲਾਰਸ ਫਾਇਲ ਮੈਨੇਜਰ 9WM ਤੇ ਆਧਾਰਿਤ, ਵਿੰਡੋਜ਼ ਦੇ ਸਮੇਟਣ ਲਈ ਸਹਾਈ
Comment[pl]=Menadżer okien Larsa, oparty o 9WM, obsługuje kafelkowanie okien
Comment[pt]=O Lars Window Manager, baseado no 9WM, e que suporta janelas lado-a-lado
Comment[pt_BR]=O gerenciador de janelas Lars, baseado no 9WM, com suporte a janelas ladrilhadas
Comment[ro]=Administratorul de ferestre al lui Lars, bazat pe 9WM. Suportă ferestre aranjate în mozaic
Comment[ru]=Диспетчер окон на основе 9wm
Comment[se]=Lásegieđahalli Lars, ráhkaduvvon 9WM vuođul, doarju bálddalas lásiid.
Comment[si]= 9WM මත පාදක වූ, ටයිල කවුළු සඳහා සහාය දක්වන Lars කවුළු කළමණාකරු
Comment[sk]=The Lars Window Manager založený na 9WM s podporou okien usporiadaných do dlaždíc
Comment[sl]=Larsov upravljalnik oken, temelji na 9WM, podpira razporejena okna
Comment[sr]=„Ларсов менаџер прозора“ (Lars Window Manager), заснован на 9ВМ‑у, подржава слагање прозора
Comment[sr@ijekavian]=„Ларсов менаџер прозора“ (Lars Window Manager), заснован на 9ВМ‑у, подржава слагање прозора
Comment[sr@ijekavianlatin]=„Larsov menadžer prozora“ (Lars Window Manager), zasnovan na 9WM‑u, podržava slaganje prozora
Comment[sr@latin]=„Larsov menadžer prozora“ (Lars Window Manager), zasnovan na 9WM‑u, podržava slaganje prozora
Comment[sv]=Lars fönsterhanterare, baserad på 9WM, med stöd för fönster sida vid sida
Comment[ta]=9WM அடிபடையிலான லார்ஸ் சாளர மேலாளர் சீரமைக்கப்பட்ட சாளரங்களை ஆதரிக்கிறது
Comment[te]=9WM ఆధారిత, లార్‍స్  విండో నిర్వాహిక, టైల్‍డ్ విండోస్‌ను మద్దతిస్తుంది
Comment[tg]=Оконный менеджер на основе 9wm
Comment[th]=Lars - ระบบจัดการหน้าต่าง สร้างจาก 9WM สนับสนุนการปูเรียงหน้าต่าง
Comment[tr]=Lars Pencere Yöneticisi
Comment[ug]=Lars كۆزنەك باشقۇرغۇچ، 9WM ئاساسىدا بولۇپ، كۆزنەك يېيىشنى قوللايدۇ
Comment[uk]=The Lars Window Manager, засноване на 9WM, підтримує розташування вікон плиткою
Comment[vi]=Trình Quản lý Cửa sổ Lars, dựa vào 9WM, hỗ trợ cửa sổ xếp ngói
Comment[wa]=Li Manaedjeu des fniesses da Lars (Lars Window Manager), båzé so 9WM, sopoite les fniesses metowes å pus grand
Comment[x-test]=xxThe Lars Window Manager, based on 9WM, supports tiled windowsxx
Comment[zh_CN]=Lars 窗口管理器，基于 9WM，支持平铺窗口
Comment[zh_TW]=The Lars 視窗管理程式，基於 9WM，支援棋盤化視窗
