[Desktop Entry]
Type=XSession
Exec=matchbox
TryExec=matchbox
Name=Matchbox
Name[af]=Matchbox
Name[ar]=علبة الثقاب
Name[ast]=Matchbox
Name[be]=Matchbox
Name[be@latin]=Matchbox
Name[bg]=Matchbox
Name[bn]=ম্যাচবক্স
Name[br]=Matchbox
Name[bs]=Matchbox
Name[ca]=Matchbox
Name[ca@valencia]=Matchbox
Name[cs]=Matchbox
Name[csb]=Matchbox
Name[cy]=Matchbox
Name[da]=Matchbox
Name[de]=Matchbox
Name[el]=Matchbox
Name[en_GB]=Matchbox
Name[eo]=Matchbox
Name[es]=Matchbox
Name[et]=Matchbox
Name[eu]=Matchbox
Name[fi]=Matchbox
Name[fr]=Matchbox
Name[fy]=Matchbox
Name[ga]=Matchbox
Name[gl]=Matchbox
Name[gu]=મેચબોક્સ
Name[he]=Matchbox
Name[hi]=मैचबॉक्स
Name[hne]=मैचबाक्स
Name[hr]=Matchbox
Name[hsb]=Matchbox
Name[hu]=Matchbox
Name[ia]=Matchbox
Name[id]=Matchbox
Name[is]=Matchbox
Name[it]=Matchbox
Name[ja]=Matchbox
Name[ka]=Matchbox
Name[kk]=Matchbox
Name[km]=ប្រអប់​ផ្គូផ្គង​
Name[kn]=ಮ್ಯಾಚ್ ಬಾಕ್ಸ್
Name[ko]=Matchbox
Name[ku]=Matchbox
Name[lt]=Matchbox
Name[lv]=Matchbox
Name[mai]=मैचबाक्स
Name[mk]=Matchbox
Name[ml]=മാച്ച്ബോക്സ്
Name[mr]=मैचबॉक्स
Name[ms]=Matchbox
Name[nb]=Matchbox
Name[nds]=Matchbox
Name[ne]=म्याचबक्स
Name[nl]=Matchbox
Name[nn]=Matchbox
Name[pa]=ਮੈਚ-ਬਾਕਸ
Name[pl]=Matchbox
Name[pt]=Matchbox
Name[pt_BR]=Matchbox
Name[ro]=Matchbox
Name[ru]=Matchbox
Name[se]=Matchbox
Name[si]=Matchbox
Name[sk]=Matchbox
Name[sl]=Matchbox
Name[sr]=Мечбокс
Name[sr@ijekavian]=Мечбокс
Name[sr@ijekavianlatin]=Matchbox
Name[sr@latin]=Matchbox
Name[sv]=Matchbox
Name[ta]=பொருத்தப்பெட்டி
Name[te]=అగ్గి పెట్టె
Name[tg]=Matchbox
Name[th]=Matchbox
Name[tr]=Matchbox
Name[ug]=Matchbox
Name[uk]=Matchbox
Name[uz]=Matchbox
Name[uz@cyrillic]=Matchbox
Name[vi]=Matchbox
Name[wa]=Boesse di brocales (Matchbox)
Name[x-test]=xxMatchboxxx
Name[zh_CN]=Matchbox
Name[zh_TW]=Matchbox
Comment=A window manager for handheld devices
Comment[af]='n Venster bestuurder vir draagbare toestelle
Comment[ar]=مدير نوافذ للاجهزة المحمولة
Comment[ast]=Un xestor de ventanes pa preseos de mano
Comment[be]=Кіраўнік вокнаў для кішанёвых камп'ютэраў
Comment[be@latin]=Akońnik dla kišennych kamputaraŭ
Comment[bg]=Мениджър на прозорци за джобни устройства
Comment[bn]=হ্যাণ্ডহেল্ড যন্ত্রাদির উপযোগী একটি উইণ্ডো ম্যানেজার
Comment[bs]=Menadžer prozora za ručne uređaje
Comment[ca]=Un gestor de finestres per a dispositius de ma
Comment[ca@valencia]=Un gestor de finestres per a dispositius de ma
Comment[cs]=Správce oken pro PDA
Comment[csb]=Menadżera òknów dlô palmtopów
Comment[cy]=Trefnydd ffenestri ar gyfer llawiaduron
Comment[da]=En vindueshåndtering for håndholdte enheder
Comment[de]=Fenstermanager für portable Geräte
Comment[el]=Ένας διακομιστής παραθύρων για συσκευές παλάμης
Comment[en_GB]=A window manager for handheld devices
Comment[eo]=Fenestroadministrilo por manaj aparatoj
Comment[es]=Un gestor de ventanas para dispositivos de mano
Comment[et]=Aknahaldur pihuarvutitele
Comment[eu]=Eskuko gailuentzako leiho-kudeatzailea
Comment[fa]=یک مدیر پنجره برای دستگاههای دستی
Comment[fi]=Ikkunointiohjelma PDA-laitteisiin
Comment[fr]=Un gestionnaire de fenêtres pour les ordinateurs de poche
Comment[fy]=In finstersmanager foar hânkompjûters
Comment[ga]=Bainisteoir Fuinneog le haghaidh ríomhairí boise
Comment[gl]=Un xestor de xanelas para dispositivos de man
Comment[gu]=હાથમાં વાપરી શકાય તેવાં ઉપકરણો માટે વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות למכשירי כף יד
Comment[hi]=हाथ में रखने वाले औज़ारों के लिए विंडो प्रबंधक
Comment[hne]=हाथ मं रखे वाले औजार मन बर विंडो प्रबंधक
Comment[hr]=Upravitelj prozora za ručna računala
Comment[hsb]=Woknowy rjadowar za PDA
Comment[hu]=Ez az ablakkezelő elsősorban kéziszámítógépekhez ajánlott
Comment[ia]=Un gerente de fenestra per dispositivos manual
Comment[id]=Sebuah manajer ejndela untuk divais genggam
Comment[is]=Gluggastjóri fyrir lófatölvur
Comment[it]=Un gestore di finestre per palmari
Comment[ja]=ハンドヘルドデバイス向けのウィンドウマネージャ
Comment[ka]=ფანჯრების მენეჯერი მობილური მოწყობილობებისთვის
Comment[kk]=Қол құрылғыларға арналған терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​សម្រាប់​ឧបករណ៍​យួរ​ដៃ
Comment[kn]=ಕೈಪಿಡಿಕೆ ಸಾಧನಗಳಿಗೆ (ಹ್ಯಾಂಡ್ ಹೆಲ್ಡ್ ಡಿವೈಸ್) ಒಂದು ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=핸드헬드 장치를 위한 창 관리자
Comment[lt]=Langų  tvarkyklė įvairiems įrenginiams
Comment[lv]=Logu pārvaldnieks mazām ierīcēm
Comment[mai]=हाथ मे रखैबला अओजारसभ क' लेल विंडो प्रबंधक
Comment[mk]=Менаџер на прозорци за преносни уреди
Comment[ml]=കൈയില്‍ കൊണ്ടുനടക്കാവുന്ന ഉപകരണങ്ങള്‍ക്കായുള്ളൊരു ജാലകങ്ങളുടെ നടത്തിപ്പുകാരന്‍
Comment[mr]=हाथात पकडण्याजोग्या साधनांकरिता चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap untuk peranti telapak
Comment[nb]=En vindusbehandler for håndholdte enheter
Comment[nds]=Finsterpleger för Handreekner
Comment[ne]=ह्यान्डहेल्ड यन्त्रहरूका लागि सञ्झ्याल प्रबन्धक
Comment[nl]=Een windowmanager voor handcomputers
Comment[nn]=Ein vindaugssjef for handhaldne einingar
Comment[pa]=ਹੱਥਲੇ ਜੰਤਰਾਂ ਲਈ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien dla urządzeń mobilnych
Comment[pt]=Um gestor de janelas para dispositivos móveis
Comment[pt_BR]=Um gerenciador de janelas para dispositivos handheld
Comment[ro]=Un administrator de ferestre pentru PDA-uri
Comment[ru]=Диспетчер окон для мобильных устройств
Comment[se]=Lásegieđahalli giehtaovttadagaid várás
Comment[si]=හස්තය මත තබන උපකරණ සඳහා කවුළු කළමණාකරු
Comment[sk]=Správca okien pre prenosné zariadenia
Comment[sl]=Upravljalnik oken za ročne naprave
Comment[sr]=Менаџер прозора за ручне уређаје
Comment[sr@ijekavian]=Менаџер прозора за ручне уређаје
Comment[sr@ijekavianlatin]=Menadžer prozora za ručne uređaje
Comment[sr@latin]=Menadžer prozora za ručne uređaje
Comment[sv]=Fönsterhanterare för handburna enheter
Comment[ta]=கையில் உள்ள சாதனங்களுக்கான சாளர மேலாளர்
Comment[te]=హాండ్‌హెల్‍డ్ పరికరాల కొరకు విండో నిర్వాహకి
Comment[tg]=Оконный менеджер для мобильных устройств
Comment[th]=ระบบจัดการหน้าต่างของอุปกรณ์มือถือ
Comment[tr]=El bilgisayarları için bir pencere yöneticisi
Comment[ug]=قولدا ئېلىپ يۈرىدىغان ئۈسكۈنىلەر ئۈچۈن كۆزنەك باشقۇرغۇچ
Comment[uk]=Керування вікнами для портативних пристроїв
Comment[vi]=Trình quản lý cửa sổ dành cho thiết bị cầm tay
Comment[wa]=On manaedjeu des fniesses po les éndjins ebarkés
Comment[x-test]=xxA window manager for handheld devicesxx
Comment[zh_CN]=手持设备的窗口管理器
Comment[zh_TW]=一個掌上型設備所使用的視窗管理程式
