[Desktop Entry]
Type=XSession
Exec=mwm
TryExec=mwm
Name=MWM
Name[af]=MWM
Name[ar]=MWM
Name[ast]=MWM
Name[be]=MWM
Name[be@latin]=MWM
Name[bg]=MWM
Name[bn]=MWM
Name[bn_IN]=MWM
Name[br]=MWM
Name[bs]=MWM
Name[ca]=MWM
Name[ca@valencia]=MWM
Name[cs]=MWM
Name[csb]=MWM
Name[cy]=MWM
Name[da]=MWM
Name[de]=MWM
Name[el]=MWM
Name[en_GB]=MWM
Name[eo]=MWM
Name[es]=MWM
Name[et]=MWM
Name[eu]=MWM
Name[fi]=MWM
Name[fr]=MWM
Name[fy]=MWM
Name[ga]=MWM
Name[gl]=MWM
Name[gu]=MWM
Name[he]=MWM
Name[hi]=एमडबल्यूएम
Name[hne]=एमडबल्यूएम
Name[hr]=MWM
Name[hsb]=MWM
Name[hu]=MWM
Name[ia]=MWM
Name[id]=MWM
Name[is]=MWM
Name[it]=MWM
Name[ja]=MWM
Name[ka]=MWM
Name[kk]=MWM
Name[km]=MWM
Name[kn]=MWM
Name[ko]=MWM
Name[ku]=MWM
Name[lt]=MWM
Name[lv]=MWM
Name[mai]=एमडबल्यूएम
Name[mk]=MWM
Name[ml]=എംഡബ്ലിയുഎം
Name[mr]=एमडबल्यूएम
Name[ms]=MWM
Name[nb]=MWM
Name[nds]=MWM
Name[ne]=MWM
Name[nl]=MWM
Name[nn]=MWM
Name[oc]=MWM
Name[pa]=MWM
Name[pl]=MWM
Name[pt]=MWM
Name[pt_BR]=MWM
Name[ro]=MWM
Name[ru]=MWM
Name[se]=MWM
Name[si]=MWM
Name[sk]=MWM
Name[sl]=MWM
Name[sr]=МВМ
Name[sr@ijekavian]=МВМ
Name[sr@ijekavianlatin]=MWM
Name[sr@latin]=MWM
Name[sv]=MWM
Name[ta]=MWM
Name[te]=ఎం డబ్ల్యు ఎం
Name[tg]=MWM
Name[th]=MWM
Name[tr]=MWM
Name[ug]=MWM
Name[uk]=MWM
Name[uz]=MWM
Name[uz@cyrillic]=MWM
Name[vi]=MWM
Name[wa]=MWM
Name[x-test]=xxMWMxx
Name[zh_CN]=MWM
Name[zh_TW]=MWM
Comment=The Motif Window Manager
Comment[af]=Die Motif venster bestuurder
Comment[ar]=مدير نوافذ Motif
Comment[ast]=El xestor de ventanes de Motif
Comment[be]=Кіраўнік вокнаў Motif
Comment[be@latin]=Akońnik systemy „Motif”
Comment[bg]=Motif Window Manager
Comment[bn]=দি মোটিফ উইণ্ডো ম্যানেজার
Comment[bs]=Motifov menadžer prozora
Comment[ca]=El gestor de finestres Motif
Comment[ca@valencia]=El gestor de finestres Motif
Comment[cs]=Motif Window Manager
Comment[csb]=Menadżera òknów Motif
Comment[cy]=Y Trefnydd Ffenestri Motif
Comment[da]=Motif vindueshåndtering
Comment[de]=Motif-Fenstermanager
Comment[el]=Ο διαχειριστής παραθύρων Motif
Comment[en_GB]=The Motif Window Manager
Comment[eo]=Motifa fenestroadministrilo
Comment[es]=El gestor de ventanas de Motif
Comment[et]=Motifi aknahaldur
Comment[eu]=Motif Window Manager leiho-kudeatzailea
Comment[fa]=مدیر پنجره موتیف
Comment[fi]=Motif-ikkunointiohjelma
Comment[fr]=Le gestionnaire de fenêtres « Motif »
Comment[fy]=De Motif Window Manager
Comment[ga]=Bainisteoir fuinneog Motif
Comment[gl]=O xestor de xanelas de Motif
Comment[gu]=મોટિફ વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל החלונות Motif
Comment[hi]=मोटिफ विंडो प्रबंधक
Comment[hne]=मोटिफ विंडो प्रबंधक
Comment[hr]=Motif upravitelj prozora
Comment[hsb]=Motif Window Manager
Comment[hu]=Motif ablakkezelő
Comment[ia]=Le Motif Window Manager
Comment[id]=The Motif Window Manager
Comment[is]=Motif gluggastjórinn
Comment[it]=Il gestore di finestre di Motif
Comment[ja]=Motif 風のウィンドウマネージャ
Comment[ka]=ფანჯრის მენეჯერი Motif
Comment[kk]=Motif терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច Motif
Comment[kn]=ಮೋಟಿಫ್ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Motif 창 관리자
Comment[lt]=Motif langų tvarkyklė
Comment[lv]=Motif logu pārvaldnieks
Comment[mai]=मोटिफ विंडो प्रबंधक
Comment[mk]=Менаџерот на прозорци Motif
Comment[ml]=മോട്ടിഫ് ജാലകപാലകന്‍
Comment[mr]=Motif चौकट प्रबंधक
Comment[ms]=Pengurus Tertingkap Motif
Comment[nb]=Motif vindusbehandler
Comment[nds]=De Motif-Finsterpleger
Comment[ne]=मोटिफ सञ्झ्याल प्रबन्धक
Comment[nl]=De Motif Window Manager
Comment[nn]=Motif-vindaugssjefen
Comment[pa]=Motif ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien Motif
Comment[pt]=O gestor de janelas do Motif
Comment[pt_BR]=O gerenciador de janelas Motif
Comment[ro]=Administratorul de ferestre Motif
Comment[ru]=Диспетчер окон Motif
Comment[se]=Motif lásegieđahalli
Comment[si]=Motif කවුළු කළමණාකරු
Comment[sk]=Správca okien Motif
Comment[sl]=Upravljalnik oken Motif
Comment[sr]=Мотифов менаџер прозора
Comment[sr@ijekavian]=Мотифов менаџер прозора
Comment[sr@ijekavianlatin]=Motifov menadžer prozora
Comment[sr@latin]=Motifov menadžer prozora
Comment[sv]=Motifs fönsterhanterare
Comment[ta]=மோடிஃப் சாளர மேலாளர்
Comment[te]=మొటిఫ్ విండొ అభికర్త
Comment[tg]=Оконный менеджер Motif
Comment[th]=ระบบจัดการหน้าต่างของโมทิฟ
Comment[tr]=Motif Pencere Yöneticisi
Comment[ug]=Motif كۆزنەك باشقۇرغۇچ
Comment[uk]=Керування вікнами Motif
Comment[uz]=Motif oyna boshqaruvchi
Comment[uz@cyrillic]=Motif ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ Motif
Comment[wa]=Li Manaedjeu des fniesses Motif
Comment[x-test]=xxThe Motif Window Managerxx
Comment[zh_CN]=Motif 窗口管理器
Comment[zh_TW]=Motif 視窗管理程式
