[Desktop Entry]
Type=XSession
Exec=olwm
TryExec=olwm
Name=OLWM
Name[af]=OLWM
Name[ar]=OLWM
Name[ast]=OLWM
Name[be]=OLWM
Name[be@latin]=OLWM
Name[bg]=OLWM
Name[bn]=OLWM
Name[bn_IN]=OLWM
Name[br]=OLWM
Name[bs]=OLWM
Name[ca]=OLWM
Name[ca@valencia]=OLWM
Name[cs]=OLWM
Name[csb]=OLWM
Name[cy]=OLWM
Name[da]=OLWM
Name[de]=OLWM
Name[el]=OLWM
Name[en_GB]=OLWM
Name[eo]=OLWM
Name[es]=OLWM
Name[et]=OLWM
Name[eu]=OLWM
Name[fi]=OLWM
Name[fr]=OLWM
Name[fy]=OLWM
Name[ga]=OLWM
Name[gl]=OLWM
Name[gu]=OLWM
Name[he]=OLWM
Name[hi]=ओएलडबल्यूएम
Name[hne]=ओएलडबल्यूएम
Name[hr]=OLWM
Name[hsb]=OLWM
Name[hu]=OLWM
Name[ia]=OLWM
Name[id]=OLWM
Name[is]=OLWM
Name[it]=OLWM
Name[ja]=OLWM
Name[ka]=OLWM
Name[kk]=OLWM
Name[km]=OLWM
Name[kn]=OLWM
Name[ko]=OLWM
Name[ku]=OLWM
Name[lt]=OLWM
Name[lv]=OLWM
Name[mai]=ओएलडबल्यूएम
Name[mk]=OLWM
Name[ml]=ഒഎല്‍ഡബ്ല്യൂഎം
Name[mr]=ओएलडबल्यूएम
Name[ms]=OLWM
Name[nb]=OLWM
Name[nds]=OLWM
Name[ne]=OLWM
Name[nl]=OLWM
Name[nn]=OLWM
Name[oc]=OLWM
Name[pa]=OLWM
Name[pl]=OLWM
Name[pt]=OLWM
Name[pt_BR]=OLWM
Name[ro]=OLWM
Name[ru]=OLWM
Name[se]=OLWM
Name[si]=OLWM
Name[sk]=OLWM
Name[sl]=OLWM
Name[sr]=ОЛВМ
Name[sr@ijekavian]=ОЛВМ
Name[sr@ijekavianlatin]=OLWM
Name[sr@latin]=OLWM
Name[sv]=OLWM
Name[ta]=OLWM
Name[te]=ఒ ఎల్ డబ్యు ఎం
Name[tg]=OLWM
Name[th]=ตัวจัดการหน้าต่าง OLWM
Name[tr]=OLWM
Name[ug]=OLWM
Name[uk]=OLWM
Name[uz]=OLWM
Name[uz@cyrillic]=OLWM
Name[vi]=OLWM
Name[wa]=OLWM
Name[x-test]=xxOLWMxx
Name[zh_CN]=OLWM
Name[zh_TW]=OLWM
Comment=The traditional Open Look Window Manager
Comment[af]=Die tradisionele Open Look venster bestuurder
Comment[ar]=مدير النوافذ Open Look التقليدي
Comment[ast]=El tradicional Open Look Window Manager
Comment[be]=Традыцыйны кіраўнік вокнаў Open Look
Comment[be@latin]=Tradycyjny akońnik „Open Look Window Manager”
Comment[bg]=Традиционният Open Look Window Manager
Comment[bn]=দি ওপেনলুক উইণ্ডো ম্যানেজার
Comment[bs]=Tradicionalni Openlook menadžer prozora
Comment[ca]=El gestor de finestres Open Look tradicional
Comment[ca@valencia]=El gestor de finestres Open Look tradicional
Comment[cs]=Tradiční Open Look Window Manager
Comment[csb]=Tradicjowi menadżera òknów Open Look
Comment[cy]=Y Trefnydd Ffenestri GolwgAgored (OpenLook) traddodiadol
Comment[da]=Den traditionelle Open Look vindueshåndtering
Comment[de]=Der traditionelle Open-Look-Fenstermanager
Comment[el]=Ο παραδοσιακός διαχειριστής παραθύρων Open Look
Comment[en_GB]=The traditional Open Look Window Manager
Comment[eo]=La klasika OL-fenestroadministrilo
Comment[es]=El tradicional Open Look Window Manager
Comment[et]=Tavapärane OpenLooki aknahaldur
Comment[eu]=Open Look Window Manager, ohiko leiho-kudeatzailea
Comment[fa]=مدیر پنجره Open Look سنتی
Comment[fi]=Perinteinen Open Look -ikkunointiohjelma
Comment[fr]=Le gestionnaire de fenêtres traditionnel « Open Look Window Manager »
Comment[fy]=De tradisjoneel iepen like finstersManager 
Comment[ga]=Bainisteoir fuinneog traidisiúnta Open Look
Comment[gl]=O tradicional xestor de xanelas de Open Look
Comment[gu]=પરંપરાગત ઓપન લુક વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל החלונות ‏Open Look המסורתי
Comment[hi]=परम्परागत ओपन लुक विंडो प्रबंधक
Comment[hne]=परम्परागत ओपन लुक विंडो प्रबंधक
Comment[hr]=Tradicionalni 'Open Look' upravitelj prozora
Comment[hsb]=Tradicionalny Open Look Window Manager
Comment[hu]=A hagyományos Open Look ablakkezelő
Comment[ia]=Le traditional Open Look Window Manager
Comment[id]=Open Look Window Manager tradisional
Comment[is]=Hinn hefðbundni Open Look gluggastjóri
Comment[it]=Il gestore di finestre Open Look tradizionale
Comment[ja]=伝統的な OpenLook ウィンドウマネージャ
Comment[ka]=OpenLook სისტემის ტრადიციული ფანჯრის მენეჯერი
Comment[kk]=Дәстүрлі Open Look терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​មាន​រូបរាង​បើក​ចំហ​បែប​បុរាណ
Comment[kn]=ಸಾಂಪ್ರದಾಯಿಕ  ಓಪನ್ ಲುಕ್ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=전통적인 OpenLook 창 관리자
Comment[lt]=Tradicinė Open Look langų tvarkyklė
Comment[lv]=Tradicionālais Open Look Logu Pārvaldnieks
Comment[mai]=परम्परागत ओपन लुक विंडो प्रबंधक
Comment[mk]=Традиционален Open Look Window Manager
Comment[ml]=പരമ്പരാഗത  ഓപ്പണ്‍ ലുക്ക് ജാലകപാലകന്‍
Comment[mr]=परम्परागत ओपन लुक चौकट प्रबंधक
Comment[ms]=Pengurus Tetingkap OpenLook tradisional
Comment[nb]=Den tradisjonelle Open Look-vindusbehandleren
Comment[nds]=De traditschonelle OpenLook-Finsterpleger
Comment[ne]=खुला देखिने परम्परागत सञ्झ्याल प्रबन्धक
Comment[nl]=De traditionele Open Look Window Manager
Comment[nn]=Den tradisjonelle Open Look-vindaugssjefen
Comment[pa]=ਇੱਕ ਡਿਫਾਲਟ ਓਪਨ ਲੁੱਕ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Tradycyjny menadżer okien Open Look
Comment[pt]=O gestor de janelas Open Look tradicional
Comment[pt_BR]=O tradicional Open Look Window Manager
Comment[ro]=Administratorul de ferestre tradițional Open Look Window Administrator
Comment[ru]=Традиционный диспетчер окон системы OpenLook
Comment[se]=Árbevirolaš Open Look lásegieđahalli
Comment[si]=සාම්ප්‍රධායික විවෘත පෙනුම කවුළු කළමණාකරු
Comment[sk]=Tradičný správca okien Open Look
Comment[sl]=Tradicionalni upravljalnik oken Open Look
Comment[sr]=Традиционални Опенлуков менаџер прозора
Comment[sr@ijekavian]=Традиционални Опенлуков менаџер прозора
Comment[sr@ijekavianlatin]=Tradicionalni OpenLookov menadžer prozora
Comment[sr@latin]=Tradicionalni OpenLookov menadžer prozora
Comment[sv]=Den traditionella Open Look fönsterhanteraren
Comment[ta]=பழமையான சாளர மேலாளர்
Comment[te]=సాంప్రదాయ ఒపెన్ లుక్ విండొ అభికర్త 
Comment[tg]=Традиционный оконный менеджер системы OpenLook
Comment[th]=ระบบจัดการหน้าต่าง OpenLook แบบดั้งเดิม
Comment[tr]=Open Look Pencere Yöneticisi
Comment[ug]=ئەنئەنىۋى OpenLook كۆزنەك باشقۇرغۇچ
Comment[uk]=Традиційне керування вікнами Open Look
Comment[vi]=Trình Quản lý Cửa sổ OpenLook truyền thống
Comment[wa]=Li tradicionel manaedjeu des fniessess Open Look
Comment[x-test]=xxThe traditional Open Look Window Managerxx
Comment[zh_CN]=传统的 OpenLook 窗口管理器
Comment[zh_TW]=傳統的 Open Look 視窗管理程式
