[Desktop Entry]
Type=XSession
Exec=openbox-session
TryExec=openbox
Name=Openbox
Name[af]=Openbox
Name[ar]=Openbox
Name[as]=Openbox
Name[ast]=Openbox
Name[be]=Openbox
Name[be@latin]=Openbox
Name[bg]=Openbox
Name[bn]=ওপেনবক্স
Name[bn_IN]=Openbox
Name[br]=Openbox
Name[bs]=Openbox
Name[ca]=Openbox
Name[ca@valencia]=Openbox
Name[cs]=Openbox
Name[csb]=Openbox
Name[cy]=Blwchagored (Openbox)
Name[da]=Openbox
Name[de]=Openbox
Name[el]=Openbox
Name[en_GB]=Openbox
Name[eo]=Openbox
Name[es]=Openbox
Name[et]=Openbox
Name[eu]=Openbox
Name[fa]=اپن‌باکس
Name[fi]=Openbox
Name[fr]=Openbox
Name[fy]=Openbox
Name[ga]=Openbox
Name[gl]=Openbox
Name[gu]=ઓપનબોક્સ
Name[he]=Openbox
Name[hi]=ओपनबाक्स
Name[hne]=ओपनबाक्स
Name[hr]=Openbox
Name[hsb]=Openbox
Name[hu]=Openbox
Name[ia]=Openbox
Name[id]=Openbox
Name[is]=Openbox
Name[it]=Openbox
Name[ja]=Openbox
Name[ka]=Openbox
Name[kk]=Openbox
Name[km]=បើក​ប្រអប់​
Name[kn]=ಓಪನ್ ಬಾಕ್ಸ್
Name[ko]=Openbox
Name[ku]=Openbox
Name[lt]=Openbox
Name[lv]=Openbox
Name[mai]=ओपनबाक्स
Name[mk]=Openbox
Name[ml]=ഓപ്പണ്‍ബോക്സ്
Name[mr]=ओपनबाक्स
Name[ms]=Openbox
Name[nb]=Openbox
Name[nds]=Openbox
Name[ne]=खुला बाकस
Name[nl]=Openbox
Name[nn]=Openbox
Name[or]=Openbox
Name[pa]=ਓਪਨ-ਬਾਕਸੇ
Name[pl]=Openbox
Name[pt]=Openbox
Name[pt_BR]=Openbox
Name[ro]=Openbox
Name[ru]=Openbox
Name[se]=Openbox
Name[si]=Openbox
Name[sk]=Openbox
Name[sl]=Openbox
Name[sr]=Опенбокс
Name[sr@ijekavian]=Опенбокс
Name[sr@ijekavianlatin]=Openbox
Name[sr@latin]=Openbox
Name[sv]=Openbox
Name[ta]=திறப்பு பெட்டி
Name[te]=ఒపెన్ బాక్స్
Name[tg]=Openbox
Name[th]=Openbox
Name[tr]=Openbox
Name[ug]=Openbox
Name[uk]=Openbox
Name[uz]=Openbox
Name[uz@cyrillic]=Openbox
Name[vi]=Openbox
Name[wa]=Openbox
Name[x-test]=xxOpenboxxx
Name[zh_CN]=Openbox
Name[zh_TW]=Openbox
Comment=A lightweight window manager based on Blackbox
Comment[af]='n Lig gewig venster bestuurder wat op Blackbox gebaseer is
Comment[ar]=مدير نوافذ خفيف مبني على Blackbox
Comment[ast]=Un xestor de ventanes llixeru basáu en BlackBox
Comment[be]=Лёгкі кіраўнік вокнаў, заснаваны на Blackbox
Comment[be@latin]=Prosty akońnik, jaki abapirajecca na bazu „Blackbox”
Comment[bg]=Лек мениджър на прозорци, базиран на Blackbox
Comment[bn]=ব্ল্যাকবক্স ভিত্তিক হাল্কা উইণ্ডো ম্যানেজার
Comment[bs]=Lagani menadžer prozora zasnovan na Blekboksu
Comment[ca]=Un gestor de finestres lleuger basat en Blackbox
Comment[ca@valencia]=Un gestor de finestres lleuger basat en Blackbox
Comment[cs]=Malý správce oken založený na Blackboxu
Comment[csb]=Menadżera òknów o môłëch żądaniach, òpairti na Blackbox
Comment[cy]=Trefnydd ffenestri ysgafn, wedi'i seilio ar Ddu-flwch
Comment[da]=En letvægts vindueshåndtering baseret på Blackbox
Comment[de]=Schlanker Fenstermanager, der auf Blackbox basiert
Comment[el]=Ένας ελαφρύς διαχειριστής παραθύρων βασισμένος στον Blackbox
Comment[en_GB]=A lightweight window manager based on Blackbox
Comment[eo]=Fenestroadministrilo devenigita de Negrujo
Comment[es]=Un gestor de ventanas ligero basado en BlackBox
Comment[et]=Imeväike aknahaldur, mille aluseks on Blackbox
Comment[eu]=Blackbox-en oinarritutako leiho-kudeatzaile arina
Comment[fa]=یک مدیر پنجره سبک بر اساس Blackbox
Comment[fi]=Kevyt, Blackboxiin pohjautuva ikkunointiohjelma
Comment[fr]=Un gestionnaire de fenêtres léger reposant sur Blackbox
Comment[fy]=In lichtgewicht finstersmanager, basearre op Blackbox
Comment[ga]=Bainisteoir éadrom fuinneog bunaithe ar Blackbox
Comment[gl]=Un xestor de xanelas lixeiro baseado en Blackbox
Comment[gu]=બ્લેકબોક્સ આધારિત હલ્કું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות קל משקל המבוסס על Blackbox
Comment[hi]=ब्लेकबाक्स आधारित हल्का विंडो प्रबंधक
Comment[hne]=ब्लेकबाक्स आधार से हल्का विंडो प्रबंधक
Comment[hr]=Lagani upravitelj prozora zasnovan na Blackboxu
Comment[hsb]=Woknowy rjadowar, bazowacy na Blackbox, njenaročny na resursy
Comment[hu]=Egy nagyon egyszerű ablakkezelő a Blackbox alapján
Comment[ia]=Un gerente de fenestra legier basate sur Blackbox
Comment[id]=Sebuah manajer jendela ringan berbasis pada Blackbox
Comment[is]=Léttur gluggastjóri byggður á Blackbox
Comment[it]=Un gestore di finestre leggero basato su BlackBox
Comment[ja]=Blackbox ベースの軽量なウィンドウマネージャ
Comment[ka]=Blackbox-ის ბაზაზე ფანჯრიოს მენეჯერი
Comment[kk]=Blackbox-негіздеген жеңіл терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែល​មាន​​សមត្ថភាព​ខ្សោយ ដែល​មាន​មូលដ្ឋាន​​លើ​ប្រអប់​ខ្មៅ
Comment[kn]=ಬ್ಲಾಕ್ ಬಾಕ್ಸ್ ಆಧಾರಿತ ಒಂದು ಹಗುರವಾದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Blackbox 기반 가벼운 창 관리자
Comment[lt]=Nedaug resursų reikalaujanti langų tvarkyklė, paremta Blackbox
Comment[lv]=Viegls logu pārvaldnieks, bāzēts uz Blackbox
Comment[mai]=ब्लेकबाक्स आधारित हलुक विंडो प्रबंधक
Comment[mk]=Лесен менаџер на прозорци базиран на Blackbox
Comment[ml]=ബ്ലാക്ക് ബോക്സ് അടിസ്ഥാനമാക്കിയുള്ള ജാലകപാലകന്‍
Comment[mr]=ब्लॅकबॉक्स आधारित हल्के चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap ringan berdasarkan Kotak Hitam
Comment[nb]=En lettvekts vindusbehandler basert på Blackbox
Comment[nds]=En ranke Finsterpleger, opbuut op Blackbox
Comment[ne]=कालो बाकसमा आधारित हल्का वजन सञ्झ्याल प्रबन्धक
Comment[nl]=Een lichtgewicht windowmanager, gebaseerd op Blackbox
Comment[nn]=Ein lett vindaugssjef basert på Blackbox
Comment[pa]=ਬਲੈਕਬਕਸੇ ਉੱਤੇ ਆਧਾਰਿਤ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien o małych wymaganiach, oparty o Blackbox
Comment[pt]=Um gestor de janelas leve baseado no Blackbox
Comment[pt_BR]=Um gerenciador de janelas leve, baseado no Blackbox
Comment[ro]=Un administrator de ferestre minimal bazat pe Blackbox
Comment[ru]=Лёгкий диспетчер окон, основанный на Blackbox
Comment[se]=Geahpes lásegieđahalli ráhkaduvvon Blackboxa vuođul
Comment[si]=Blackbox පාදක කරගත් සැහැල්ලු කවුළු කළමණාකරුවෙක්
Comment[sk]=Odľahčený správca okien založený na Blackbox
Comment[sl]=Lahek upravljalnik oken na osnovi Blackboxa
Comment[sr]=Лагани менаџер прозора заснован на Блекбоксу
Comment[sr@ijekavian]=Лагани менаџер прозора заснован на Блекбоксу
Comment[sr@ijekavianlatin]=Lagani menadžer prozora zasnovan na Blackboxu
Comment[sr@latin]=Lagani menadžer prozora zasnovan na Blackboxu
Comment[sv]=Lättviktig fönsterhanterare baserad på Blackbox
Comment[ta]=கருப்புப் பெட்டியின் அடிப்படையிலான ஒரு குறைந்த எடை சாளர மேலாளர்
Comment[te]=బ్లాక్ బాక్స్ ఆధారిత తెలికైన విండొ అభికర్త
Comment[tg]=Лёгкий оконный менеджер, основанный на Blackbox
Comment[th]=ระบบจัดการหน้าต่างขนาดเบา สร้างมาจาก Blackbox
Comment[tr]=Blackbox temelli küçük bir pencere yöneticisi
Comment[ug]=Blackbox ئاساسىدىكى يېنىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Невибагливе до ресурсів керування вікнами, засноване на Blackbox
Comment[uz]=Blackbox asosida yaratilgan oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=Blackbox асосида яратилган оддий ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ nhỏ gọn dựa trên Blackbox
Comment[wa]=On ledjir manaedjeu des fniesses båzé so Blackbox
Comment[x-test]=xxA lightweight window manager based on Blackboxxx
Comment[zh_CN]=基于 BlackBox 的轻量级窗口管理器
Comment[zh_TW]=一個基於 Blackbox 且輕量化的視窗管理程式
