[Desktop Entry]
Type=XSession
Exec=oroborus
TryExec=oroborus
Name=Oroborus
Name[af]=Oroborus
Name[ar]=Oroborus
Name[ast]=Oroborus
Name[be]=Oroborus
Name[be@latin]=Oroborus
Name[bg]=Oroborus
Name[bn]=Oroborus
Name[bn_IN]=Oroborus
Name[br]=Oroborus
Name[bs]=Uroboros
Name[ca]=Oroborus
Name[ca@valencia]=Oroborus
Name[cs]=Oroborus
Name[csb]=Oroborus
Name[cy]=Oroborus
Name[da]=Oroborus
Name[de]=Oroborus
Name[el]=Oroborus
Name[en_GB]=Oroborus
Name[eo]=Oroborus
Name[es]=Oroborus
Name[et]=Oroborus
Name[eu]=Oroborus
Name[fi]=Oroborus
Name[fr]=Oroborus
Name[fy]=Oroborus
Name[ga]=Oroborus
Name[gl]=Oroborus
Name[gu]=ઓરોબોરુસ
Name[he]=Oroborus
Name[hi]=ऑरोबोरस
Name[hne]=ओरोबोरस
Name[hr]=Oroborus
Name[hsb]=Oroborus
Name[hu]=Oroborus
Name[ia]=Oroborus
Name[id]=Oroborus
Name[is]=Oroborus
Name[it]=Oroborus
Name[ja]=Oroborus
Name[ka]=Oroborus
Name[kk]=Oroborus
Name[km]=Oroborus
Name[kn]=ಓರೋಬೋರಸ್
Name[ko]=Oroborus
Name[ku]=Oroborus
Name[lt]=Oroborus
Name[lv]=Oroborus
Name[mai]=आरोबोरस
Name[mk]=Oroborus
Name[ml]=ഒരോബൊറസ്
Name[mr]=ऑरोबोरस
Name[ms]=Oroborus
Name[nb]=Oroborus
Name[nds]=Oroborus
Name[ne]=ओरोबोरस
Name[nl]=Oroborus
Name[nn]=Oroborus
Name[pa]=ਓਰੂਬੋਰੁਸ
Name[pl]=Oroborus
Name[pt]=Oroborus
Name[pt_BR]=Oroborus
Name[ro]=Oroborus
Name[ru]=Oroborus
Name[se]=Oroborus
Name[si]=Oroborus
Name[sk]=Oroborus
Name[sl]=Oroborus
Name[sr]=Уроборос
Name[sr@ijekavian]=Уроборос
Name[sr@ijekavianlatin]=Oroborus
Name[sr@latin]=Oroborus
Name[sv]=Oroborus
Name[ta]=Oroborus
Name[te]=ఒరొబొరస్
Name[tg]=Oroborus
Name[th]=Oroborus
Name[tr]=Oroborus
Name[ug]=Oroborus
Name[uk]=Oroborus
Name[uz]=Oroborus
Name[uz@cyrillic]=Oroborus
Name[vi]=Oroborus
Name[wa]=Oroborus
Name[x-test]=xxOroborusxx
Name[zh_CN]=Oroborus
Name[zh_TW]=Oroborus
Comment=A lightweight themeable window manager
Comment[af]='n Lig gewig, tema venster bestuurder
Comment[ar]=مدير نوافذ خفيف يتقبل السمات
Comment[ast]=Un xestor de ventanes llixeru con temes
Comment[be]=Лёгкі кіраўнік вокнаў з падтрымкай тэмаў
Comment[be@latin]=Prosty akońnik z matyvami
Comment[bg]=Лек мениджър на прозорци с много теми
Comment[bn]=হাল্কা থীমযুক্ত উইণ্ডো ম্যানেজার
Comment[bs]=Lagani menadžer prozora sa temama
Comment[ca]=Un gestor de finestres lleuger que permet temes
Comment[ca@valencia]=Un gestor de finestres lleuger que permet temes
Comment[cs]=Lehký správce oken s možností změny vzhledu
Comment[csb]=Menadżera òknów ò môłëch żądanich, z mòżnotą zmianë wëzdrzatkù
Comment[cy]=Trefnydd ffenestri ysgafn sy'n defnyddio themau
Comment[da]=En letvægts vindueshåndtering med temaer
Comment[de]=Schlanker Fenstermanager mit Designs
Comment[el]=Ένας ελαφρύς διαχειριστής παραθύρων με υποστήριξη θεμάτων
Comment[en_GB]=A lightweight themeable window manager
Comment[eo]=Fenestroadministrilo
Comment[es]=Un gestor de ventanas ligero con temas
Comment[et]=Imeväike teemadega aknahaldur
Comment[eu]=Gaiak onartzen dituen leiho-kudeatzaile arina
Comment[fa]=یک مدیر پنجره قابل چهره‌بندی سبک
Comment[fi]=Kevyt teemoitettava ikkunointiohjelma
Comment[fr]=Un gestionnaire de fenêtres léger prenant en charge les thèmes
Comment[fy]=In lichtgewicht finstersmanager mei temabehear
Comment[ga]=Bainisteoir éadrom fuinneog le téamaí
Comment[gl]=Un xestor de xanelas lixeiro e con capacidade para temas
Comment[gu]=હલ્કું થીમ વાપરી શકાય તેવું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות קל משקל וניתן להתאמה אישית על ידי ערכות נושא
Comment[hi]=हल्का, प्रसंगयोग्य विंडो प्रबंधक
Comment[hne]=हल्का, प्रसंग बनाइस जा सके अइसन विंडो प्रबंधक
Comment[hr]=Lagani upravitelj prozora s temama
Comment[hsb]=Njenaročny woknowy rjadowar z temami 
Comment[hu]=Kis erőforrásigényű ablakkezelő, témázási lehetőséggel
Comment[ia]=Un gerente de fenestra legier e a themas
Comment[id]=Sebuah manajer jendela ringan yang bertema
Comment[is]=Léttur þemanlegur gluggastjóri
Comment[it]=Un gestore di finestre leggero che supporta i temi
Comment[ja]=テーマ化可能な軽量のウィンドウマネージャ
Comment[ka]=მსუბუქი ფანჯრის მენეჯერი თემების მხარდაჭერით
Comment[kk]=Жеңіл, нақыштары бар терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​អាច​ប្ដូរ​ស្បែក​បាន​​មាន​សមត្ថភាព​ខ្សោយ
Comment[kn]=ಒಂದು ಹಗುರವಾದ, ಪರಿಸರವಿನ್ಯಾಸಾರ್ಹ (ಥೀಮಬಲ್) ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=가벼운 테마를 설정할 수 있는 창 관리자
Comment[lt]=Nedaug resursų reikalaujanti temas palaikanti langų tvarkyklė
Comment[lv]=Viegls logu pārvaldnieks ar tēmu atbalstu
Comment[mai]=हलुक, प्रसंगयोग्य विंडो प्रबंधक
Comment[mk]=Лесен менаџер на прозорци со теми
Comment[ml]=പ്രമേയങ്ങളുപയോഗിയ്ക്കാവുന്ന കനംകുറഞ്ഞ ജാലകപാലകന്‍
Comment[mr]=हलके शैलीयोग्य चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap boleh tema ringan
Comment[nb]=En lettvekts vindusbehandler med temaer
Comment[nds]=En ranke Finsterpleger, kann Mustern bruken
Comment[ne]=विषयवस्तु योग्य हल्का वजन सञ्झ्याल प्रबन्धक
Comment[nl]=Een lichtgewicht windowmanager met themabeheer
Comment[nn]=Ein lett vindaugssjef med tema
Comment[pa]=ਇੱਕ ਥੀਮਾਂ ਨਾਲ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien o małych wymaganiach, z możliwością zmiany wyglądu
Comment[pt]=Um gestor de janelas leve e com suporte para temas
Comment[pt_BR]=Um gerenciador de Janelas leve com vários temas
Comment[ro]=Un administrator de ferestre mic și configurabil cu diverse tematici
Comment[ru]=Лёгкий диспетчер окон, поддерживающий темы
Comment[se]=Geahpes lásegieđahalli mas leat fáttát
Comment[si]=සැහැල්ලු තේමා යෙදිය හැක කවුළු කළමණාකරුවෙක්
Comment[sk]=Odľahčený správca okien s podporou tém
Comment[sl]=Lahek upravljalnik oken s temami
Comment[sr]=Лагани менаџер прозора са темама
Comment[sr@ijekavian]=Лагани менаџер прозора са темама
Comment[sr@ijekavianlatin]=Lagani menadžer prozora sa temama
Comment[sr@latin]=Lagani menadžer prozora sa temama
Comment[sv]=Lättviktig fönsterhanterare med teman
Comment[ta]=குறைந்தஎடை தலைப்புடைய சாளர மேலாளர்
Comment[te]=లైట్‌వెయిట్ థీమబుల్ విండో నిర్వాహకి
Comment[tg]=Лёгкий оконный менеджер, поддерживающий темы
Comment[th]=ระบบจัดการหน้าต่างขนาดเบาที่ใช้ชุดตกแต่งได้
Comment[tr]=Küçük, hafif, temalı bir pencere yöneticisi
Comment[ug]=يېنىك ئۆرنەكلىك كۆزنەك باشقۇرغۇچ
Comment[uk]=Невибагливе до ресурсів керування вікнами з підтримкою тем
Comment[vi]=Trình quản lý cửa sổ nhẹ ký thay đổi được sắc thái
Comment[wa]=On ledjir manaedjeu des fniesses sopoirtant les tinmes
Comment[x-test]=xxA lightweight themeable window managerxx
Comment[zh_CN]=轻量级窗口管理器，支持主题
Comment[zh_TW]=一個輕量化且有佈景功能的視窗管理程式
# not usable as a session
Hidden=true
