[Desktop Entry]
Type=XSession
Exec=pwm
TryExec=pwm
Name=PWM
Name[af]=PWM
Name[ar]=PWM
Name[ast]=PWM
Name[be]=PWM
Name[be@latin]=PWM
Name[bg]=PWM
Name[bn]=PWM
Name[bn_IN]=PWM
Name[br]=PWM
Name[bs]=PWM
Name[ca]=PWM
Name[ca@valencia]=PWM
Name[cs]=PWM
Name[csb]=PWM
Name[cy]=PWM
Name[da]=PWM
Name[de]=PWM
Name[el]=PWM
Name[en_GB]=PWM
Name[eo]=PWM
Name[es]=PWM
Name[et]=PWM
Name[eu]=PWM
Name[fi]=PWM
Name[fr]=PWM
Name[fy]=PWM
Name[ga]=PWM
Name[gl]=PWM
Name[gu]=PWM
Name[he]=PWM
Name[hi]=पीडबल्यूएम
Name[hne]=पीडबल्यूएम
Name[hr]=PWM
Name[hsb]=PWM
Name[hu]=PWM
Name[ia]=PWM
Name[id]=PWM
Name[is]=PWM
Name[it]=PWM
Name[ja]=PWM
Name[ka]=PWM
Name[kk]=PWM
Name[km]=PWM
Name[kn]=PWM
Name[ko]=PWM
Name[ku]=PWM
Name[lt]=PWM
Name[lv]=PWM
Name[mai]=पीडबल्यूएम
Name[mk]=PWM
Name[ml]=പിഡബ്ല്യൂഎം
Name[mr]=पीडबल्यूएम
Name[ms]=PWM
Name[nb]=PWM
Name[nds]=PWM
Name[ne]=PWM
Name[nl]=PWM
Name[nn]=PWM
Name[pa]=PWM
Name[pl]=PWM
Name[pt]=PWM
Name[pt_BR]=PWM
Name[ro]=PWM
Name[ru]=PWM
Name[se]=PWM
Name[si]=PWM
Name[sk]=PWM
Name[sl]=PWM
Name[sr]=ПВМ
Name[sr@ijekavian]=ПВМ
Name[sr@ijekavianlatin]=PWM
Name[sr@latin]=PWM
Name[sv]=PWM
Name[ta]=PWM
Name[te]=పి డబ్ల్యు ఎం
Name[tg]=PWM
Name[th]=PWM
Name[tr]=PWM
Name[ug]=PWM
Name[uk]=PWM
Name[uz]=PWM
Name[uz@cyrillic]=PWM
Name[vi]=PWM
Name[wa]=PWM
Name[x-test]=xxPWMxx
Name[zh_CN]=PWM
Name[zh_TW]=PWM
Comment=A lightweight window manager able to attach multiple windows to one frame
Comment[af]='n Lig gewig venster bestuurder wat veelvuldige vensters aan een raam kan koppel
Comment[ar]=مدير نوافذ خفيف قادر على جمع النوافذ المتعددة في نافذة واحدة
Comment[ast]=Un xestor de ventanes llixeru capaz de coneutar varias ventanes a un mesmu marcu
Comment[be]=Лёгкі кіраўнік вокнаў, які можа далучаць некалькі вокнаў да аднаго фрэйма
Comment[be@latin]=Prosty akońnik, jaki ŭmieje pryčaplać niekalki voknaŭ da adnaho frejma
Comment[bg]=Лек мениджър на прозорци, който може да прикачва много прозорци към един
Comment[bn]=একটি হাল্কা উইণ্ডো ম্যানেজার, যাতে একটি ফ্রেমে একাধিক উইণ্ডো সংযুক্ত করা সম্ভব
Comment[bs]=Lagani menadžer prozora koji može da kači više prozora za jedan okvir
Comment[ca]=Un lleuger gestor de finestres capaç d'aplegar múltiples finestres en un marc
Comment[ca@valencia]=Un lleuger gestor de finestres capaç d'aplegar múltiples finestres en un marc
Comment[cs]=Jednoduchý správce oken založený na Blackboxu
Comment[csb]=Menadżera òknów ò môłëch żądaniach, rozmiejący doczepic wiele òknów do jedny ramë
Comment[cy]=Trefnydd ffenestri ysgafn sy'n gallu atodi mwy nag un ffenestr at un ffrâm
Comment[da]=En letvægts vindueshåndtering der kan knytte flere vinduer til én ramme
Comment[de]=Schlanker Fenstermanager, der mehrere Fenster an einen Rahmen andocken kann
Comment[el]=Ένας ελαφρύς διαχειριστής παραθύρων με δυνατότητα να προσαρτά πολλαπλά παράθυρα σε ένα πλαίσιο
Comment[en_GB]=A lightweight window manager able to attach multiple windows to one frame
Comment[eo]=Fenestroadministrilo, kiu faras unun fenestron el kelkaj
Comment[es]=Un gestor de ventanas ligero capaz de conectar varias ventanas a un mismo marco
Comment[et]=Imeväike aknahaldur, mis suudab mitu akent ühe raami külge haakida
Comment[eu]=Hainbat leiho marko bakarrari erants diezazkiokeen leiho-kudeatzaile arina
Comment[fa]=مدیر پنجره سبک قادر به پیوست پنجره‌های چندگانه در یک قابک
Comment[fi]=Kevyt ikkunointiohjelma, joka osaa liittää useita ikkunoita yhteen kehykseen
Comment[fr]=Un gestionnaire de fenêtres léger capable d'attacher plusieurs fenêtres à un même cadre
Comment[fy]=In lichtgewicht finstersmanager, hokker meardere finsters kin ferbine mei in kader
Comment[ga]=Bainisteoir éadrom fuinneog atá in ann ilfhuinneoga a cheangal le fráma amháin
Comment[gl]=Un xestor de xanelas lixeiro capaz de xuntar varias xanelas nun marco
Comment[gu]=હલ્કું વિન્ડો વ્યવસ્થાપક જે એક ફ્રેમમાં અનેક વિન્ડો જોડી શકે છે
Comment[he]=מנהל חלונות קל משקל המסוגל לחבר חלונות רבים למסגרת אחת
Comment[hi]=एक हल्का विंडो प्रबंधक जिसके एक फ़रमा में अनेक विंडो जोड़े जा सकते हैं
Comment[hne]=एक हल्का विंडो प्रबंधक जेखर एक फरमा मं बहुत अकन विंडो जोड़े जा सकथे 
Comment[hr]=Lagani upravitelj prozora koji jednom okviru može pridodati više prozora
Comment[hsb]=Njenaročny woknowy rjadowar, kiž móže wjacore wokna na jedyn ramik wjazać
Comment[hu]=Alacsony erőforrásigényű ablakkezelő, több ablakot képes egy kerethez rendelni
Comment[ia]=Un gerente de fenestra habile a attachar fenestras multiple sur un quadro
Comment[id]=Sebuah manajer jendela ringan yang dapat menempelkan beberapa jendela ke dalam satu bingkai
Comment[is]=Léttur gluggastjóri sem getur tengt marga glugga við einn ramma
Comment[it]=Un gestore di finestre leggero in grado di attaccare più finestre ad una cornice
Comment[ja]=複数のウィンドウ枠を設定可能な軽量なウィンドウマネージャ
Comment[ka]=მსუბუქი ფანჯრის მენეჯერი, რომელსაც შეუძლია ბევრი ფანჯრის ერთ ჩარჩოში ჩასმა
Comment[kk]=Жеңіл, бір коршауда бірнеше терезелерді біріктірелетін, терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែល​មាន​សមត្ថភាព​ខ្សោយ អាច​ភ្ជាប់​បង្អួច​ច្រើន​ទៅ​ស៊ុម​មួយ
Comment[kn]=ಒಂದು ಚೌಕಟ್ಟಿಗೆ (ಫ್ರೇಮ್) ಹಲವು ಕಿಟಕಿಗಳನ್ನು ಸೇರಿಸಲು ಅವಕಾಶ ನೀಡುವ ಒಂದು ಹಗುರವಾದ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=한 프레임에 여러개의 창을 붙일 수 있는 가벼운 창 관리자
Comment[lt]=Nedaug resursų reikalaujanti langų tvarkyklė, galinti prijungti daug langų prie vieno rėmo
Comment[lv]=Viegls logu pārvaldnieks ar iespēju pievienot vairākus logus vienam kadram
Comment[mai]=एकटा हलुक विंडो प्रबंधक जकरा एकटा फरमा मे कतेक विंडो जोड़ल जाए सकैत अछि
Comment[mk]=Лесен менаџер на прозорци кој може да прикачи повеќе прозорци на една рамка
Comment[ml]=ഒരു ഫ്രയിമില്‍ ഒന്നില്‍കൂടുതല്‍ ജാലകങ്ങള്‍ ചേര്‍ക്കാന്‍ കഴിവുള്ള കനംകുറഞ്ഞ ജാലകപാലകന്‍
Comment[mr]=एक हल्के चौकट प्रबंधक ज्याचे एक फ्रेम मध्ये अनेक चौकट जोडले जाऊ शकते
Comment[ms]=Pengurus tetingkap ringan yang boleh melekapkan berbilang tetingkap pada satu bingkai
Comment[nb]=En lettvekts vindusbehandler som kan koble flere vinduer til én ramme
Comment[nds]=En ranke Finsterpleger, de mennige Finstern an een Rahmen andocken kann
Comment[ne]=एक हल्का वजन सञ्झ्याल प्रबन्धकले बहुभागिय सञ्झ्यालहरूलाई एक फ्रेममा सङ्लग्न गर्न सक्छ
Comment[nl]=Een lichtgewicht windowmanager, welke meerdere vensters kan verbinden met een frame
Comment[nn]=Ein lett vindaugssjef som kan kopla fleire vindauge til den same ramma
Comment[pa]=ਇੱਕ ਹਲਕਾ ਵਿੰਡੋ ਮੈਨੇਜਰ, ਜੋ ਕਿ ਕਈ ਵਿੰਡੋਜ਼ ਨੂੰ ਇੱਕ ਫਰੇਮ ਵਿੱਚ ਰੱਖ ਸਕਦਾ ਹੈ
Comment[pl]=Menadżer okien o małych wymaganiach, potrafiący doczepić wiele okien do jednego obramowania
Comment[pt]=Um gestor de janelas leve, com a possibilidade de anexar várias janelas a uma área
Comment[pt_BR]=Um gerenciador de janelas leve, capaz de anexar múltiplas janelas em uma moldura
Comment[ro]=Un administrator de ferestre minimal capabil să atașeze multe ferestre la un singur cadru
Comment[ru]=Лёгкий диспетчер окон, способный объединить несколько окон в одной рамке
Comment[se]=Geahpes lásegieđahalli mii sáhttá ovttastahttit máŋga láse seamma rámmii.
Comment[si]=කවුළු කිහිපයක් එක රාමුවකට ඇමිණිය හැකි සැහැල්ලු කවුළු කළමණාකරු
Comment[sk]=Odľahčený správca okien schopný spojiť viac okien do jedného rámca
Comment[sl]=Lahek upravljalnik oken, ki lahko pripne več oken na en okvir
Comment[sr]=Лагани менаџер прозора који може да качи више прозора за један оквир
Comment[sr@ijekavian]=Лагани менаџер прозора који може да качи више прозора за један оквир
Comment[sr@ijekavianlatin]=Lagani menadžer prozora koji može da kači više prozora za jedan okvir
Comment[sr@latin]=Lagani menadžer prozora koji može da kači više prozora za jedan okvir
Comment[sv]=Lättviktig fönsterhanterare som kan ansluta flera fönster till en ram
Comment[ta]=குறைந்த கனமுள்ள பல சாளரங்களை இணைக்க முடிந்த ஒற்றை சாளர மேலாளர்
Comment[te]=లైట్‌వెయిట్ విండో నిర్వాహకి బహుళ విండోలను ఒకే చట్రానికి అనుభందించగలదు
Comment[tg]=Лёгкий оконный менеджер, способный объединить несколько окон в одной рамке
Comment[th]=ระบบจัดการหน้าต่างขนาดเบา มีความสามารถในการปะติดหลายๆหน้าต่างลงใน 1 กรอบ
Comment[tr]=Düşük ağırlıklı birçok pencereyi bir çerçeveye toplayabilen bir pencere yöneticisi
Comment[ug]=يېنىك كۆزنەك باشقۇرغۇچ، كۆپ كۆزنەكنى بىر كاندۇكقا قوشقىلى بولىدۇ
Comment[uk]=Невибагливе до ресурсів керування вікнами з можливістю поєднання декількох вікон у одній рамці
Comment[vi]=Trình quản lý cửa sổ nhỏ gọn, có thể gắn nhiều cửa sổ vào cùng một khung
Comment[wa]=On ledjir manaedjeu des fniesses capåbe d' ataetchî sacwantès fniesses a on seu cåde.
Comment[x-test]=xxA lightweight window manager able to attach multiple windows to one framexx
Comment[zh_CN]=轻量级窗口管理器，可将多个窗口添加到一个框架中
Comment[zh_TW]=一個輕量化且可以將多個視窗結合在一起的視窗管理程式
