[Desktop Entry]
Type=XSession
Exec=ratpoison
TryExec=ratpoison
Name=Ratpoison
Name[af]=Ratpoison
Name[ar]=Ratpoison
Name[ast]=Ratpoison
Name[be]=Ratpoison
Name[be@latin]=Ratpoison
Name[bg]=Ratpoison
Name[bn]=র‌্যাট-পয়সন
Name[bn_IN]=Ratpoison
Name[br]=Ratpoison
Name[bs]=Ratpoisn
Name[ca]=Ratpoison
Name[ca@valencia]=Ratpoison
Name[cs]=Ratpoison
Name[csb]=Ratpoison
Name[cy]=Gwenwynllygodmawr (Ratpoison)
Name[da]=Ratpoison
Name[de]=Ratpoison
Name[el]=Ratpoison
Name[en_GB]=Ratpoison
Name[eo]=Ratpoison
Name[es]=Ratpoison
Name[et]=Ratpoison
Name[eu]=Ratpoison
Name[fa]=مرگ موش
Name[fi]=Ratpoison
Name[fr]=Ratpoison
Name[fy]=Ratpoison
Name[ga]=Ratpoison
Name[gl]=Ratpoison
Name[gu]=રેટપોઇઝન
Name[he]=Ratpoison
Name[hi]=रैट-पॉइज़न
Name[hne]=रैट-पाइजन
Name[hr]=Ratpoison
Name[hsb]=Ratpoison
Name[hu]=Ratpoison
Name[ia]=Ratpoison
Name[id]=Ratpoison
Name[is]=Ratpoison
Name[it]=Ratpoison
Name[ja]=Ratpoison
Name[ka]=Ratpoison
Name[kk]=Ratpoison
Name[km]=Ratpoison
Name[kn]=ರಾಟ್ ಪಾಯ್ಸನ್
Name[ko]=Ratpoison
Name[ku]=Ratpoison
Name[lt]=Ratpoison
Name[lv]=Ratpoison
Name[mai]=रैट-पाइजन
Name[mk]=Ratpoison
Name[ml]=എലിവിഷം
Name[mr]=रैट-पॉइजन
Name[ms]=Ratpoison
Name[nb]=Ratpoison
Name[nds]=Ratpoison
Name[ne]=र्याटपोइजन
Name[nl]=Ratpoison
Name[nn]=Ratpoison
Name[pa]=ਰਾਟਪੋਈਸਾਨ
Name[pl]=Ratpoison
Name[pt]=Ratpoison
Name[pt_BR]=Ratpoison
Name[ro]=Ratpoison
Name[ru]=Ratpoison
Name[se]=Ratpoison
Name[si]=Ratpoison
Name[sk]=Ratpoison
Name[sl]=Ratpoison
Name[sr]=Ретпојзон
Name[sr@ijekavian]=Ретпојзон
Name[sr@ijekavianlatin]=Ratpoison
Name[sr@latin]=Ratpoison
Name[sv]=Råttgift
Name[ta]=ராட் பாய்சன்
Name[te]=ఎలుకలమందు
Name[tg]=Ratpoison
Name[th]=Ratpoison
Name[tr]=Ratpoison
Name[ug]=Ratpoison
Name[uk]=Ratpoison
Name[uz]=Ratpoison
Name[uz@cyrillic]=Ratpoison
Name[vi]=Ratpoison
Name[wa]=Pwezon po les rats (Ratpoison)
Name[x-test]=xxRatpoisonxx
Name[zh_CN]=Ratpoison
Name[zh_TW]=Ratpoison
Comment=A simple keyboard-only window manager modeled after Screen
Comment[af]='n Eenvoudige venster bestuurder wat net met die sleutel bord werk en op Screen gemoduleer is.
Comment[ar]=مدير نوافذ بسيط يستخدم لوحة المفاتيح فقط مشابه لأداة سكرين (Screen)
Comment[ast]=Un xestor de ventanes namái pa tecláu fechu a partir de Screen
Comment[be]=Просты кіраўнік вокнаў, працуе толькі з клавіятурай
Comment[be@latin]=Prosty akońnik dla klavijaturnaha kiravańnia, stvorany pavodle pryncypaŭ prahramy „Screen”
Comment[bg]=Опростен мениджър на прозорци за използване с клавиатура. На базата на Screen
Comment[bn]=একটি সরল কীবোর্ড-ভিত্তিক উইণ্ডো ম্যানেজার, Screen-এর আদর্শে তৈরি
Comment[bs]=Jednostavan menadžer prozora samo za tastaturu, po ugledu na Skrin
Comment[ca]=Un gestor de finestres senzill per només teclat modelat després de Screen
Comment[ca@valencia]=Un gestor de finestres senzill de sols teclat modelat després de Screen
Comment[cs]=Jednoduchý správce oken ovládaný pouze klávesnicí vytvořený podle Screenu
Comment[csb]=Prosti menadżera òknów òbsłùgiwôny blós z klawiaturë, szlachùje za programą screen
Comment[cy]=Trefnydd ffenestri syml sy'n defnyddio'r allweddell yn unig, wedi'i arddullio ar Sgrîn (Screen)
Comment[da]=En simpel kun-tastatur vindueshåndtering modeleret efter Screen
Comment[de]=Einfacher Fenstermanager, der nur über die Tastatur bedient wird und Screen nachgebildet ist
Comment[el]=Ένας απλός, μονό για πληκτρολόγιο, διαχειριστής παραθύρων σχεδιασμένος με βάση το Screen
Comment[en_GB]=A simple keyboard-only window manager modelled after Screen
Comment[eo]=Fenestroadministrilo por la klavaro
Comment[es]=Un gestor de ventanas solo para teclado realizado a partir de Screen
Comment[et]=Lihtne ainult klaviatuuri abil kasutatav aknahaldur, mille eeskujuks on Screen
Comment[eu]=Screen-en oinarrituta egindako leiho-kudeatzaile sinplea, teklatu bidez soilik erabiltzekoa
Comment[fa]=یک مدیر پنجره فقط صفحه کلید ساده مدل‌یافته پس از پرده
Comment[fi]=Yksinkertainen, vain näppäimistöltä käytettävä ikkunointiohjelma, screen-ohjelman tyyliin
Comment[fr]=Un gestionnaire simple de fenêtres, manipulable uniquement au clavier et mis en forme d'après « Screen »
Comment[fy]=In ienfâldige finstersmanager dy allinnich mei it toetseboerd te betsjinnen is, ynspiraasje troch Screen
Comment[ga]=Bainisteoir fuinneog simplí a láimhseáiltear leis an méarchlár amháin, cosúil le Screen
Comment[gl]=Un xestor de xanelas de manexo co teclado modelado segundo Screen
Comment[gu]=સ્ક્રિન પરથી બનાવેલ સરળ ફક્ત કીબોર્ડ વાળું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות פשוט לשימוש עם מקלדת בלבד, תוכנן לפי העקרונות של Screen
Comment[hi]=स्क्रीन के अनुरुप मॉडल किया गया साधारण विंडो प्रबंधक जो सिर्फ कुंजीपट के लिए है
Comment[hne]=स्क्रीन के अनुरुप माडल करे गे सिरिफ कुंजीपट बर सादा विंडो प्रबंधक
Comment[hr]=Jednostavan, samo za tipkovnicu, upravitelj prozora napravljen prema Screenu
Comment[hsb]=Jednory, jenož tastaturu podpěrowacy woknowy rjadowar po přikładźe Screen
Comment[hu]=Egyszerű, csak billentyűzetről vezérelhető ablakkezelő (a Screen alapján)
Comment[ia]=Un simple gerente de fenestra  sol per claviero sur le modello de Screen
Comment[id]=Sebuah manajer jendela bagi papan ketik saja yang sederhana dan dibuat mengikuti Screen
Comment[is]=Einfaldur gluggastjóri sem notar eingöngu lyklaborðið hannaður eftir Screen forritinu
Comment[it]=Un gestore di finestre semplice solo per tastiera, pensato come Screen
Comment[ja]=Screen をもとに作られた、キーボードインターフェースのみのウィンドウマネージャ
Comment[ka]=მარტივი კლაიატურით მართვადი ფანჯრის მმართველი
Comment[kk]=Screen үлгідегі, тек перенетақтадан басқарылатын, қарапайым терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​សាមញ្ញ​ប្រើ​តែ​ក្ដារចុច ដែល​យក​គំរូ​តាម​អេក្រង់
Comment[kn]=Screen ಮಾದರಿಯಲ್ಲಿ  ರಚಿಸಲಾದ ಒಂದು ಸರಳ ಕೀಲಿಮಣೆ-ಮಾತ್ರ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Screen을 모델로 삼은 간단한 키보드용 창 관리자
Comment[lt]=Paprasta, tik klaviatūra valdoma langų tvarkyklė, panaši į Screen
Comment[lv]=Vienkāršs tikai tastatūras logu pārvaldnieks, līdzīgs Screen
Comment[mai]=स्क्रीन केर अनुरुप माडल कएल गेल साधारण विंडो प्रबंधक जे सिर्फ कुंजीपट क' लेल अछि
Comment[mk]=Едноставен менаџер на прозорци кој работи само со тастатура, моделиран според Screen
Comment[ml]=കീബോര്‍ഡ് മാത്രമുള്ള ജാലകപാലകന്‍-സ്ക്രീനു ശേഷം രൂപകല്പനചെയ്തതു്
Comment[mr]=स्क्रीनच्या नुरुप रचना केले गेलेले सामान्य चौकट व्यवस्थापक जो फक्त कळफलक करिता आहे
Comment[ms]=Pengurus tetingkap hanya papan kekunci ringkas dimodelkan seperti Skrin
Comment[nb]=En enkel tastaturbasert vindusbehandler etter forbilde av Screen
Comment[nds]=En eenfache Finsterpleger, de bloots mit de Tastatuur bruukt warrt. Screen weer dat Modell dorför
Comment[ne]=पर्दा पछाडि सञ्झ्याल प्रबन्धक मात्र नमूना बनाउने साधारण कुञ्जीपाटी
Comment[nl]=Een eenvoudige windowmanager die alleen met het toetsenbord te bedienen is, geïnspireerd door Screen
Comment[nn]=Ein enkel tastaturbasert vindaugssjef, med Screen som førebilete
Comment[pa]=ਸਕਰੀਨ ਮੋਡੀਊਲ ਬਾਅਦ ਸਿਰਫ ਕੀ-ਬੋਰਡ ਤੇ ਆਧਾਰਿਤ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Prosty menadżer okien obsługiwany wyłącznie za pomocą klawiatury, stworzony na podobieństwo programu screen
Comment[pt]=Um gestor de janelas simples, só para o teclado e modelado sobre o Screen
Comment[pt_BR]=Um simples gerenciador de janelas baseado somente em teclado, modelado após a tela
Comment[ro]=Un administrator de ferestre manipulat din tastatură, modelat după Screen
Comment[ru]=Простой диспетчер окон, моделирующий Screen и управляемый с клавиатуры
Comment[se]=Oktageardánis, boallobeavdestivrejuvvon lásegieđahalli, mas lea Screen ovdagovvan
Comment[si]=තිරයට පසු අකෘති කිරීමට සරල යතුරුපුවරු-පමණක් ඇති කවුළු කළමණාකරු
Comment[sk]=Jednoduchý správca okien ovládaný iba klávesami podľa programu Screen
Comment[sl]=Preprost upravljalnik oken na osnovi Screen, upravlja se samo s tipkovnico
Comment[sr]=Једноставан менаџер прозора само за тастатуру, по угледу на Скрин
Comment[sr@ijekavian]=Једноставан менаџер прозора само за тастатуру, по угледу на Скрин
Comment[sr@ijekavianlatin]=Jednostavan menadžer prozora samo za tastaturu, po ugledu na Screen
Comment[sr@latin]=Jednostavan menadžer prozora samo za tastaturu, po ugledu na Screen
Comment[sv]=Enkel fönsterhanterare bara för tangentbord modellerad efter Screen
Comment[ta]=சாளரமொன்றில் நிழல் ஏறுகிறது
Comment[te]=సాధారణ కీబోర్‍డ్-మాత్రమే విండో నిర్వాహకి తెర తర్వాత రూపొందించబడింది
Comment[tg]=Простой клавиатурный оконный менеджер, моделирующий Screen
Comment[th]=ตัวจัดการหน้าต่างแบบเรียบง่าย ใช้แป้นพิมพ์ควบคุมได้อย่างเดียว ออกแบบมาตาม Screen
Comment[tr]=Screen'den sonra modellenmiş salt klavye basit pencere yöneticisi
Comment[ug]=Screen دىن كېيىنكى يەنە بىر خىل ھەرپتاختىنىلا قوللايدىغان كۆزنەك باشقۇرغۇچ
Comment[uk]=Просте керування вікнами, розроблене на базі Screen, з підтримкою керування лише за допомогою клавіатури
Comment[vi]=Trình quản lý cửa sổ chỉ dùng bàn phím, dựa theo Screen
Comment[wa]=On simpe manaedjeu des fniesses eployant fok li taprece, båzé so ls idêyes da Screen
Comment[x-test]=xxA simple keyboard-only window manager modeled after Screenxx
Comment[zh_CN]=继 Screen 后又一种只支持键盘的窗口管理器
Comment[zh_TW]=一個簡易、只支援鍵盤的視窗管理程式
