[Desktop Entry]
Type=XSession
Exec=sawfish
TryExec=sawfish
Name=Sawfish
Name[af]=Sawfish
Name[ar]=Sawfish
Name[ast]=Sawfish
Name[be]=Sawfish
Name[be@latin]=Sawfish
Name[bg]=Sawfish
Name[bn]=স-ফিশ
Name[bn_IN]=Sawfish
Name[br]=Sawfish
Name[bs]=Sofiš
Name[ca]=Sawfish
Name[ca@valencia]=Sawfish
Name[cs]=Sawfish
Name[csb]=Sawfish
Name[cy]=Sawfish
Name[da]=Sawfish
Name[de]=Sawfish
Name[el]=Sawfish
Name[en_GB]=Sawfish
Name[eo]=Sawfish
Name[es]=Sawfish
Name[et]=Sawfish
Name[eu]=Sawfish
Name[fa]=اره‌ماهی
Name[fi]=Sawfish
Name[fr]=Sawfish
Name[fy]=Sawfish
Name[ga]=Sawfish
Name[gl]=Sawfish
Name[gu]=સૉફીશ
Name[he]=Sawfish
Name[hi]=सा-फिश
Name[hne]=सा-फिस
Name[hr]=Sawfish
Name[hsb]=Sawfish
Name[hu]=Sawfish
Name[ia]=Sawfish
Name[id]=Sawfish
Name[is]=Sawfish
Name[it]=Sawfish
Name[ja]=Sawfish
Name[ka]=Sawfish
Name[kk]=Sawfish
Name[km]=Sawfish
Name[kn]=ಸಾಫಿಷ್
Name[ko]=Sawfish
Name[ku]=Sawfish
Name[lt]=Sawfish
Name[lv]=Sawfish
Name[mai]=सा-फिश
Name[mk]=Sawfish
Name[ml]=സോഫിഷ്
Name[mr]=सॉफीश
Name[ms]=Sawfish
Name[nb]=Sawfish
Name[nds]=Sawfish
Name[ne]=सफीस
Name[nl]=Sawfish
Name[nn]=Sawfish
Name[pa]=ਸ਼ਾਅਫਿਸ਼
Name[pl]=Sawfish
Name[pt]=Sawfish
Name[pt_BR]=Sawfish
Name[ro]=Sawfish
Name[ru]=Sawfish
Name[se]=Sawfish
Name[si]=Sawfish
Name[sk]=Sawfish
Name[sl]=Sawfish
Name[sr]=Софиш
Name[sr@ijekavian]=Софиш
Name[sr@ijekavianlatin]=Sawfish
Name[sr@latin]=Sawfish
Name[sv]=Sawfish
Name[ta]=Sawfish
Name[te]=సాఫిష్
Name[tg]=Sawfish
Name[th]=Sawfish
Name[tr]=Sawfish
Name[ug]=Sawfish
Name[uk]=Sawfish
Name[uz]=Sawfish
Name[uz@cyrillic]=Sawfish
Name[vi]=Sawfish
Name[wa]=Sawfish
Name[x-test]=xxSawfishxx
Name[zh_CN]=Sawfish
Name[zh_TW]=Sawfish
Comment=An extensible window manager scriptable with an Emacs Lisp-like language
Comment[af]='n Uitbreibare venster bestuurder met 'n ingeboude skrip taal wat soos Emacs List lyk.
Comment[ar]=مدير نوافذ قابل للتوسع والبرمجة بلغة مشابهة للغة لسب في إيماكس
Comment[ast]=Un xestor de ventanes extensible con scriptss nun llinguaxe asemeyáu a Lisp d'Emacs
Comment[be]=Кіраўнік вокнаў з магчымасцю пашырэння сцэнарамі на мове, падобнай на Emacs Lisp
Comment[be@latin]=Akońnik, jaki možna pašyryć svaimi prahramami ŭ movie, padobnaj da „Emacs Lisp”
Comment[bg]=Разширяем мениджър на прозорци, който може да се управлява със скриптове (Emacs Lisp)
Comment[bs]=Proširivi menadžer prozora, skriptuje se jezikom nalik na Emaksov lisp
Comment[ca]=Un gestor de finestres extensible mitjançant scripts amb una aparença com el Lisp d'Emacs
Comment[ca@valencia]=Un gestor de finestres extensible mitjançant scripts amb una aparença com el Lisp d'Emacs
Comment[cs]=Rozšiřitelný správce oken jenž lze skriptovat pomocí jazyka podobného jazyku Emacs Lisp
Comment[csb]=Menadżera òknów, jaczi je mòżno rozbùdowac dzãka skriptom w jãzëkù szlachùjącym za Emacs Lisp
Comment[cy]=Trefnydd ffenestri estynadwy a all ei sgriptio efo iaith sy'n debyg i Emacs Lisp
Comment[da]=En udvidelig vindueshåndtering der kan scriptes med et Emacs Lisp-lignende sprog
Comment[de]=Erweiterbarer Fenstermanager, der über Skripte ähnlich Emacs-Lisp gesteuert werden kann
Comment[el]=Ένας επεκτάσιμος διαχειριστής παραθύρων παραμετροποιήσιμος με μια γλώσσα παρόμοια με την Emacs Lisp
Comment[en_GB]=An extensible window manager scriptable with an Emacs Lisp-like language
Comment[eo]=Fenestroadministrilo, kiu uzas Lispon por esti programata
Comment[es]=Un gestor de ventanas extensible con guiones escritos en un lenguaje similar a Lisp de Emacs
Comment[et]=Laiendatav aknahaldur, mis kasutab Emacs Lispi keele moodi skripte
Comment[eu]=Emacs Lisp-en antzeko lengoaian idatzitako scriptekin heda daitekeen leiho-kudeatzailea
Comment[fa]=مدیر پنجره توسعه‌پذیر دست‌نوشته‌ای با یک زبان شبیه Emacs Lisp
Comment[fi]=Laajennettavissa oleva ikkunointiohjelma, johon voi luoda komentosarjoja Emacs lispin tyylisellä kielellä
Comment[fr]=Un gestionnaire de fenêtres extensible à l'aide scripts dans un langage similaire au Lisp de Emacs
Comment[fy]=In útbreidbere finstersmanager, skriptber fia in Emacs Lisp-likene taal
Comment[ga]=Bainisteoir fuinneog atá inbhreisithe le teanga scripte cosúil le hEmacs Lisp
Comment[gl]=Un xestor de xanelas extensíbel e configurábel mediante scripts nunha linguaxe como Emacs Lisp
Comment[gu]=Emacs Lisp-જેવી ભાષાઓ વડે સ્ક્રિપ્ટ કરી શકાતું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות הניתן להרחבה ותכנות עם שפה דמויית Emacs Lisp
Comment[hi]=ई-मेक्स लिस्प जैसे भाषा में स्क्रिप्ट किया जा सकने लायक विंडो प्रबंधक जिसे विस्तार दिया जा सकता है
Comment[hne]=ई-मेक्स लिस्प जइसन भाखा मं स्क्रिप्ट कर सकिस जइसन विंडो प्रबंधक जऊन ल विस्तार दे जा सकथे 
Comment[hr]=Proširivi upravitelj prozora pisan u skripti nalik na jezik Emacs Lisp
Comment[hsb]=Rozšěrjomny woknowy rjadowar, kiž rozumi skriptowu rěč, podobnu na Emacs-Lisp
Comment[hu]=Egy könnyen tovább bővíthető ablakkezelő, egy Emacs Lisp-szerű nyelvvel szkriptelhető
Comment[ia]=Un gerente de fenestra extensible e ubi pote adder scripts per un linguage de EMACS semblante Lisp
Comment[id]=Sebuah manajer jendela diperluas yang ditulis dengan bahasa mirip Emacs Lisp
Comment[is]=Viðbætanlegur gluggastjóri sem er skriftanlegur á Emacs Lisp líku máli
Comment[it]=Un gestore di finestre estensibile per cui è possibile fare script in un linguaggio simile all'Emacs Lisp
Comment[ja]=Emacs Lisp 言語スクリプトで機能拡張可能なウィンドウマネージャ
Comment[ka]=Lisp სკრიპტებით გაფათოვებადი Emacs ის მაგვარი ფანჯრის მენეჯერი
Comment[kk]=Emacs Lisp-секілді тілдегі скриптті қолданып, кеңейтілетін терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែល​អាច​ពង្រីក​បាន ហើយ​អាច​សរសេរ​ស្គ្រីប​ដោយ​​ភាសា​ដែល​ដូចទៅ​នឹង Emacs Lisp
Comment[kn]=Emacs Lisp-ತರಹದ ಭಾಷೆಯಲ್ಲಿ  ವಿಧಿಗಚ್ಛಗಳನ್ನು ರಚಿಸಬಹುದಾದ (ಸ್ಕ್ರಿಪ್ಟ್), ವಿಸ್ತರಣೀಯ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=이맥스 Lisp 언어로 스크립팅이 가능한 확장 가능한 창 관리자
Comment[lt]=Langų tvarkyklė, kurią galima išplėsti Emacs Lisp primenančia programavimo kalba
Comment[lv]=Paplašināms logu pārvaldnieks ar Emacs Lisp līdzīgas valodas atbalstu
Comment[mai]=ई-मेक्स लिस्प जहिना भाषा मे स्क्रिप्ट कएल जाए सकै बला विंडो प्रबंधक जकरा विस्तार देल जाए सकैत अछि
Comment[mk]=Екстензивен менаџер на прозорци кој може да се скриптира со јазик како Emacs Lisp
Comment[ml]=ഈമാക്സ് ലിസ്പ്പ് പോലെയുള്ള ഭാഷ ഉപയോഗിച്ചു് വിപുലീകരിയ്ക്കാവുന്ന ജാലകപാലകന്‍
Comment[mr]=Emacs लिस्प नुरूप भाषा सह स्क्रिप्ट लायक विस्तारीत चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap boleh kembang dan boleh diskrip dengan bahasa seperti Emacs Lisp
Comment[nb]=En utvidbar vindusbehandler som kan skriptes med et språk som likner Emacs Lisp
Comment[nds]=En verwiederbor Finsterpleger, de över en Skriptspraak liek to Emacs-Lisp stüert warrn kann
Comment[ne]=इमाक्स लिस्प जस्तो भाषसँग स्क्रिप्ट गर्न सकिने एउटा विस्तारयोग्य सञ्झ्याल प्रबन्धक
Comment[nl]=Een uitbreidbare windowmanager, scriptbaar via een Emacs Lisp-achtige taal
Comment[nn]=Ein utvidbar vindaugssjef som kan skriptast med eit språk som liknar Emacs Lisp
Comment[pa]= Emacs Lisp-ਵਰਗੀ ਭਾਸ਼ਾ ਸਕ੍ਰਿਪਟਯੋਗ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien, który można rozszerzać za pomocą skryptów w języku podobnym do Emacs Lisp
Comment[pt]=Um gestor de janelas extensível e programável com uma linguagem semelhante ao Emacs Lisp
Comment[pt_BR]=Um gerenciador de janelas extensível, baseado em scripts, com uma linguagem parecida com o Lisp do Emacs
Comment[ro]=Un administrator de ferestre extensibil script-abil cu un limbaj similar cu Emacs Lisp
Comment[ru]=Диспетчер окон, расширяемый скриптами Lisp наподобие Emacs
Comment[se]=Viddádahtti lásegieđahalli mii lea vejolaš prográmmeret Emacs Lisp-lágan gielain
Comment[si]=දිගුකල හැකි කවුළු කළමණාකරු Emacs Lisp-වැනි භාශාවකින් සැකසිය හැක
Comment[sk]=Rozšíriteľný správca okien, ktorého je možné ovládať programovacím jazykom podobným Emacs Lispu
Comment[sl]=Razširljiv upravljalnik oken, ki se lahko upravlja s skripti v jeziku podobnem Emacs Lisp
Comment[sr]=Прошириви менаџер прозора, скриптује се језиком налик на Емаксов лисп
Comment[sr@ijekavian]=Прошириви менаџер прозора, скриптује се језиком налик на Емаксов лисп
Comment[sr@ijekavianlatin]=Proširivi menadžer prozora, skriptuje se jezikom nalik na Emacsov Lisp
Comment[sr@latin]=Proširivi menadžer prozora, skriptuje se jezikom nalik na Emacsov Lisp
Comment[sv]=Utökningsbar fönsterhanterare som kan styras med ett Emacs Lisp-liknande skriptspråk
Comment[ta]=Emacs Lisp-like மொழியுடனான விரிவாக்ககூடிய சாளர மேலாளர் எழுத்தாக்கம்
Comment[te]=Emacs లిస్‍ప్-లైక్ భాషతో పొడిగింపగల విండో నిర్వాహిక స్క్రిప్టబుల్
Comment[tg]=Расширяемый скриптами Lisp наподобие Emacs оконный менеджер
Comment[th]=ระบบจัดการหน้าต่างที่สามารถเพิ่มขยายได้ และควบคุมด้วยการเขียนสคริปต์โดยใช้ภาษาแบบ Emacs Lisp
Comment[tr]=Eklenti destekli Emacs Lisp benzeri bir kodlama dili kullanan kodlanabilir bir pencere yöneticisi
Comment[ug]=Emacs Lisp تىلىغا ئوخشاش قوليازما يازغىلى بولىدىغان كۆزنەك باشقۇرغۇچ
Comment[uk]=Керування вікнами з можливістю розширення за допомогою мови скриптів, подібної до Emacs Lisp
Comment[vi]=Trình quản lý cửa sổ có khả năng sửa đổi bằng văn lệnh được viết bằng ngôn ngữ giống Emacs Lisp
Comment[wa]=On manaedjeu des fniesses ki pout esse agrandi avou des scripes dins on lingaedje del sôre Emacs Lisp
Comment[x-test]=xxAn extensible window manager scriptable with an Emacs Lisp-like languagexx
Comment[zh_CN]=可用类似 Emacs Lisp 的语法进行编程的窗口管理器
Comment[zh_TW]=一個可用類似 Emacs Lisp 語言延伸的視窗管理程式
