[Desktop Entry]
Encoding=UTF-8
Name=Subtle
Name[bs]=Subtle
Name[ca]=Subtle
Name[cs]=Subtle
Name[da]=Diskret
Name[de]=Subtle
Name[en_GB]=Subtle
Name[es]=Subtle
Name[et]=Subtle
Name[fi]=Subtle
Name[fr]=Subtle
Name[hu]=Subtle
Name[ia]=Subtil
Name[it]=Subtle
Name[ko]=Subtle
Name[nb]=Dus
Name[nds]=Subtle
Name[nl]=Subtle
Name[pl]=Subtle
Name[pt]=Subtil
Name[pt_BR]=Discreto
Name[ru]=Subtle
Name[sk]=Subtle
Name[sl]=Subtle
Name[sr]=Сабтл
Name[sr@ijekavian]=Сабтл
Name[sr@ijekavianlatin]=Subtle
Name[sr@latin]=Subtle
Name[sv]=Subtil
Name[tr]=Subtle
Name[uk]=Subtle
Name[x-test]=xxSubtlexx
Name[zh_TW]=Subtle
Comment=Subtle Tiling Window Manager
Comment[bs]=Subtle menadžer prozora popločan
Comment[ca]=Gestor de finestres en mosaic Subtle
Comment[cs]=Dlaždicový správce oken Subtle
Comment[da]=Diskret vindueshåndtering med fliseudlægning
Comment[de]=Subtle-Kachel-Fensterverwaltung
Comment[en_GB]=Subtle Tiling Window Manager
Comment[es]=Gestor de ventanas en mosaico Subtle
Comment[et]=Subtle paanidega aknahaldur
Comment[fi]=Subtle Tiling Window Manager
Comment[fr]=Le gestionnaire de fenêtres « Subtle Tiling Window Manager »
Comment[hu]=Subtle csempéző ablakkezelő
Comment[ia]=Gerente de fenestra Subtle Tiling (a bricchetta subtil)
Comment[it]=Gestore delle finestre Subtle
Comment[ko]=Subtle 타일 창 관리자
Comment[nb]=Dus flisleggende vindusbehandler
Comment[nds]=De Kachel-Finsterpleger Subtle
Comment[nl]=Subtle achterelkaar liggend vensterbeheerder
Comment[pa]=ਸਬਟਲ ਟਿਲਿੰਗ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menedżer okien kafelek Subtle
Comment[pt]=Gestor de Janelas Lado-a-Lado Subtil
Comment[pt_BR]=Gerenciador de janelas lado a lado discreto
Comment[ru]=Мозаичный диспетчер окон Subtle
Comment[sk]=Správca dlaždíc okien Subtle
Comment[sl]=Upravljalnik razpostavljanja oken Subtle
Comment[sr]=Поплочавајући менаџер прозора Сабтл
Comment[sr@ijekavian]=Поплочавајући менаџер прозора Сабтл
Comment[sr@ijekavianlatin]=Popločavajući menadžer prozora Subtle
Comment[sr@latin]=Popločavajući menadžer prozora Subtle
Comment[sv]=Subtil fönsterhanterare
Comment[tr]=Subtle Tiling Pencere Yöneticisi
Comment[uk]=Мозаїчний засіб керування вікнами Subtle
Comment[x-test]=xxSubtle Tiling Window Managerxx
Comment[zh_TW]=精確鋪排視窗管理員
Exec=subtle
TryExec=subtle
Type=XSession

