[Desktop Entry]
Type=XSession
Exec=twm
TryExec=twm
Name=TWM
Name[af]=TWM
Name[ar]=TWM
Name[ast]=TWM
Name[be]=TWM
Name[be@latin]=TWM
Name[bg]=TWM
Name[bn]=TWM
Name[bn_IN]=TWM
Name[br]=TWM
Name[bs]=TWM
Name[ca]=TWM
Name[ca@valencia]=TWM
Name[cs]=TWM
Name[csb]=TWM
Name[cy]=TWM
Name[da]=TWM
Name[de]=TWM
Name[el]=TWM
Name[en_GB]=TWM
Name[eo]=TWM
Name[es]=TWM
Name[et]=TWM
Name[eu]=TWM
Name[fi]=TWM
Name[fr]=TWM
Name[fy]=TWM
Name[ga]=TWM
Name[gl]=TWM
Name[gu]=TWM
Name[he]=TWM
Name[hi]=टीडबल्यूएम
Name[hne]=टीडबल्यूएम
Name[hr]=TWM
Name[hsb]=TWM
Name[hu]=TWM
Name[ia]=TWM
Name[id]=TWM
Name[is]=TWM
Name[it]=TWM
Name[ja]=TWM
Name[ka]=TWM
Name[kk]=TWM
Name[km]=TWM
Name[kn]=TWM
Name[ko]=TWM
Name[ku]=TWM
Name[lt]=TWM
Name[lv]=TWM
Name[mai]=टीडबल्यूएम
Name[mk]=TWM
Name[ml]=ടിഡബ്ല്യൂഎം
Name[mr]=TWM
Name[ms]=TWM
Name[nb]=TWM
Name[nds]=TWM
Name[ne]=TWM
Name[nl]=TWM
Name[nn]=TWM
Name[pa]=TWM
Name[pl]=TWM
Name[pt]=TWM
Name[pt_BR]=TWM
Name[ro]=TWM
Name[ru]=TWM
Name[se]=TWM
Name[si]=TWM
Name[sk]=TWM
Name[sl]=TWM
Name[sr]=ТВМ
Name[sr@ijekavian]=ТВМ
Name[sr@ijekavianlatin]=TWM
Name[sr@latin]=TWM
Name[sv]=TWM
Name[ta]=TWM
Name[te]=టి డబ్ల్యు ఎం
Name[tg]=TWM
Name[th]=TWM
Name[tr]=TWM
Name[ug]=TWM
Name[uk]=TWM
Name[uz]=TWM
Name[uz@cyrillic]=TWM
Name[vi]=TWM
Name[wa]=TWM
Name[x-test]=xxTWMxx
Name[zh_CN]=TWM
Name[zh_TW]=TWM
Comment=The Tab Window Manager
Comment[af]=Die Tab venster bestuurder
Comment[ar]=مدير النوافذ Tab
Comment[ast]=El Tab Window Manager
Comment[be]=Кіраўнік вокнаў з укладкамі Tab Window Manager
Comment[be@latin]=Akońnik „Tab Window Manager”
Comment[bg]=Tab Window Manager
Comment[bn]=দি ট্যাব উইণ্ডো ম্যানেজার
Comment[bs]=Tab menadžer prozora
Comment[ca]=El gestor de finestres Tab
Comment[ca@valencia]=El gestor de finestres Tab
Comment[cs]=The Tab Window Manager
Comment[csb]=Tab Window Manager
Comment[cy]=Y Trefnydd Ffenestri Tab
Comment[da]=Tab-vindueshåndtering
Comment[de]=Der Tab-Fenstermanager
Comment[el]=Ο διαχειριστής παραθύρων Tab
Comment[en_GB]=The Tab Window Manager
Comment[eo]=Taba fenestroadministrilo
Comment[es]=El Tab Window Manager
Comment[et]=Kaartidega aknahaldur
Comment[eu]=Tab Window Manager leiho-kudeatzailea
Comment[fa]=مدیر پنجره تب
Comment[fi]=The Tab Window Manager
Comment[fr]=Le gestionnaire de fenêtres « Tab Window Manager »
Comment[fy]=De Ljepper Finster Behearder
Comment[ga]=The Tab Window Manager
Comment[gl]=O xestor de xanelas Tab
Comment[gu]=ટેબ વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מבוסס לשוניות
Comment[hi]=टैब विंडो प्रबंधक
Comment[hne]=टैब विंडो प्रबंधक
Comment[hr]=Tab upravitelj prozora
Comment[hsb]=Tab Window Manager
Comment[hu]=Tab Window Manager ablakkezelő
Comment[ia]=Le Tab Window Manager
Comment[id]=Manajer Jendela Tab
Comment[is]=Tab gluggastjórinn
Comment[it]=Il gestore di finestre a schede
Comment[ja]=Tab 化ウィンドウマネージャ
Comment[ka]=X11 სისტემის ტრადიციული ფანჯრის მენეჯერი
Comment[kk]=Tab терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ជា​ផ្ទាំង
Comment[kn]=ಟಾಬ್ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=탭 창 관리자
Comment[ku]=Gerînendetiya Paceya Hilpekîn
Comment[lt]=Kortelių langų tvarkyklė
Comment[lv]=Cilņu logu pārvaldnieks
Comment[mai]=टैब विंडो प्रबंधक
Comment[mk]=Tab Window Manager
Comment[ml]=ടാബ് ജാലകപാലകന്‍
Comment[mr]=टैब चौकट प्रबंधक
Comment[ms]=Pengurus Tetingkap Tab
Comment[nb]=Tab Vindusbehandler
Comment[nds]=De Tab-Finsterpleger
Comment[ne]=ट्याब सञ्झ्याल प्रबन्धक
Comment[nl]=De Tab Window Manager
Comment[nn]=Tab Window Manager
Comment[pa]=ਟੈਬ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Tab Window Manager
Comment[pt]=O Tab Window Manager
Comment[pt_BR]=O gerenciador de janelas de abas
Comment[ro]=Tab Window Administrator
Comment[ru]=Традиционный диспетчер окон системы X
Comment[se]=Tab-láse lásegieđahalli
Comment[si]=ටැබ් කවුළු කළමණාකරු
Comment[sk]=Správca okien s kartami
Comment[sl]=Upravljalnik oken Tab
Comment[sr]=„Менаџер прозора језичак“ (The Tab Window Manager)
Comment[sr@ijekavian]=„Менаџер прозора језичак“ (The Tab Window Manager)
Comment[sr@ijekavianlatin]=„Menadžer prozora jezičak“ (The Tab Window Manager)
Comment[sr@latin]=„Menadžer prozora jezičak“ (The Tab Window Manager)
Comment[sv]=Flikfönsterhanteraren
Comment[ta]=டாப் சாளர மேலாளர்
Comment[te]=టాబ్ విండొ అభికర్త
Comment[tg]=Традиционный оконный менеджер системы X11
Comment[th]=ตัวจัดการหน้าต่างแบบใช้แท็บ
Comment[tr]=Tab Pencere Yöneticisi
Comment[ug]=بەتكۈچلۈك كۆزنەك باشقۇرغۇچ
Comment[uk]=Tab Window Manager
Comment[vi]=Trình Quản lý Cửa sổ Thẻ
Comment[wa]=Li Manaedjeu des fniesses avou des linwetes (Tab Window Manager)
Comment[x-test]=xxThe Tab Window Managerxx
Comment[zh_CN]=标签页窗口管理器
Comment[zh_TW]=Tab 視窗管理程式
