[Desktop Entry]
Type=XSession
Exec=ude
TryExec=ude
Name=UDE
Name[af]=UDE
Name[ar]=UDE
Name[ast]=UDE
Name[be]=UDE
Name[be@latin]=UDE
Name[bg]=UDE
Name[bn]=UDE
Name[bn_IN]=UDE
Name[br]=UDE
Name[bs]=UDE
Name[ca]=UDE
Name[ca@valencia]=UDE
Name[cs]=UDE
Name[csb]=UDE
Name[cy]=UDE
Name[da]=UDE
Name[de]=UDE
Name[el]=UDE
Name[en_GB]=UDE
Name[eo]=UDE
Name[es]=UDE
Name[et]=UDE
Name[eu]=UDE
Name[fi]=UDE
Name[fr]=UDE
Name[fy]=UDE
Name[ga]=UDE
Name[gl]=UDE
Name[gu]=UDE
Name[he]=UDE
Name[hi]=यूडीई
Name[hne]=यूडीई
Name[hr]=UDE
Name[hsb]=UDE
Name[hu]=UDE
Name[ia]=UDE
Name[id]=UDE
Name[is]=UDE
Name[it]=UDE
Name[ja]=UDE
Name[ka]=UDE
Name[kk]=UDE
Name[km]=UDE
Name[kn]=UDE
Name[ko]=UDE
Name[ku]=UDE
Name[lt]=UDE
Name[lv]=UDE
Name[mai]=यूडीई
Name[mk]=UDE
Name[ml]=യുഡിഇ
Name[mr]=यूडीई
Name[ms]=UDE
Name[nb]=UDE
Name[nds]=UDE
Name[ne]=UDE
Name[nl]=UDE
Name[nn]=UDE
Name[pa]=UDE
Name[pl]=UDE
Name[pt]=UDE
Name[pt_BR]=UDE
Name[ro]=UDE
Name[ru]=UDE
Name[se]=UDE
Name[si]=UDE
Name[sk]=UDE
Name[sl]=UDE
Name[sr]=УДЕ
Name[sr@ijekavian]=УДЕ
Name[sr@ijekavianlatin]=UDE
Name[sr@latin]=UDE
Name[sv]=UDE
Name[ta]=UDE
Name[te]=యుడిఈ
Name[tg]=UDE
Name[th]=UDE
Name[tr]=UDE
Name[ug]=UDE
Name[uk]=UDE
Name[uz]=UDE
Name[uz@cyrillic]=UDE
Name[vi]=UDE
Name[wa]=UDE
Name[x-test]=xxUDExx
Name[zh_CN]=UDE
Name[zh_TW]=UDE
Comment=The UNIX Desktop Environment
Comment[af]=Die 'Unix Desktop Environment'
Comment[ar]=بيئة سطح المكتب يونكس
Comment[ast]=L'UNIX Desktop Environment
Comment[be]=Працоўнае асяроддзе UNIX
Comment[be@latin]=Rabočy stoł „UNIX Desktop Environment”
Comment[bg]=UNIX Desktop Environment
Comment[bn]=দি ইউনিক্স ডেস্কটপ এনভায়রনমেন্ট
Comment[bn_IN]=UNIX ডেস্কটপ পরিবেশ
Comment[br]=An endro burev UNIX
Comment[bs]=Okruženje radne površi za Unix
Comment[ca]=L'entorn d'escriptori d'Unix
Comment[ca@valencia]=L'entorn d'escriptori de Unix
Comment[cs]=The UNIX Desktop Environment
Comment[csb]=Òkrãżé pùltu Uniksa
Comment[cy]=Yr Amgylchedd Penbwrdd UNIX
Comment[da]=UNIX skrivebordsmiljø
Comment[de]=Das UNIX Desktop Environment
Comment[el]=Το περιβάλλον επιφάνειας εργασίας του UNIX
Comment[en_GB]=The UNIX Desktop Environment
Comment[eo]=La Uniksa Labortablo Ĉirkauaĵo
Comment[es]=El UNIX Desktop Environment
Comment[et]=UNIX-i töölaua keskkond
Comment[eu]=The UNIX Desktop Environment mahaigain ingurunea
Comment[fa]=محیط رومیزی یونیکس
Comment[fi]=UNIX-työpöytäympäristö
Comment[fr]=L'environnement de bureau UNIX
Comment[fy]=De Unix Desktop Environment
Comment[ga]=Timpeallacht Deisce UNIX (UDE)
Comment[gl]=O entorno de escritorio de UNIX
Comment[gu]=ધ UNIX ડેસ્કટોપ એન્વાર્યમેન્ટ
Comment[he]=סביבת העבודה של יוניקס
Comment[hi]=यूनिक्स डेस्कटॉप माहौल
Comment[hne]=यूनिक्स डेस्कटाप माहौल
Comment[hr]=UNIX radno okruženje
Comment[hsb]=UNIX Desktop Environment
Comment[hu]=UNIX Desktop Environment ablakkezelő
Comment[ia]=Le Unix Desktop Environment (Ambiente de scriptorio de UNIX)
Comment[id]=Lingkungan Desktop UNIX
Comment[is]=UNIX skjáborðsumhverfið
Comment[it]=L'ambiente desktop Unix
Comment[ja]=UNIX デスクトップ環境
Comment[ka]=UNIX-ის სამუშაო გარემო
Comment[kk]=UNIX Desktop Environment
Comment[km]=បរិស្ថាន​ផ្ទៃ​តុ​របស់​យូនីក
Comment[kn]=UNIX ಗಣಕಪರಿಸರ
Comment[ko]=UNIX 데스크톱 환경
Comment[ku]=Dorhêla Sermaseya Unix
Comment[lt]=UNIX darbastalio aplinka
Comment[lv]= UNIX Darbvirsmas Vide
Comment[mai]=यूनिक्स डेस्कटाप माहौल
Comment[mk]=UNIX Desktop Environment
Comment[ml]=യുണിക്സ് പണിയിട പരിസരം
Comment[mr]=UNIX डेस्कटॉप वातावरण
Comment[ms]=Persekitaran Desktop UNIX
Comment[nb]=UNIX Desktop Environment
Comment[nds]=De UNIX-Schriefdisch-Ümgeven
Comment[ne]=युनिक्स डेस्कटप परिवेश
Comment[nl]=De Unix Desktop Environment
Comment[nn]=UNIX Desktop Environment
Comment[pa]=UNIX ਡੈਸਕਟਾਪ ਇੰਨਵਾਇਰਮੈਂਟ
Comment[pl]=Środowisko pulpitu Uniksa
Comment[pt]=O Unix Desktop Environment
Comment[pt_BR]=O ambiente de trabalho do UNIX
Comment[ro]=Mediul de birou UNIX
Comment[ru]=UNIX Desktop Environment
Comment[se]=UNIX Desktop Environment
Comment[si]=UNIX වැඩතල පාරිසරිකය
Comment[sk]=The UNIX Desktop Environment
Comment[sl]=Namizno okolje UNIX
Comment[sr]=Окружење радне површи за Уникс
Comment[sr@ijekavian]=Окружење радне површи за Уникс
Comment[sr@ijekavianlatin]=Okruženje radne površi za Unix
Comment[sr@latin]=Okruženje radne površi za Unix
Comment[sv]=Unix-skrivbordsmiljön
Comment[ta]=யுனிக்ஸ் மேல்மேசை சூழல்
Comment[te]=యూనిక్స్ రంగస్థల పర్యావరణం
Comment[tg]=Муҳити Мизи Кории UNIX
Comment[th]=สภาพแวดล้อมเดสก์ทอป UNIX
Comment[tr]=Unix Masaüstü Ortamı
Comment[ug]=UNIX ئۈستەلئۈستى مۇھىتى
Comment[uk]=The UNIX Desktop Environment
Comment[uz]=Unix ish stoli muhiti (Unix Desktop Environment)
Comment[uz@cyrillic]=Unix иш столи муҳити (Unix Desktop Environment)
Comment[vi]=Môi trường Màn hình nền UNIX
Comment[wa]=L' evironmint di scribanne Unix UDE
Comment[x-test]=xxThe UNIX Desktop Environmentxx
Comment[zh_CN]=UNIX 桌面环境
Comment[zh_TW]=Unix 桌面環境
