[Desktop Entry]
Type=XSession
Exec=waimea
TryExec=waimea
Name=Waimea
Name[af]=Waimea
Name[ar]=Waimea
Name[ast]=Waimea
Name[be]=Waimea
Name[be@latin]=Waimea
Name[bg]=Waimea
Name[bn]=Waimea
Name[bn_IN]=Waimea
Name[br]=Waimea
Name[bs]=Vajmeja
Name[ca]=Waimea
Name[ca@valencia]=Waimea
Name[cs]=Waimea
Name[csb]=Waimea
Name[cy]=Waimea
Name[da]=Waimea
Name[de]=Waimea
Name[el]=Waimea
Name[en_GB]=Waimea
Name[eo]=Waimea
Name[es]=Waimea
Name[et]=Waimea
Name[eu]=Waimea
Name[fi]=Waimea
Name[fr]=Waimea
Name[fy]=Waimea
Name[ga]=Waimea
Name[gl]=Waimea
Name[gu]=વાઇમેઇઆ
Name[he]=Waimea
Name[hi]=वाईमिया
Name[hne]=वाईमिया
Name[hr]=Waimea
Name[hsb]=Waimea
Name[hu]=Waimea
Name[ia]=Waimea
Name[id]=Waimea
Name[is]=Waimea
Name[it]=Waimea
Name[ja]=Waimea
Name[ka]=Waimea
Name[kk]=Waimea
Name[km]=Waimea
Name[kn]=ವೈಮಿಯಾ
Name[ko]=Waimea
Name[ku]=Waimea
Name[lt]=Waimea
Name[lv]=Waimea
Name[mai]=वाईमिया
Name[mk]=Waimea
Name[ml]=വൈമിയാ
Name[mr]=वाईमिया
Name[ms]=Waimea
Name[nb]=Waimea
Name[nds]=Waimea
Name[ne]=विमेआ
Name[nl]=Waimea
Name[nn]=Waimea
Name[pa]=ਵਾਈਮਿਆ
Name[pl]=Waimea
Name[pt]=Waimea
Name[pt_BR]=Waimea
Name[ro]=Waimea
Name[ru]=Waimea
Name[se]=Waimea
Name[si]=Waimea
Name[sk]=Waimea
Name[sl]=Waimea
Name[sr]=Вајмеја
Name[sr@ijekavian]=Вајмеја
Name[sr@ijekavianlatin]=Waimea
Name[sr@latin]=Waimea
Name[sv]=Waimea
Name[ta]=Waimea
Name[te]=వైమెయా
Name[tg]=Waimea
Name[th]=Waimea
Name[tr]=Waimea
Name[ug]=Waimea
Name[uk]=Waimea
Name[uz]=Waimea
Name[uz@cyrillic]=Waimea
Name[vi]=Waimea
Name[wa]=Waimea
Name[x-test]=xxWaimeaxx
Name[zh_CN]=Waimea
Name[zh_TW]=Waimea
Comment=A highly customizable window manager based on Blackbox
Comment[af]='n Hoë opstelbare venster bestuurder wat op Blackbox gebaseer is
Comment[ar]=مدير نوافذ كامل التحكم مبني على قاعدة الصندوق الاسود
Comment[ast]=Un xestor de ventanes mui personalizable basáu en Blackbox
Comment[be]=Кіраўнік вокнаў, заснаваны на Blackbox, з магчымасцю настаўлення
Comment[be@latin]=Akońnik, jaki abapirajecca na bazu „Blackbox”, ź vialikaj kolkaściu naładaŭ
Comment[bg]=Мениджър на прозорци, базиран на Blackbox, с много възможности за настройки
Comment[bn]=ব্ল্যাকবক্স ভিত্তিক উইণ্ডো ম্যানেজার
Comment[bs]=Vrlo prilagodljiv menadžer prozora zasnovan na Blekboksu
Comment[ca]=Un gestor de finestres altament configurable basat en Blackbox
Comment[ca@valencia]=Un gestor de finestres altament configurable basat en Blackbox
Comment[cs]=Vysoce přizpůsobitelný správce oken založený na Blackboxu
Comment[csb]=Menadżera òknów òpiartëch na Blackbox z wiôldżima mòżnotama dopasowaniô
Comment[cy]=Trefnydd ffenestri sy'n hawdd ei ffurfweddu, wedi'i seilio ar Ddu-flwch
Comment[da]=En meget indstillelig vindueshåndtering baseret på Blackbox
Comment[de]=Vielfältig anpassbarer Fenstermanager, der auf Blackbox basiert
Comment[el]=Ένας ιδιαίτερα παραμετροποιήσιμος διαχειριστής παραθύρων βασισμένος στον Blackbox
Comment[en_GB]=A highly customisable window manager based on Blackbox
Comment[eo]=Tre agordebla fenestroadministrilo, devenigita de Negrujo
Comment[es]=Un gestor de ventanas muy personalizable basado en Blackbox
Comment[et]=Väga hästi kohandatav aknahaldur, aluseks Blackbox
Comment[eu]=Blackbox-en oinarritutako leiho-kudeatzaile zeharo pertsonalizagarria
Comment[fa]=یک مدیر پنجره با قابلیت سفارشی‌سازی بالا بر اساس Blackbox
Comment[fi]=Blackboxiin perustuva paljon muokattavissa oleva ikkunointiohjelma
Comment[fr]=Un gestionnaire très configurable de fenêtres reposant sur « Blackbox »
Comment[fy]=In tige ynstelbere finstersmanager, basearre op Blackbox
Comment[ga]=Bainisteoir fuinneog in-saincheaptha, bunaithe ar Blackbox
Comment[gl]=Un xestor de xanelas moi personalizábel baseado en Blackbox
Comment[gu]=બ્લેકબોક્સ પર આધારિત ઉચ્ચ ગોઠવણી કરી શકાય તેવું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות מבוסס על Blackbox המאפשר התאמה אישית רבה
Comment[hi]=ब्लेक-बाक्स आधारित, अत्यंत परिवर्तनीय विंडो प्रबंधक
Comment[hne]=ब्लेक-बाक्स आधारित, बहुत परिवर्तनीय विंडो प्रबंधक
Comment[hr]=Vrlo prilagodljiv upravitelj prozora zasnovan na Blackboxu
Comment[hsb]=Jara konfigurujomny woknowy rjadowar,  bazowacy na Blackbox
Comment[hu]=Egy sokféle beállítási lehetőséggel rendelkező ablakkezelő a Blackbox alapján
Comment[ia]=Un gerente de fenestra altemente adaptabile basate sur Blackbox
Comment[id]=Sebuah manajer jendela yang sangat mudah diatur yang berbasis Blackbox
Comment[is]=Afar stillanlegur gluggastjóri byggður á Blackbox
Comment[it]=Un gestore di finestre molto personalizzabile basato su BlackBox
Comment[ja]=Blackbox ベースの高度なカスタマイズが可能なウィンドウマネージャ
Comment[ka]=კონფიგურირებადი ფანჯრის მენეჯერი Blackbox-ს ბაზაზე
Comment[kk]=Blackbox-негіздеген, баптау жағынан бай, терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ដែល​អាច​ប្ដូរ​តាម​បំណង​កម្រិត​ខ្ពស់ ដែល​មាន​មូលដ្ឋាន​លើ​ប្រអប់​​ខ្មៅ​
Comment[kn]=ಬ್ಲಾಕ್ ಬಾಕ್ಸ್ ಆಧಾರಿತ ಬಹು ಗ್ರಾಹಕೀಯವಾದ (ಕಸ್ಟಮೈಸಬಲ್) ಒಂದು ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=Blackbox 기반의 사용자 정의가 가능한 관리자
Comment[lt]=Daug konfigūravimo parinkčių turinti langų tvarkyklė, paremta Blackbox
Comment[lv]=Plaši konfigurējams logu pārvaldnieks bāzēts uz Blackbox
Comment[mai]=ब्लेक-बाक्स आधारित, बहुत बेसी बदलैबला विंडो प्रबंधक
Comment[mk]=Менаџер на прозорци базиран на Blackbox со голем број опции
Comment[ml]=ബ്ലാക്ക്ബോക്സ് അടിസ്ഥാനമാക്കിയുള്ള നന്നായി സജ്ജീകരിയ്ക്കാവുന്ന ജാലകപാലകന്‍
Comment[mr]=ब्लॅकबॉक्स आधारित, अत्यंत परिवर्तनीय चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap boleh suai berdasarkan Kotak Hitam
Comment[nb]=En vindusbehandler med mange tilpasninger, basert på Blackbox
Comment[nds]=En Finsterpleger mit mennige Instellen, opbuut op Blackbox
Comment[ne]=कालो बाकसमा आधारित उच्च अनुकूल योग्य एक सञ्झ्याल प्रबन्धक
Comment[nl]=Een zeer instelbare windowmanager, gebaseerd op Blackbox
Comment[nn]=Ein vindaugssjef med mange tilpassingar, basert på Blackbox
Comment[pa]=ਬਲੈਕਬਕਸੇ 'ਤੇ ਆਧਾਰਿਤ ਅਤਿ ਸੰਰਚਨਾਯੋਗ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Menadżer okien oparty na Blackbox z dużymi możliwościami dostosowania
Comment[pt]=Um gestor de janelas altamente configurável, baseado no Blackbox
Comment[pt_BR]=Um gerenciador de janelas altamente personalizável, baseado no Blackbox
Comment[ro]=Un administrator de ferestre foarte configurabil bazat pe Blackbox
Comment[ru]=Настраиваемый диспетчер окон, основанный на Blackbox
Comment[se]=Hui rievdadahtti, Blackbox-vuođđuduvvon lásegieđahalli
Comment[si]=Blackbox මත පාදක වූ බොහෝ සැකසුම් කල හැකි කවුළු කළමණාකරුවෙක්
Comment[sk]=Vysoko prispôsobiteľný správca okien založený na Blackbox
Comment[sl]=Visoko nastavljiv upravljalnik oken na osnovi Blackboxa
Comment[sr]=Врло прилагодљив менаџер прозора заснован на Блекбоксу
Comment[sr@ijekavian]=Врло прилагодљив менаџер прозора заснован на Блекбоксу
Comment[sr@ijekavianlatin]=Vrlo prilagodljiv menadžer prozora zasnovan na Blackboxu
Comment[sr@latin]=Vrlo prilagodljiv menadžer prozora zasnovan na Blackboxu
Comment[sv]=Ytterst anpassningsbar fönsterhanterare baserad på Blackbox
Comment[ta]=தனதாக்க வல்ல கருப்புப்பெட்டி சார்ந்த சாளர மேலாளர்
Comment[te]=బాగా మలుచుకోగల బ్లాక్‌బ్లాక్‍స్  ఆధార విండో నిర్వాహిక
Comment[tg]=Настраиваемый оконный менеджер, основанный на Blackbox
Comment[th]=ระบบจัดการหน้าต่างที่ปรับแต่งได้อย่างละเอียด สร้างมาจาก Blackbox
Comment[tr]=Blackbox temelli, kolayca özelleştirilebilir bir pencere yöneticisi
Comment[ug]=Blackbox ئاساسىدىكى ئالىي دەرىجىدە ئۆزلەشتۈرۈشچان كۆزنەك باشقۇرغۇچ
Comment[uk]=Надгнучке керування вікнами, засноване на Blackbox
Comment[uz]=Blackbox asosida yaratilgan, moslab boʻladigan oyna boshqaruvchi
Comment[uz@cyrillic]=Blackbox асосида яратилган, мослаб бўладиган ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ rất dễ cá nhân hoá dựa trên Blackbox
Comment[wa]=On manaedjeu des fniesses a mete da vosse båzé so Blackbox
Comment[x-test]=xxA highly customizable window manager based on Blackboxxx
Comment[zh_CN]=基于 BlackBox，可高度自定义的窗口管理器
Comment[zh_TW]=一個基於 Blackbox 且高度可客製化的視窗管理程式
