[Desktop Entry]
Type=XSession
Exec=wm2
TryExec=wm2
Name=WM2
Name[af]=WM2
Name[ar]=WM2
Name[ast]=WM2
Name[be]=WM2
Name[be@latin]=WM2
Name[bg]=WM2
Name[bn]=WM2
Name[bn_IN]=WM2
Name[br]=WM2
Name[bs]=VM2
Name[ca]=WM2
Name[ca@valencia]=WM2
Name[cs]=WM2
Name[csb]=WM2
Name[cy]=WM2
Name[da]=WM2
Name[de]=WM2
Name[el]=WM2
Name[en_GB]=WM2
Name[eo]=WM2
Name[es]=WM2
Name[et]=WM2
Name[eu]=WM2
Name[fi]=WM2
Name[fr]=WM2
Name[fy]=WM2
Name[ga]=WM2
Name[gl]=WM2
Name[gu]=WM2
Name[he]=WM2
Name[hi]=डबल्यूएम2
Name[hne]=डबल्यूएम2
Name[hr]=WM2
Name[hsb]=WM2
Name[hu]=WM2
Name[ia]=WM2
Name[id]=WM2
Name[is]=WM2
Name[it]=WM2
Name[ja]=WM2
Name[ka]=WM2
Name[kk]=WM2
Name[km]=WM2
Name[kn]=WM2
Name[ko]=WM2
Name[ku]=WM2
Name[lt]=WM2
Name[lv]=WM2
Name[mai]=डबल्यूएम2
Name[mk]=WM2
Name[ml]=ഡബ്ല്യൂഎം2
Name[mr]=WM2
Name[ms]=WM2
Name[nb]=WM2
Name[nds]=WM2
Name[ne]=WM2
Name[nl]=WM2
Name[nn]=WM2
Name[oc]=WM2
Name[pa]=WM2
Name[pl]=WM2
Name[pt]=WM2
Name[pt_BR]=WM2
Name[ro]=WM2
Name[ru]=WM2
Name[se]=WM2
Name[si]=WM2
Name[sk]=WM2
Name[sl]=WM2
Name[sr]=ВМ2
Name[sr@ijekavian]=ВМ2
Name[sr@ijekavianlatin]=WM2
Name[sr@latin]=WM2
Name[sv]=WM2
Name[ta]=WM2
Name[te]=డబ్ల్యు ఎం 2
Name[tg]=WM2
Name[th]=WM2
Name[tr]=WM2
Name[ug]=WM2
Name[uk]=WM2
Name[uz]=WM2
Name[uz@cyrillic]=WM2
Name[vi]=WM2
Name[wa]=WM2
Name[x-test]=xxWM2xx
Name[zh_CN]=WM2
Name[zh_TW]=WM2
Comment=A small, non-configurable window manager
Comment[af]='n Klein, nie opstelbare venster bestuurder
Comment[ar]=مدير نوافذ صغيرغير قابل للتخصيص
Comment[ast]=Un xestor de ventanes pequeñu y non configurable
Comment[be]=Маленькі кіраўнік вокнаў, без магчымасці настаўленняў
Comment[be@latin]=Maleńki akońnik, jaki niemahčyma naładzić
Comment[bg]=Малък мениджър на прозорци без настройки
Comment[bn]=একটি ছোটো উইণ্ডো ম্যানেজার
Comment[bs]=Mali, nepodesivi menadžer prozora
Comment[ca]=Un gestor de finestres petit i no configurable
Comment[ca@valencia]=Un gestor de finestres petit i no configurable
Comment[cs]=Malý nepřizpůsobitelný správce oken
Comment[csb]=Môłi menadżera òknów bez mòżnotë kònfigùracëji
Comment[cy]=Trefnydd ffenestri bach na ellir ffurfweddu
Comment[da]=En lille, ikke-indstillelig vindueshåndtering
Comment[de]=Kleiner, nicht einstellbarer Fenstermanager
Comment[el]=Ένας μικρός, μη παραμετροποιήσιμος διαχειριστής παραθύρων
Comment[en_GB]=A small, non-configurable window manager
Comment[eo]=Malgranda, ne agordebla fenestroadministrilo
Comment[es]=Un gestor de ventanas pequeño y no configurable
Comment[et]=Väike ja seadistamatu aknahaldur
Comment[eu]=Konfiguratu ezin den leiho-kudeatzaile txikia
Comment[fa]=یک مدیر پنجره کوچک و غیرقابل پیکربندی
Comment[fi]=Pieni ikkunointiohjelma, jossa ei ole asetuksia
Comment[fr]=Un petit gestionnaire de fenêtres non configurable
Comment[fy]=In lytse, net-ynstelbere finstersmanager
Comment[ga]=Bainisteoir beag fuinneog nach féidir a chumrú
Comment[gl]=Un xestor de xanelas pequeno non configurábel
Comment[gu]=નાનું, રૂપરેખાંકિત ન કરી શકાય તેવું વિન્ડો વ્યવસ્થાપક
Comment[he]=מנהל חלונות קטן ולא ניתן להגדרה
Comment[hi]=एक छोटा विंडो प्रबंधक जो कॉन्फ़िगर नहीं हो सकता
Comment[hne]=एक छोटा विंडो प्रबंधक जऊन कान्फिगर नइ हो सके
Comment[hr]=Malen, nepodesiv upravitelj prozora
Comment[hsb]=Mały, njekonfigurujomny woknowy rjadowar
Comment[hu]=Egy nagyon egyszerű ablakkezelő, beállítási lehetőségek nélkül
Comment[ia]=Un parve non configurable gerente de fenestra
Comment[id]=Sebuah manajer jendela kecil, namun tak dapat diatur
Comment[is]=Lítill, einfaldur gluggastjóri sem er ekki hægt að stilla
Comment[it]=Un gestore di finestre piccolo ma non configurabile
Comment[ja]=小さくて設定項目のないウィンドウマネージャ
Comment[ka]=პატარა და არაკონფიგურირებადი ფანჯრის მენეჯერი
Comment[kk]=Шағын, баптауы жоқ, терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​តូច ហើយ​មិន​អាច​កំណត់​រចនាសម្ព័ន្ធ​
Comment[kn]=ಒಂದು ಸಣ್ಣದಾದ, ಅಸಂರಚನೀಯವಾದ ಕಿಟಕಿ ವ್ಯವಸ್ತಾಪಕ
Comment[ko]=설정할 수 없는 작은 창 관리자
Comment[lt]=Maža, nekonfigūruojama langų tvarkyklė
Comment[lv]=Mazs, nekonfigurējams logu pārvaldnieks
Comment[mai]=एकटा छोट विंडो प्रबंधक जे बिन्यस्त नहि भए सकैत अछि
Comment[mk]=Мал и неконфигурабилен менаџер на прозорци
Comment[ml]=ചെറിയ സജ്ജീകരിയ്ക്കാനാകാത്ത ജാലകപാലകന്‍
Comment[mr]=एक छोटे चौकट प्रबंधक जे संयोजनाजोगे नाही
Comment[ms]=Pengurus tetingkap yang kecil dan tidak boleh konfigur
Comment[nb]=En liten vindusbehandler uten tilpasninger
Comment[nds]=En lütte Finsterpleger ahn Instellen
Comment[ne]=सानो, कन्फिगर गर्न नसकिने सञ्झ्याल प्रबन्धक
Comment[nl]=Een kleine, niet-instelbare windowmanager
Comment[nn]=Ein liten vindaugssjef utan tilpassingar
Comment[pa]=ਇੱਕ ਹਲਕਾ ਗ਼ੈਰ-ਸੰਰਚਨਾਯੋਗ ਵਿੰਡੋ ਮੈਨੇਜਰ
Comment[pl]=Mały menadżer okien nie podlegający konfiguracji
Comment[pt]=Um gestor de janelas pequeno e não-configurável
Comment[pt_BR]=Um pequeno e não-configurável gerenciador de janelas
Comment[ro]=Un administrator de ferestre mic, neconfigurabil
Comment[ru]=Маленький, не настраиваемый диспетчер окон
Comment[se]=Unna, ii heivehahtti lásegieđahalli
Comment[si]=කුඩා, සැකසිය නොහැකි කවුළු කළමණාකරුවෙක්
Comment[sk]=Malý, nenastaviteľný správca okien
Comment[sl]=Majhen upravljalnik oken, ki ni nastavljiv
Comment[sr]=Мали, неподесиви менаџер прозора
Comment[sr@ijekavian]=Мали, неподесиви менаџер прозора
Comment[sr@ijekavianlatin]=Mali, nepodesivi menadžer prozora
Comment[sr@latin]=Mali, nepodesivi menadžer prozora
Comment[sv]=Liten fönsterhanterare utan anpassningsmöjligheter
Comment[ta]=சிறிய, வடிவமைக்க முடியாத சாளர மேலாளர்
Comment[te]=చిన్నని, ఆకృతీకరించ-లేని విండో నిర్వాహిక
Comment[tg]=Маленький, не настраиваемый оконный менеджер
Comment[th]=ระบบจัดการหน้าที่ขนาดเล็ก ที่ไม่สามารถปรับแต่งอะไรได้
Comment[tr]=Küçük ve yapılandırılamayan bir pencere yöneticisi
Comment[ug]=كىچىك سەپلىگىلى بولمايدىغان كۆزنەك باشقۇرغۇچ
Comment[uk]=Невеличке керування вікнами без можливості налаштування
Comment[uz]=Kichik, moslab boʻlmaydigan oyna boshqaruvchi
Comment[uz@cyrillic]=Кичик, мослаб бўлмайдиган ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ nhỏ, không cấu hình được
Comment[wa]=On ptit, nén apontiåve, manaedjeu des fniesses
Comment[x-test]=xxA small, non-configurable window managerxx
Comment[zh_CN]=小巧的不可配置的窗口管理器
Comment[zh_TW]=一個小型且不可組態的視窗管理者
