[Desktop Entry]
Type=XSession
Exec=wmaker
TryExec=wmaker
Name=WindowMaker
Name[af]=WindowMaker
Name[ar]=WindowMaker
Name[ast]=WindowMaker
Name[be]=WindowMaker
Name[be@latin]=WindowMaker
Name[bg]=WindowMaker
Name[bn]=উইণ্ডো-মেকার
Name[bn_IN]=WindowMaker
Name[br]=WindowMaker
Name[bs]=Vindoumejker
Name[ca]=WindowMaker
Name[ca@valencia]=WindowMaker
Name[cs]=WindowMaker
Name[csb]=WindowMaker
Name[cy]=GwneuthuryddFfenestri (WindowMaker)
Name[da]=WindowMaker
Name[de]=WindowMaker
Name[el]=WindowMaker
Name[en_GB]=WindowMaker
Name[eo]=WindowMaker
Name[es]=WindowMaker
Name[et]=WindowMaker
Name[eu]=WindowMaker
Name[fi]=WindowMaker
Name[fr]=WindowMaker
Name[fy]=WindowMaker
Name[ga]=WindowMaker
Name[gl]=WindowMaker
Name[gu]=વિન્ડોમેકર
Name[he]=WindowMaker
Name[hi]=विंडोमेकर
Name[hne]=विंडोमेकर
Name[hr]=WindowMaker
Name[hsb]=WindowMaker
Name[hu]=WindowMaker
Name[ia]=WindowMaker
Name[id]=WindowMaker
Name[is]=WindowMaker
Name[it]=WindowMaker
Name[ja]=WindowMaker
Name[ka]=WindowMaker
Name[kk]=WindowMaker
Name[km]=WindowMaker
Name[kn]=ವಿಂಡೋಮೇಕರ್
Name[ko]=WindowMaker
Name[ku]=WindowMaker
Name[lt]=WindowMaker
Name[lv]=WindowMaker
Name[mai]=विंडोमेकर
Name[mk]=WindowMaker
Name[ml]=വിന്‍ഡോമേക്കര്‍
Name[mr]=चौकट निर्माता
Name[ms]=WindowMaker
Name[nb]=WindowMaker
Name[nds]=WindowMaker
Name[ne]=सञ्झ्याल निर्माता
Name[nl]=WindowMaker
Name[nn]=WindowMaker
Name[pa]=ਵਿੰਡੋ-ਮੇਕਰ
Name[pl]=WindowMaker
Name[pt]=WindowMaker
Name[pt_BR]=WindowMaker
Name[ro]=WindowMaker
Name[ru]=WindowMaker
Name[se]=WindowMaker
Name[si]=කවුළු සැකසීම
Name[sk]=WindowMaker
Name[sl]=WindowMaker
Name[sr]=Виндоумејкер
Name[sr@ijekavian]=Виндоумејкер
Name[sr@ijekavianlatin]=WindowMaker
Name[sr@latin]=WindowMaker
Name[sv]=Windowmaker
Name[ta]=விண்டோஸ்மேக்கர்
Name[te]=విండొమెకర్
Name[tg]=WindowMaker
Name[th]=WindowMaker
Name[tr]=WindowMaker
Name[ug]=WindowMaker
Name[uk]=WindowMaker
Name[uz]=WindowMaker
Name[uz@cyrillic]=WindowMaker
Name[vi]=WindowMaker
Name[wa]=WindowMaker
Name[x-test]=xxWindowMakerxx
Name[zh_CN]=WindowMaker
Name[zh_TW]=WindowMaker
Comment=A simple window manager that resembles the NeXTStep look very closely
Comment[af]='n Eenvoudige venster bestuurder wat soos NeXTStep lyk
Comment[ar]=مدير نوافذ بسيط يشبه NeXTStep 
Comment[ast]=Un xestor de ventanes cenciellu con un aspeutu mui paecíu al de NeXTStep
Comment[be]=Просты кіраўнік вокнаў, які вельмі дакладна паўтарае вонкавы выгляд NeXTStep
Comment[be@latin]=Prosty akońnik, jaki imkniecca vyhladać, jak systema „NeXTStep”
Comment[bg]=Опростен мениджър на прозорци, силно наподобяващ изгледа на NeXTStep
Comment[bn]=একটি উইণ্ডো ম্যানেজার যা ভীষণরকম NeXTStep-এর মত দেখতে
Comment[bs]=Jednostavan menadžer prozora koji vrlo dobro podražava izgled Nekststepa
Comment[ca]=Un gestor de finestres senzill que s'assembla molt a l'aspecte de NeXTStep
Comment[ca@valencia]=Un gestor de finestres senzill que s'assembla molt a l'aspecte de NeXTStep
Comment[cs]=Jednoduchý správce oken, který se velmi podobá NeXTStep
Comment[csb]=Prosti menadżera òknów szlachùjący za NeXTStep
Comment[cy]=Trefnydd ffenestri syml sy'n debyg iawn i'r golwg CamNesaf
Comment[da]=En simpel vindueshåndtering der ligner NeXTStep's udseende meget
Comment[de]=Einfacher Fenstermanager mit starker Ähnlichkeit zu NeXTStep
Comment[el]=Ένας απλός διαχειριστής παραθύρων που προσομοιώνει πολύ καλά το στιλ του NeXTStep
Comment[en_GB]=A simple window manager that resembles the NeXTStep look very closely
Comment[eo]=Simpla fenestroadministrilo
Comment[es]=Un gestor de ventanas sencillo cuyo aspecto se parece mucho al de NeXTStep
Comment[et]=Lihtne aknahaldur, mis meenutab väga tugevasti NeXTStepi
Comment[eu]=NeXTStep-en antz handia duen leiho-kudeatzaile sinplea
Comment[fa]=یک مدیر پنجره ساده که خیلی شبیه گام بعدی است
Comment[fi]=Yksinkertainen ikkunointiohjelma, joka muistuttaa erittäin paljon NeXTStepiltä
Comment[fr]=Un gestionnaire simple de fenêtres ressemblant beaucoup à NeXTStep
Comment[fy]=In ienfâldige finstersmanager dy it úterlik fan  NeXTStep saer tichtby benaderd
Comment[ga]=Bainisteoir simplí fuinneog atá an-chosúil le NeXTStep
Comment[gl]=Un xestor de xanelas sinxelo que se achega moito á aparencia de NeXTStep
Comment[gu]=સરળ વિન્ડો વ્યવસ્થાપક જે NeXTStep દેખાવની એકદમ નજીક છે
Comment[he]=מנהל חלונות פשוט הדומה מאוד במראה שלו ל־NeXTStep
Comment[hi]=नेक्स्ट-स्टेप की तरह दिखने वाला सादा विंडो प्रबंधक
Comment[hne]=नेक्स्ट-स्टेप जइसन दिखे वाले सादा विंडो प्रबंधक
Comment[hr]=Jednostavan upravitelj prozora koji odražava vrlo blisko izgled NeXTStepa
Comment[hsb]=Jednory woknowy rjadowar, kiž wupada kaž NeXTStep
Comment[hu]=Egy egyszerű ablakkezelő, megjelenése nagyon hasonlít a NeXTStephez
Comment[ia]=Un simple gerente de fenestra multe semblante NeXTStep
Comment[id]=Sebuah manajer jendela yang tampilannya sangat mirip dengan NeXTStep
Comment[is]=Einfaldur gluggastjóri sem líkir vel eftir NeXTStep umhverfinu
Comment[it]=Un gestore di finestre semplice che assomiglia molto a NeXTStep
Comment[ja]=NextStep にとてもよく似たシンプルなウィンドウマネージャ
Comment[ka]=NeXTStep -ის მაგვარი მარტივი ფანჯრის მენეჯერი
Comment[kk]=Қарапайым, NeXTStep-ке үқсас терезе менеджері
Comment[km]=កម្មវិធី​គ្រប់គ្រង​បង្អួច​ធម្មតា​មួយ ដែល​ប្រហាក់​ប្រហែល​នឹង​រូបរាង NeXTStep បំផុត
Comment[kn]=NeXTStep ಬಹಳವಾಗಿ ಹೋಲುವ ಒಂದು ಸರಳ ಕಿಟಕಿ ವ್ಯವಸ್ಥಾಪಕ
Comment[ko]=NeXTStep과 상당히 비슷하고 간단한 창 관리자
Comment[lt]=Paprasta langų tvarkyklė, išvaizda labai primenanti NeXTStep
Comment[lv]=Vienkāršs logu pārvaldnieks, kas ir ļoti līdzīgs NeXTStep
Comment[mai]=नेक्स्ट-स्टेपक तरह दिखै बला सादा विंडो प्रबंधक
Comment[mk]=Едноставен менаџер на прозорци кој е многу сличен на изгледот на NeXTStep
Comment[ml]=നെക്സ്റ്റ്സ്റ്റെപ്പ് പോലെ തോന്നിയ്ക്കുന്ന ഒരു ലളിതമായ ജാലകപാലകന്‍
Comment[mr]=नेक्स्टस्टेप नुरूप दिसणारा साधा चौकट प्रबंधक
Comment[ms]=Pengurus tetingkap ringkas yang memasang NeXTStep dan menjadikannya tampak sangat hampir
Comment[nb]=En enkel vindusbehandler som ligner mye på NeXTStep
Comment[nds]=En eenfache Finsterpleger, de meist utsüht as NeXTStep
Comment[ne]=NeXTStep जस्तो देखिने साधारण सञ्झ्याल प्रबन्धक
Comment[nl]=Een eenvoudige windowmanager die het uiterlijk van NeXTStep zeer dicht benaderd
Comment[nn]=Ein enkel vindaugssjef som liknar mykje på NeXTStep
Comment[pa]=ਇੱਕ ਸਧਾਰਨ ਵਿੰਡੋ ਮੈਨੇਜਰ, ਜੋ ਕਿ NeXTStep ਵਰਗਾ ਜਾਪਦਾ ਹੈ
Comment[pl]=Prosty menadżer okien przypominający bardzo wyglądem NeXTStep
Comment[pt]=Um gestor de janelas simples que faz lembrar bastante o visual do NeXTStep
Comment[pt_BR]=Um gerenciador de janelas simples, que lembra a aparência do NeXTStep
Comment[ro]=Un administrator de ferestre simplu, care amintește foarte bine de aspectul NeXTStep 
Comment[ru]=Простой диспетчер окон, воспроизводящий интерфейс NeXTStep
Comment[se]=Oktageardánis lásegieđahalli mii sulástahttá NeXTStep hui ollu
Comment[si]=වඩා NeXTStep ලෙස පෙනෙන පරිදි සැකසිය හැකි සරල කවුළු කළමණාකරුවෙක්.
Comment[sk]=Jednoduchý správca okien, ktorý veľmi pripomína NeXTStep
Comment[sl]=Preprost upravljalnik oken, ki zelo spominja na izgled NeXTStep
Comment[sr]=Једноставан менаџер прозора који врло добро подражава изглед Некстстепа
Comment[sr@ijekavian]=Једноставан менаџер прозора који врло добро подражава изглед Некстстепа
Comment[sr@ijekavianlatin]=Jednostavan menadžer prozora koji vrlo dobro podražava izgled NeXTStepa
Comment[sr@latin]=Jednostavan menadžer prozora koji vrlo dobro podražava izgled NeXTStepa
Comment[sv]=Enkel fönsterhanterare som mycket nära efterliknar Nextstep-utseendet
Comment[ta]=NeXTStep ஐ ஒத்த எளிய சாளர மேலாளார்.
Comment[te]=NeXTStep రూపును చాలా దగ్గరగా తుల్యంచేయు సాదారణ విండో నిర్వాహకి
Comment[tg]=Простой оконный менеджер, воспроизводящий интерфейс NeXTStep
Comment[th]=ระบบจัดการหน้าต่างแบบเรียบง่าย ที่ดูคล้ายระบบ NeXTStep มาก
Comment[tr]=NeXTStep'e aşırı benzeyen basit bir masaüstü yöneticisi
Comment[ug]=NeXTStep كۆرۈنۈشىگە ئوخشايدىغان ئاددىي كۆزنەك باشقۇرغۇچ
Comment[uk]=Просте керування вікнами, яке дуже нагадує NeXTStep
Comment[uz]=NeXTStep'ga juda oʻxshash oddiy oyna boshqaruvchi
Comment[uz@cyrillic]=NeXTStep'га жуда ўхшаш оддий ойна бошқарувчи
Comment[vi]=Trình quản lý cửa sổ đơn giản rất giống với NeXTStep
Comment[wa]=On simpe manaedjeu des fniesses avou ttafwaitmint l' rivnance di NeXTStep
Comment[x-test]=xxA simple window manager that resembles the NeXTStep look very closelyxx
Comment[zh_CN]=非常接近 NeXTStep 外观的简单窗口管理器
Comment[zh_TW]=一個小型且與 NeXTStep 外觀很接近的視窗管理程式
