[Desktop Entry]
Type=XSession
Exec=startxfce4
TryExec=startxfce4
DesktopNames=XFCE
Name=Xfce 4
Name[ar]=XFce 4
Name[bg]=Xfce 4
Name[bn]=Xfce 4
Name[bs]=Xfce 4
Name[ca]=Xfce 4
Name[ca@valencia]=Xfce 4
Name[cs]=Xfce 4
Name[da]=Xfce 4
Name[de]=Xfce 4
Name[el]=Xfce 4
Name[en_GB]=Xfce 4
Name[es]=Xfce 4
Name[et]=Xfce 4
Name[eu]=Xfce 4
Name[fi]=Xfce 4
Name[fr]=Xfce 4
Name[ga]=Xfce 4
Name[gl]=Xfce 4
Name[he]=Xfce 4
Name[hr]=Xfce 4
Name[hu]=Xfce 4
Name[ia]=Xfce 4
Name[is]=Xfce 4
Name[it]=Xfce 4
Name[ja]=Xfce 4
Name[kk]=Xfce 4
Name[km]=Xfce 4
Name[ko]=Xfce 4
Name[lt]=Xfce 4
Name[lv]=Xfce 4
Name[mr]=एक्स एफ सी इ 4
Name[nb]=XFce 4
Name[nds]=Xfce 4
Name[nl]=Xfce 4
Name[pa]=Xfce 4
Name[pl]=Xfce 4
Name[pt]=Xfce 4
Name[pt_BR]=Xfce 4
Name[ro]=Xfce 4
Name[ru]=Xfce 4
Name[sk]=Xfce 4
Name[sl]=Xfce 4
Name[sr]=Иксефце 4
Name[sr@ijekavian]=Иксефце 4
Name[sr@ijekavianlatin]=XFce 4
Name[sr@latin]=XFce 4
Name[sv]=Xfce 4
Name[tr]=Xfce 4
Name[ug]=Xfce 4
Name[uk]=Xfce 4
Name[wa]=Xfce 4
Name[x-test]=xxXfce 4xx
Name[zh_CN]=Xfce 4
Name[zh_TW]=Xfce 4
Comment=The Cholesterol Free Desktop Environment, version 4. A desktop environment reminiscent of CDE
Comment[af]=Die Cholesterol Gratis Werkskerm Omgewing, weergawe 4. 'n Werkskerm omgewing wat op CDE gebaseer is
Comment[ar]=بيئة سطح المكتب الخالية من الكولسترول الإصدار 4. بيئة سطح مكتب مشابهة لـCDE
Comment[ast]=El Cholesterol Free Desktop Environment, versión 4. Un entornu d'escritoriu que remembra a CDE
Comment[be]=XFCE4 - Cholesterol Free Desktop Environment, version 4. Працоўнае асяроддзе, падобнае на CDE
Comment[be@latin]=„Cholesterol Free Desktop Environment 4”: rabočy stoł, jaki nahadvaje asiarodździe „CDE”
Comment[bg]=Cholesterol Free Desktop Environment, версия 4. Графична среда, напомняща CDE
Comment[bn]=দি কলেস্টরল ফ্রী ডেস্কটপ এনভায়রনমেন্ট, ৪র্থ সংস্করণ। CDE-র কথা মনে করিয়ে দেয় এমন একটি ডেস্কটপ এনভায়রনমেন্ট
Comment[bs]=„Okruženje radne površi bez holesterola“ u verziji 4, podsjeća na CDE
Comment[ca]=L'entorn d'escriptori sense colesterol, versió 4. Un entorn d'escriptori que recorda a CDE
Comment[ca@valencia]=L'entorn d'escriptori sense colesterol, versió 4. Un entorn d'escriptori que recorda a CDE
Comment[cs]=Svobodné grafické prostředí neobsahující cholesterol verze 4. Prostředí připomínající CDE
Comment[csb]=Cholesterol Free Desktop Environment, wersëjô 4 - graficzné òkrãże szlachùjące za CDE
Comment[cy]=Yr Amgylchedd Penbwrdd Di-Golesterol, fersiwn 4.  Amgylchedd penbwrdd sy'n atgoffaol o CDE
Comment[da]=Det kolesterolfrie skrivebordsmiljø, version 4. Et skrivebordsmiljø der minder om CDE
Comment[de]=Cholesterol Free Desktop Environment, Version 4. Benutzerumgebung in der Art von CDE
Comment[el]=Το Cholesterol Free Desktop Environment, έκδοση 4. Ένα περιβάλλον επιφάνειας εργασίας βασισμένο στο CDE
Comment[en_GB]=The Cholesterol Free Desktop Environment, version 4. A desktop environment reminiscent of CDE
Comment[eo]=La libera labortablo ĉirkaŭajo 4
Comment[es]=El Cholesterol Free Desktop Environment, versión 4. Un entorno de escritorio que recuerda a CDE
Comment[et]=Kolesteroolivaba töölaua keskkond (versioon 4), mis meenutab mitmeti CDE-d
Comment[eu]=The Cholesterol Free Desktop Environment, 4 bertsioa. CDE gogorarazten duen mahaigain-ingurunea
Comment[fa]=محیط رومیزی آزاد Cholesterol، نسخه ۴. یادآور محیط رومیزی  CDE
Comment[fi]=Cholesterol Free -työpöytäympäristö. CDE:tä muistuttavatyöpöytäympäristö.
Comment[fr]=L'environnement de bureau « Cholesterol Free, version 4 », un environnement de bureau rappelant CDE
Comment[fy]=De Cholesterol Free Desktop Environment, ferzje 4. In buroblêd omwrâld die tinken dat oan CDE
Comment[ga]=Timpeallacht Deisce Cholesterol Free, leagan 4. Timpeallacht atá cosúil le CDE
Comment[gl]=O Cholesterol Free Desktop Environment, versión 4, un ambiente de escritorio con reminiscencias de CDE
Comment[gu]=કોલ્સ્ટ્રેરોલ ફ્રી ડેસ્કટોપ એન્વાર્યમેન્ટ, આવૃત્તિ ૪. ડેસ્કટોપ એન્વાર્યમેન્ટ જે CDE ની યાદ અપાવે છે
Comment[he]=‏Cholesterol Free Desktop Environment, גירסה 4. סביבת שולחן עבודה המזכירה את CDE
Comment[hi]=कोलेस्ट्रॉल मुक्त डेस्कटॉप वातावरण, संस्करण 4. सीडीई की याद दिलाता एक डेस्कटॉप वातावरण
Comment[hne]=कोलेस्ट्राल फ्री डेस्कटाप वातावरन, संस्करन 4. सीडीई के याद दिलावत एक डेस्कटाप वातावरन
Comment[hr]=Cholesterol Free Desktop Environment verzija 4 – Okruženje radne površine koje podsjeća na CDE
Comment[hsb]=Cholesterol Free Desktop Environment, wersija 4. System za dźěłowy powjerch, podobny na CDE
Comment[hu]=The Cholesterol Free Desktop Environment, 4-es verzió. Egy CDE-szerű ablakkezelő
Comment[ia]=Le Cholesterol Free Desktop Environment, version 4. Un ambiente de scriptorio que recorda CDE
Comment[id]=Lingkungan Desktop Gratis Kolesterol, versi 4. Sebuah lingkungan desktop yang mengingatkan pada CDE
Comment[is]=Kólesterol-lausa skjáborðsumhverfið, útgáfa 4. Skjáborð sem líkist CDE
Comment[it]=L'ambiente desktop senza colesterolo, versione 4. Un ambiente desktop che ricorda CDE
Comment[ja]=Cholesterol Free Desktop Environment, version 4, CDE を思わせる、むだのないデスクトップ環境
Comment[ka]=CDE-ს მაგვარი უქოლესტერინო სამუშაო დაფა xfce 4
Comment[kk]=Cholesterol Free Desktop Environment, 4-нұсқа. CDE-ге ұқсас графикалық орта
Comment[km]=បរិស្ថាន​ផ្ទៃ​តុ​ Cholesterol ឥតគិត​ថ្លៃ​កំណែ ៤ ។ បរិស្ថាន​ផ្ទៃតុ​ដែល​សំអាង​លើ CDE
Comment[kn]=CDE ಆನ್ನು ನೆನಪಿಗೆ ತರುವ ಒಂದು ಕೊಲೆಸ್ಟ್ರಾಲ್ ರಹಿತ ಗಣಕಪರಿಸರ, ಆವೃತ್ತಿ ೪
Comment[ko]=군살이 붙지 않은 CDE를 닮은 데스크톱 환경 버전 4
Comment[lt]=Darbastalio aplinka „Be cholesterolio“ , 4 versija. CDE primenanti darbastalio aplinka
Comment[lv]=Darbvirsmas vide bez holesterīna, versija 4. Darbvirsmas vide, kas atgādina CDE
Comment[mai]=कोलेस्ट्राल मुक्त डेस्कटाप वातावरण, संस्करण 4. सीडीईक याद देलाबैबला एकटा डेस्कटाप वातावरण
Comment[mk]=Cholesterol Free Desktop Environment, верзија 4. Работна околина која потсетува на CDE
Comment[ml]=കൊളസ്ട്രോള്‍ ഫ്രീ പണിയിടസംവിധാനം, പതിപ്പു് 4. സിഡിഇ യെ അനുസ്മരിപ്പിക്കുന്ന പണിയിടം
Comment[mr]=कोलेस्ट्रॉल फ्री डेस्कटॉप वातावरण, आवृत्ती 4. सीडीई नुरूप एक डेस्कटॉप वातावरण
Comment[ms]=Persekitaran Desktop Bebas Kolesterol, versi 4. Mengingatkan kembali persekitaran desktop CDE
Comment[nb]=Det kolesterolfrie skrivebordet, versjon 4. Et skrivebordsmiljø som minner om CDE
Comment[nds]=De "Cholesterol Free Desktop Environment", Verschoon 4. En Schriefdisch-Ümgeven, de wat liek is to CDE
Comment[ne]=कोलेस्ट्रोल रहित डेस्कटप परिवेश, संस्करण ४ । CDE को स्मरणशील डेस्कटप परिवेश
Comment[nl]=De Cholesterol Free Desktop Environment, versie 4. Een desktop environment die herinnert aan  CDE
Comment[nn]=Cholesterol Free Desktop Environment. Eit skrivebordsmiljø som minner om CDE
Comment[pa]=ਚੋਲੀਸਟੀਰੋਲ ਮੁਫਤ ਇੰਨਵਾਇਰਮੈਂਟ, ਵਰਜਨ 4 ਇੱਕ CDE ਵਰਗਾ ਇੰਵਾਇਰਨਮੈਂਟ
Comment[pl]=Cholesterol Free Desktop Environment, wersja 4 - środowisko graficzne podobne do CDE.
Comment[pt]=O Cholesterol Free Desktop Environment, versão 4. Um ambiente de trabalho com vestígios do CDE
Comment[pt_BR]=Acrônimo para Cholesterol Free Desktop Environment (ou ambiente livre de colesterol), versão 4; um ambiente de trabalho remanescente do CDE
Comment[ro]=Cholesterol Free Desktop Environment, versiunea 4. Un mediu de birou cu reminiscențe din CDE
Comment[ru]=Не перегруженная рабочая среда XFCE версии 4, напоминающая CDE
Comment[se]=The Cholesterol Free Desktop Environment, version 4. Čállinbeavdebiras mii muittuha CDE
Comment[si]=කොලෙස්ටරෝල් නිදහස් වැඩතල පාරිසරිකය, 4 සංස්කරණය. නැවත මතක් කරවන CDE වැඩතල පාරිසරික.
Comment[sk]=Cholesterol Free Desktop Environment, verzia 4. Pracovné prostredie pripomínajúce CDE
Comment[sl]=Namizno okolje Cholesterol Free, različica 4. Namizno okolje, podobno okolju CDE
Comment[sr]=„Окружење радне површи без холестерола“ у верзији 4, подсећа на ЦДЕ
Comment[sr@ijekavian]=„Окружење радне површи без холестерола“ у верзији 4, подсјећа на ЦДЕ
Comment[sr@ijekavianlatin]=„Okruženje radne površi bez holesterola“ u verziji 4, podsjeća na CDE
Comment[sr@latin]=„Okruženje radne površi bez holesterola“ u verziji 4, podseća na CDE
Comment[sv]=Den kolesterolfria skrivbordsmiljön, version 4. En skrivbordsmiljö som påminner om CDE
Comment[ta]=கொலஸ்ட்ரால் இல்லாத மேல்மேசை சூழல். பதிப்பு 4. CDE பொருள்பொதிந்த மேல்மேசை சூழல்
Comment[te]=కొలెస్ట్రాల్ లేని డెస్‍క్ టాప్ వాతావరణం, వర్షన్ 4. CDE గుర్తుగా ఒక డెస్‍క్ టాప్ వాతావరణం
Comment[tg]="Не содержащая холестерина" рабочая среда xfce версии 4, напоминающая CDE
Comment[th]=สภาพแวดล้อมสำหรับพื้นที่ทำงานแบบไร้คอเลสเตอรอล เวอร์ชั่น 4 เป็นสภาพแวดล้อมสำหรับเดสก์ทอปที่เหลือมาจาก CDE
Comment[tr]=Cholesterol Ücretsiz Masaüstü Ortamı, sürüm 4. CDE'nin benzeri olan masaüstü ortamı
Comment[ug]=خولېستېرول ئەركىن ئۈستەلئۈستى مۇھىتى، نەشرى 4، CDE ئۈستەلئۈستى مۇھىتىغا ئەگەشكۈچى
Comment[uk]=The Cholesterol Free Desktop Environment, версія 4. Графічне середовище, що нагадує CDE
Comment[vi]=Môi trường Màn hình nền miễn Cholesterol, phiên bản 4. Một môi trường màn hình nền gợi nhớ lại CDE
Comment[wa]=L' Evironmint d' Sicribanne Libe di Colesterole (Cholesterol Free Desktop Environment), modêye 4. En evironmint d' sicribanne ki vént d' CDE
Comment[x-test]=xxThe Cholesterol Free Desktop Environment, version 4. A desktop environment reminiscent of CDExx
Comment[zh_CN]=胆固醇自由桌面环境，版本 4。CDE 桌面环境的追随者
Comment[zh_TW]=Cholesterol 免費桌面環境，第 4 版。一個另人懷念的 CDE 桌面環境
