[Desktop Entry]
Type=XSession
Exec=xfwm
TryExec=xfwm
DesktopNames=XFCE
Name=XFce
Name[af]=XFce
Name[ar]=XFce
Name[ast]=XFce
Name[be]=XFce
Name[be@latin]=XFce
Name[bg]=XFce
Name[bn]=XFce
Name[bn_IN]=XFce
Name[br]=XFce
Name[bs]=Iksefce
Name[ca]=XFce
Name[ca@valencia]=XFce
Name[cs]=XFce
Name[csb]=XFce
Name[cy]=XFce
Name[da]=XFce
Name[de]=Xfce
Name[el]=XFce
Name[en_GB]=XFce
Name[eo]=XFce
Name[es]=XFce
Name[et]=XFce
Name[eu]=XFce
Name[fi]=XFce
Name[fr]=XFce
Name[fy]=XFce
Name[ga]=XFce
Name[gl]=XFce
Name[gu]=XFce
Name[he]=XFce
Name[hi]=एक्सएफसीई
Name[hne]=एक्सएफसीई
Name[hr]=XFce
Name[hsb]=XFce
Name[hu]=XFce
Name[ia]=XFce
Name[id]=XFce
Name[is]=XFce
Name[it]=XFce
Name[ja]=XFce
Name[ka]=XFce
Name[kk]=XFce
Name[km]=XFce
Name[kn]=XFce
Name[ko]=XFce
Name[ku]=XFce
Name[lt]=XFce
Name[lv]=XFce
Name[mai]=एक्सएफसीई
Name[mk]=XFce
Name[ml]=എക്സ്എഫ്‌സിഇ
Name[mr]=एक्स एफ सी इ
Name[ms]=XFce
Name[nb]=XFce
Name[nds]=XFce
Name[ne]=XFce
Name[nl]=XFce
Name[nn]=XFce
Name[oc]=XFce
Name[pa]=XFce
Name[pl]=XFce
Name[pt]=XFce
Name[pt_BR]=Xfce
Name[ro]=XFce
Name[ru]=XFce
Name[se]=XFce
Name[si]=XFce
Name[sk]=XFce
Name[sl]=XFce
Name[sr]=Иксефце
Name[sr@ijekavian]=Иксефце
Name[sr@ijekavianlatin]=XFce
Name[sr@latin]=XFce
Name[sv]=Xfce
Name[ta]=XFce
Name[te]=ఎక్స్ ఎఫ్ సి ఈ
Name[tg]=XFce
Name[th]=XFce
Name[tr]=XFce
Name[ug]=XFce
Name[uk]=XFce
Name[uz]=XFce
Name[uz@cyrillic]=XFce
Name[vi]=XFce
Name[wa]=XFce
Name[x-test]=xxXFcexx
Name[zh_CN]=XFce
Name[zh_TW]=XFce
Comment=The Cholesterol Free Desktop Environment. A desktop environment reminiscent of CDE
Comment[af]=Die Cholesterol Gratis Werkskerm Omgewing. 'n Werkskerm omgewing wat op CDE gebaseer is
Comment[ar]=بيئة سطح المكتب الخالية من الكولسترول. بيئة سطح مكتب مشابهة لـCDE
Comment[ast]=El Cholesterol Free Desktop Environment, un entornu d'escritoriu que remembra a CDE
Comment[be]=XFCE - Cholesterol Free Desktop Environment. Працоўнае асяроддзе, падобнае на CDE
Comment[be@latin]=„Cholesterol Free Desktop Environment”: rabočy stoł, jaki nahadvaje asiarodździe „CDE”
Comment[bg]=Cholesterol Free Desktop Environment. Графична среда, напомняща CDE
Comment[bn]=দি কলেস্টরল ফ্রী ডেস্কটপ এনভায়রনমেন্ট। CDE-র কথা মনে করিয়ে দেয় এমন একটি ডেস্কটপ এনভায়রনমেন্ট
Comment[bs]=„Okruženje radne površi bez holesterola“, podsjeća na CDE
Comment[ca]=El Cholesterol Free Desktop Environment. Un entorn d'escriptori amb reminiscències de CDE
Comment[ca@valencia]=El Cholesterol Free Desktop Environment. Un entorn d'escriptori amb reminiscències de CDE
Comment[cs]=Svobodné grafické prostředí neobsahující cholesterol. Prostředí připomínající CDE
Comment[csb]=Òkrãże pùltu szlachùjące za CDE
Comment[cy]=Yr Amgylchedd Penbwrdd Di-Golesterol.  Amgylchedd penbwrdd sy'n atgoffaol o CDE
Comment[da]=Det kolesterolfrie skrivebordsmiljø. Et skrivebordsmiljø der minder om CDE
Comment[de]=Cholesterol Free Desktop Environment. Grafische Arbeitsumgebung, die an CDE erinnert 
Comment[el]=Το Cholesterol Free Desktop Environment. Ένα περιβάλλον επιφάνειας εργασίας βασισμένο στο CDE
Comment[en_GB]=The Cholesterol Free Desktop Environment. A desktop environment reminiscent of CDE
Comment[eo]=La libera labortablo ĉirkaŭajo
Comment[es]=El Cholesterol Free Desktop Environment, un entorno de escritorio que recuerda a CDE
Comment[et]=Kolesteroolivaba töölaua keskkond, mis meenutab mitmeti CDE-d
Comment[eu]=The Cholesterol Free Desktop Environment. CDE gogorarazten duen mahaigain-ingurunea.
Comment[fa]=محیط رومیزی آزاد Cholesterol. یادآور محیط رومیزی CDE
Comment[fi]=Cholesterol Free -työpöytäympäristö. CDE:tä muistuttavatyöpöytäympäristö.
Comment[fr]=L'environnement de bureau « Cholesterol Free », un environnement de bureau rappelant CDE
Comment[fy]=The Cholesterol Free Desktop Environment. In buroblêd omwrâld die tinken dat oan CDE
Comment[ga]=Timpeallacht Deisce Cholesterol Free. Timpeallacht atá cosúil le CDE
Comment[gl]=O Cholesterol Free Desktop Environment, un ambiente de escritorio con reminiscencias de CDE
Comment[gu]=કોલ્સ્ટ્રેરોલ ફ્રી ડેસ્કટોપ એન્વાર્યમેન્ટ. ડેસ્કટોપ એન્વાર્યમેન્ટ જે CDE ની યાદ અપાવે છે
Comment[he]=‏Cholesterol Free Desktop Environment. סביבת שולחן עבודה המזכירה את CDE
Comment[hi]=कॉलेस्ट्रॉल रहित डेस्कटॉप माहौल. सीडीई जैसा एक डेस्कटॉप माहौल
Comment[hne]=कालेस्ट्रोल रहित डेस्कटाप माहौल. सीडीई जइसन एक डेस्कटाप माहौल
Comment[hr]=Cholesterol Free Desktop Environment – Okruženje radne površine koje podsjeća na CDE
Comment[hsb]=Cholesterol Free Desktop Environment. System za dźěłowy powjerch, podobny na CDE
Comment[hu]=Cholesterol Free Desktop Environment, egy a CDE-re emlékeztető ablakkezelő
Comment[ia]=Le Cholesterol Free Desktop Environment. Un ambiente de scriptorio que recorda CDE
Comment[id]=Lingkungan Desktop Gratis Kolesterol. Sebuah lingkungan desktop yang mengingatkan pada CDE
Comment[is]=Kólesterol-lausa skjáborðsumhverfið. Skjáborð sem líkist CDE
Comment[it]=L'ambiente desktop senza colesterolo. Un ambiente desktop che ricorda CDE
Comment[ja]=Cholesterol Free Desktop Environment。CDE を思わせる、無駄のないデスクトップ環境。
Comment[ka]=CDE-ს მაგვარი სამუშაო დაფა ქოლესტერინის გარეშე
Comment[kk]=Cholesterol Free Desktop Environment. CDE-ге үқсас графикалық орта
Comment[km]=បរិស្ថាន​ផ្ទៃ​តុ​ Cholesterol ឥតគិត​ថ្លៃ ។ បរិស្ថាន​ផ្ទៃតុ​ដែល​សំអាង​លើ CDE
Comment[kn]=CDE ಆನ್ನು ನೆನಪಿಗೆ ತರುವ ಒಂದು ಕೊಲೆಸ್ಟ್ರಾಲ್ ರಹಿತ ಗಣಕಪರಿಸರ
Comment[ko]=군살이 붙지 않은 CDE를 닮은 데스크톱 환경
Comment[lt]=Darbastalio aplinka „Be cholesterolio“. CDE primenanti darbastalio aplinka
Comment[lv]=Darbvirsmas vide bez holesterīna. Darba virsmas vide, kas atgādina CDE
Comment[mai]=कालेस्ट्राल रहित डेस्कटाप माहौल. सीडीई जहिना एकटा डेस्कटाप माहौल
Comment[mk]=Cholesterol Free Desktop Environment. Работна околина која потсетува на CDE
Comment[ml]=കൊളസ്ട്രോള്‍ ഫ്രീ പണിയിടസംവിധാനം. സിഡിഇയെ അനുസ്മരിപ്പിക്കുന്ന പണിയിടം
Comment[mr]=कॉलेस्ट्रॉल फ्री डेस्कटॉप वातावरण. सीडीई नुरूप एक डेस्कटॉप वातावरण
Comment[ms]=Persekitaran Desktop Bebas Kolesterol. Mengenang kembali persekitaran desktop CDE
Comment[nb]=Det kolesterolfrie skrivebordsmiljø. Et skrivebordsmiljø som minner om CDE
Comment[nds]=De "Cholesterol Free Desktop Environment". En Schriefdisch-Ümgeven, de wat liek is to CDE
Comment[ne]=कोलेस्ट्रोल रहित डेस्कटप परिवेश । सीडीईको स्मरणशील डेस्कटप परिवेश
Comment[nl]=The Cholesterol Free Desktop Environment. Een desktop environment die herinnert aan CDE
Comment[nn]=Cholesterol Free Desktop Environment. Eit skrivebordsmiljø som minner om CDE
Comment[pa]=ਚੋਲੀਸਟੀਰੋਲ ਮੁਫਤ/ਮੁਕਤ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ, ਇੱਕ CDE ਵਰਗਾ ਡੈਸਕਟਾਪ ਇੰਵਾਇਰਨਮੈਂਟ
Comment[pl]=Środowisko pulpitu przypominające CDE
Comment[pt]=O Cholesterol Free Desktop Environment. Um ambiente de trabalho com vestígios do CDE
Comment[pt_BR]=Acrônimo para Cholesterol Free Desktop Environment (ou ambiente livre de colesterol), um ambiente de trabalho remanescente do CDE
Comment[ro]=Cholesterol Free Desktop Environment. Un mediu grafic cu reminiscențe din CDE
Comment[ru]=Не перегруженная рабочая среда, напоминающая CDE
Comment[se]=The Cholesterol Free Desktop Environment. Čállinbeavdebiras mii muittuha CDE
Comment[si]=කොලෙස්ටරෝල් නිදහස් වැඩතල පාරිසරිකය, නැවත මතක් කරවන CDE වැඩතල පාරිසරික.
Comment[sk]=Cholesterol Free Desktop Environment. Pracovné prostredie pripomínajúce CDE
Comment[sl]=Namizno okolje Cholesterol Free. Namizno okolje, podobno okolju CDE
Comment[sr]=„Окружење радне површи без холестерола“, подсећа на ЦДЕ
Comment[sr@ijekavian]=„Окружење радне површи без холестерола“, подсјећа на ЦДЕ
Comment[sr@ijekavianlatin]=„Okruženje radne površi bez holesterola“, podsjeća na CDE
Comment[sr@latin]=„Okruženje radne površi bez holesterola“, podseća na CDE
Comment[sv]=Den kolesterolfria skrivbordsmiljön. En skrivbordsmiljö som påminner om CDE
Comment[ta]=கொலஸ்ட்ரால் இல்லாத மேல்மேசை சூழல். CDE பொருள்பொதிந்த மேல்மேசை சூழல்
Comment[te]=కొలెస్ట్రాల్ లేని డెస్‍క్ టాప్ వాతావరణం. CDE గుర్తుగా ఒక డెస్‍క్ టాప్ వాతావరణం
Comment[tg]="Не содержащая холестерина" рабочая среда, напоминающая CDE
Comment[th]=สภาพแวดล้อมสำหรับพื้นที่ทำงานไร้คอเลสเตอรอล เป็นสภาพแวดล้อมสำหรับเดสก์ทอปที่เหลือมาจาก CDE
Comment[tr]=Cholesterol Masaüstü Ortamı
Comment[ug]=خولېستېرول ئەركىن ئۈستەلئۈستى مۇھىتى، CDE ئۈستەلئۈستى مۇھىتىغا ئەگەشكۈچى
Comment[uk]=The Cholesterol Free Desktop Environment. Графічне середовище, що нагадує CDE
Comment[vi]=Môi trường Màn hình nền Miễn Cholesterol. Một môi trường màn hình nền gợi nhớ lại CDE
Comment[wa]=L' Evironmint d' Sicribanne Libe di Colesterole (Cholesterol Free Desktop Environment). En evironmint d' sicribanne ki vént d' CDE
Comment[x-test]=xxThe Cholesterol Free Desktop Environment. A desktop environment reminiscent of CDExx
Comment[zh_CN]=胆固醇自由桌面环境。CDE 桌面环境的追随者
Comment[zh_TW]=Cholesterol 免費桌面環境。一個另人懷念的 CDE 桌面環境
