$NetBSD: patch-deps_ebloom_rebar.config,v 1.1 2015/02/11 14:11:55 fhajny Exp $

Link C++ stuff with CXX.

--- deps/ebloom/rebar.config.orig	2013-01-29 15:52:50.000000000 +0000
+++ deps/ebloom/rebar.config
@@ -1,6 +1,5 @@
 {port_specs, [{"priv/ebloom_nifs.so", ["c_src/*.cpp"]}]}.
 {port_env, [
-             %% Make sure to link -lstdc++
-             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
-              "LDFLAGS", "$LDFLAGS -lstdc++"}
+             %% Make sure C++ is used to link the C++ objects
+             {"LINK_TEMPLATE", "$CXX $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"}
             ]}.
