# $NetBSD: texmf-deinstall.tmpl,v 1.2 2008/12/12 01:31:09 minskim Exp $
#
# Rebuild ls-R databases.
#

case ${STAGE} in
POST-DEINSTALL)
	@FIND@ -d @TEXMFDIRS@ -type d -empty -exec @RMDIR@ {} \;
	@MKTEXLSR@ @TEXMFDIRS@
        ;;
*)
	;;
esac
