# $NetBSD: turba.conf.dist,v 1.2 2005/02/17 13:38:54 adrian_p Exp $
#
# Turba configuration file fragment for Apache

# For security, don't serve pages from the Turba configuration and library
# directories.
#
<Directory "@TURBADIR@/config">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/lib">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/locale">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/po">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/scripts">
    Order deny,allow
    Deny from all
</Directory>
<Directory "@TURBADIR@/templates">
    Order deny,allow
    Deny from all
</Directory>
