$NetBSD: patch-pgpool.conf.sample,v 1.2 2014/05/07 09:19:27 fhajny Exp $

Default pid file location.
--- pgpool.conf.sample.orig	2014-03-24 14:30:01.000000000 +0000
+++ pgpool.conf.sample
@@ -180,7 +180,7 @@ debug_level = 0
 # FILE LOCATIONS
 #------------------------------------------------------------------------------
 
-pid_file_name = '/var/run/pgpool/pgpool.pid'
+pid_file_name = '@PGPOOL_PIDDIR@/pgpool.pid'
                                    # PID file name
                                    # (change requires restart)
 logdir = '/tmp'
