$NetBSD$

Wrap Exec with env to:
- suppress the harmless Mesa DRI2 authentication warning on software EGL
- set TERMINFO_DIRS so rio and programs running inside it find the rio
  terminfo entry installed by this package under @PREFIX@/share/terminfo

--- misc/rio.desktop.orig
+++ misc/rio.desktop
@@ -1,7 +1,7 @@
 [Desktop Entry]
 Type=Application
 TryExec=rio
-Exec=rio
+Exec=env EGL_LOG_LEVEL=fatal TERMINFO_DIRS=@PREFIX@/share/terminfo rio
 Icon=rio
 Terminal=false
 Categories=System;TerminalEmulator;
@@ -14,4 +14,4 @@
 
 [Desktop Action New]
 Name=New Terminal
-Exec=rio
+Exec=env EGL_LOG_LEVEL=fatal TERMINFO_DIRS=@PREFIX@/share/terminfo rio
