$NetBSD$

1) Set the RPATH when creating executables and shared libraries.

2) Use pkgsrc libtommath instead of cyclone libtommath (cyclonebn).

--- Makefile.config.orig	2022-08-25 21:12:33.000000000 +0000
+++ Makefile.config
@@ -21,8 +21,8 @@ CYC_PTHREAD_SET_STACK_SIZE ?=
 OS = $(shell uname)
 CC ?= cc
 
-LIBS = -pthread -lcyclone -lck -lm -lcyclonebn
-ifneq ($(OS),FreeBSD)
+LIBS = -pthread -lcyclone -lck -lm -ltommath
+ifeq (,$(findstring $(OS),FreeBSD NetBSD OpenBSD DragonFly))
 # libdl is part of libc on FreeBSD
 LIBS += -ldl
 endif
@@ -66,9 +66,9 @@ endif
 
 # Commands "baked into" cyclone for invoking the C compiler
 CC_PROG ?= "$(CC) ~src-file~ $(COMP_PROG_CFLAGS) ~cc-extra~ $(COMP_INCDIRS) -c -o ~exec-file~.o"
-CC_EXEC ?= "$(CC) ~exec-file~.o ~obj-files~ $(LIBS) $(COMP_CFLAGS) ~ld-extra~ $(COMP_LIBDIRS) -o ~exec-file~"
+CC_EXEC ?= "$(CC) ~exec-file~.o ~obj-files~ $(LIBS) $(COMP_CFLAGS) $(COMPILER_RPATH_FLAG)$(PREFIX)/lib ~ld-extra~ $(COMP_LIBDIRS) -o ~exec-file~"
 CC_LIB  ?= "$(CC) ~src-file~ $(COMP_CFLAGS) ~cc-extra~ $(COMP_INCDIRS) -c -o ~exec-file~.o"
-CC_SO   ?= "$(CC) -shared $(LDFLAGS) -o ~exec-file~.so ~exec-file~.o"
+CC_SO   ?= "$(CC) -shared $(LDFLAGS) $(COMPILER_RPATH_FLAG)$(PREFIX)/lib -o ~exec-file~.so ~exec-file~.o"
 
 AR        ?= ar
 LIBTOOL   ?= libtool
