$NetBSD$

Use full path to escript in shebang.
--- deps/cuttlefish/rebar.config.orig	2015-08-04 00:23:58.000000000 +0000
+++ deps/cuttlefish/rebar.config
@@ -21,3 +21,5 @@
     {"-win32", compile, "rebar escriptize"},
     {"^((?!-win32).)*$", compile, "./rebar escriptize"}
   ]}.
+
+{escript_shebang, "#!/@PREFIX@/bin/escript\n"}.
