$NetBSD: patch-rel__files__app.config,v 1.2 2011/10/07 09:52:51 fhajny Exp $

Add innostore & leveldb bits.
--- rel/files/app.config.orig	2011-09-30 18:07:49.000000000 +0000
+++ rel/files/app.config
@@ -6,6 +6,9 @@
               %% Default location of ringstate
               {ring_state_dir, "{{ring_state_dir}}"},
 
+              %% Raise the initial ring size
+              {ring_creation_size, {{ring_creation_size}} },
+
               %% http is a list of IP addresses and TCP ports that the Riak
               %% HTTP interface will bind.
               {http, [ {"{{web_ip}}", {{web_port}} } ]},
@@ -21,6 +24,9 @@
               %       {keyfile, "{{platform_etc_dir}}/key.pem"}
               %      ]},
               
+              %% Handoff IP address
+              {handoff_ip, "{{handoff_ip}}" },
+
               %% riak_handoff_port is the TCP port that Riak uses for
               %% intra-cluster data handoff.
               {handoff_port, {{handoff_port}} },
@@ -43,7 +49,10 @@
  {riak_kv, [
             %% Storage_backend specifies the Erlang module defining the storage
             %% mechanism that will be used on this node.
-            {storage_backend, riak_kv_bitcask_backend},
+            %% Uncomment *one* that should be used; default: bitcask
+            {storage_backend, riak_kv_bitcask_backend},
+            %% {storage_backend, riak_kv_eleveldb_backend},
+            %% {storage_backend, riak_kv_innostore_backend},
 
             %% pb_ip is the IP address that the Riak Protocol Buffers interface
             %% will bind to.  If this is undefined, the interface will not run.
@@ -174,6 +183,27 @@
 
  %% eLevelDB Config
  {eleveldb, [
+             %% Write buffer size, default: 4 MB
+             %% {write_buffer_size, 4194304},
+
+             %% Max open files, default: 20
+             %% {max_open_files, 20},
+
+             %% Block size, default: 4 KB
+             %% {block_size, 4096},
+
+             %% # of keys before restarting delta encoding, default: 16
+             %% {block_restart_interval, 16},
+
+             %% Default cache size, default: 8 MB
+             %% {cache_size, 8388608},
+
+             %% Do the write()/fsync() every time, default: true
+             %% {sync, true},
+
+             %% Make sure data is what we expected it to be, default: true
+             %% {verify_checksums, true},
+
              {data_root, "{{leveldb_data_root}}"}
             ]},
 
@@ -241,5 +271,31 @@
  %% SASL config
  {sasl, [
          {sasl_error_logger, false}
-        ]}
+        ]},
+
+ {innostore, [
+              %% Where data files go
+              {data_home_dir, "{{inno_data_dir}}"},
+
+              %% Where log files go
+              {log_group_home_dir, "{{inno_log_dir}}"},
+
+              %% In-memory buffer in bytes
+              {buffer_pool_size, {{inno_buffer_size}} },
+
+              %% File descriptors used by default
+              {open_files, 128},
+
+              %% InnoDb table formats: compact, dynamic and compressed
+              %% {format, compact},
+
+              %% How many files you need -- usually, 3 < x < 6
+              %% {log_files_in_group, 6},
+
+              %% No bigger than 256MB
+              %% {log_file_size, 134217728},
+
+              %% Error log to use (instead of stderr)
+              {error_log, "{{inno_error_log_dir}}"}
+             ]}
 ].
