$NetBSD: patch-deps__riak_search__rebar.config,v 1.1 2012/06/23 09:53:55 fhajny Exp $

Enable for R15 too.
--- deps/riak_search/rebar.config.orig	2012-06-19 17:39:49.000000000 +0000
+++ deps/riak_search/rebar.config
@@ -3,7 +3,7 @@
 
 {lib_dirs, ["apps"]}.
 
-{require_otp_vsn, "R13B04|R14"}.
+{require_otp_vsn, "R13B04|R14|R15"}.
 
 {cover_enabled, true}.
 
