$NetBSD: patch-deps__ebloom__rebar.config,v 1.2 2012/03/08 13:51:10 fhajny Exp $

Link C++ stuff with CXX.
--- deps/ebloom/rebar.config.orig	2012-02-19 19:59:37.000000000 +0000
+++ deps/ebloom/rebar.config
@@ -2,7 +2,6 @@
 {so_name, "ebloom_nifs.so"}.
 
 {port_envs, [
-             %% Make sure to link -lstdc++
-             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly|darwin)",
-              "LDFLAGS", "$LDFLAGS -lstdc++"}
+             %% Make sure C++ is used to link the C++ objects
+             {"LINK_TEMPLATE", "$CXX $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"}
             ]}.
