$NetBSD: patch-rebar.config,v 1.4 2012/06/23 09:53:55 fhajny Exp $

Enable for R15 too.
--- rebar.config.orig	2012-06-19 18:14:48.000000000 +0000
+++ rebar.config
@@ -1,6 +1,6 @@
 {sub_dirs, ["rel"]}.
 
-{require_otp_vsn, "R14B0[234]"}.
+{require_otp_vsn, "R14B0[234]|R15"}.
 
 {cover_enabled, true}.
 
