$NetBSD: patch-__innostore-1.0.4__rebar.config,v 1.1 2012/03/08 13:51:10 fhajny Exp $

Remove Werror.
--- ../innostore-1.0.4/rebar.config.orig	2011-09-30 13:59:16.598205651 +0000
+++ ../innostore-1.0.4/rebar.config
@@ -3,7 +3,7 @@
 {deps, []}.
 
 {port_envs, [
-             {"DRV_CFLAGS",  "$DRV_CFLAGS -Werror -I c_src/innodb/include"},
+             {"DRV_CFLAGS",  "$DRV_CFLAGS -I c_src/innodb/include"},
              {"DRV_LDFLAGS", "$DRV_LDFLAGS c_src/innodb/lib/libinnodb.a"},
 
              %% Solaris specific flags
