$NetBSD$

Don't download solr.

--- deps/yokozuna/rebar.config.orig	2015-11-17 15:14:49.000000000 +0000
+++ deps/yokozuna/rebar.config
@@ -18,8 +18,6 @@
    {git, "git://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
  ]}.
 
-{pre_hooks, [{compile, "./tools/grab-solr.sh"}]}.
-
 {plugin_dir, ".rebar_plugins"}.
 {plugins, [rebar_test_plugin]}.
 {riak_test,
