$NetBSD: patch-rebar.config,v 1.2 2012/01/23 14:04:25 fhajny Exp $

Add support for R14B04.
--- rebar.config.orig	2012-01-13 18:18:59.000000000 +0000
+++ rebar.config
@@ -1,6 +1,6 @@
 {sub_dirs, ["rel"]}.
 
-{require_otp_vsn, "R14B0[23]"}.
+{require_otp_vsn, "R14B0[234]"}.
 
 {cover_enabled, true}.
 
