$NetBSD: patch-rel__files__app.config,v 1.5 2012/08/09 16:32:24 fhajny Exp $

Add innostore, leveldb and other minor bits.
--- rel/files/app.config.orig	2012-08-06 22:02:45.000000000 +0000
+++ rel/files/app.config
@@ -47,6 +47,9 @@
               %% intra-cluster data handoff.
               {handoff_port, {{handoff_port}} },
 
+              %% Handoff IP address
+              {handoff_ip, "{{handoff_ip}}" },
+
               %% To encrypt riak_core intra-cluster data handoff traffic,
               %% uncomment the following line and edit its path to an
               %% appropriate certfile and keyfile.  (This example uses a
@@ -73,7 +76,10 @@
  {riak_kv, [
             %% Storage_backend specifies the Erlang module defining the storage
             %% mechanism that will be used on this node.
+            %% Uncomment *one* that should be used; default: bitcask
             {storage_backend, riak_kv_bitcask_backend},
+            %% {storage_backend, riak_kv_eleveldb_backend},
+            %% {storage_backend, riak_kv_innostore_backend},
 
             %% raw_name is the first part of all URLS used by the Riak raw HTTP
             %% interface.  See riak_web.erl and raw_http_resource.erl for
@@ -193,9 +199,57 @@
 
  %% eLevelDB Config
  {eleveldb, [
+             %% Write buffer size, default: 4 MB
+             %% {write_buffer_size, 4194304},
+
+             %% Max open files, default: 20
+             %% {max_open_files, 20},
+
+             %% Block size, default: 4 KB
+             %% {block_size, 4096},
+
+             %% # of keys before restarting delta encoding, default: 16
+             %% {block_restart_interval, 16},
+
+             %% Default cache size, default: 8 MB
+             %% {cache_size, 8388608},
+
+             %% Do the write()/fsync() every time, default: true
+             %% {sync, true},
+
+             %% Make sure data is what we expected it to be, default: true
+             %% {verify_checksums, true},
+
              {data_root, "{{leveldb_data_root}}"}
             ]},
 
+ %% Innostore config
+ {innostore, [
+             %% Where data files go
+             {data_home_dir, "{{inno_data_dir}}"},
+
+             %% Where log files go
+             {log_group_home_dir, "{{inno_log_dir}}"},
+
+             %% In-memory buffer in bytes
+             {buffer_pool_size, {{inno_buffer_size}} },
+
+             %% File descriptors used by default
+             {open_files, 128},
+
+             %% InnoDb table formats: compact, dynamic and compressed
+             %% {format, compact},
+
+             %% How many files you need -- usually, 3 < x < 6
+             %% {log_files_in_group, 6},
+
+             %% No bigger than 256MB
+             %% {log_file_size, 134217728},
+
+             %% Error log to use (instead of stderr)
+             {error_log, "{{inno_error_log_dir}}"}
+            ]},
+
  %% Lager Config
  {lager, [
             %% What handlers to install with what arguments
