$NetBSD: patch-deps__ebloom__rebar.config,v 1.1.1.1 2011/09/30 20:25:05 fhajny Exp $

Link C++ stuff with CXX.
--- deps/ebloom/rebar.config.orig	2011-09-07 02:30:06.000000000 +0000
+++ deps/ebloom/rebar.config
@@ -2,8 +2,8 @@
 {so_name, "ebloom_nifs.so"}.
 
 {port_envs, [
-             %% Make sure to link -lstdc++ on linux or solaris
-             {"(linux|solaris|freebsd|netbsd|openbsd|dragonfly)", "LDFLAGS", "$LDFLAGS -lstdc++"},
+             %% Make sure C++ is used to link the C++ objects
+             {"LINK_TEMPLATE", "$CXX $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"},
 
              %% Solaris specific flags
              {"solaris.*-64$", "CXXFLAGS", "-D_REENTRANT -m64"},
