$NetBSD: patch-deps__cluster_info__rebar.config,v 1.1 2012/06/23 09:53:55 fhajny Exp $

Enable for R15 too.
--- deps/cluster_info/rebar.config.orig	2012-02-19 20:02:46.000000000 +0000
+++ deps/cluster_info/rebar.config
@@ -5,4 +5,4 @@
             , {i, "./priv/"}
            ]}.
 
-{require_otp_vsn, "R13B04|R14"}.
+{require_otp_vsn, "R13B04|R14|R15"}.
