$NetBSD: patch-rel__files__app.config,v 1.1.1.1 2011/09/30 20:25:05 fhajny Exp $

Integrate innostore.
--- rel/files/app.config.orig	2011-09-07 05:41:19.000000000 +0000
+++ rel/files/app.config
@@ -6,6 +6,9 @@
               %% Default location of ringstate
               {ring_state_dir, "{{ring_state_dir}}"},
 
+              %% Raise the initial ring size
+              {ring_creation_size, {{ring_creation_size}} },
+
               %% http is a list of IP addresses and TCP ports that the Riak
               %% HTTP interface will bind.
               {http, [ {"{{web_ip}}", {{web_port}} } ]},
@@ -45,6 +48,9 @@
             %% mechanism that will be used on this node.
             {storage_backend, riak_kv_bitcask_backend},
 
+            %% Change to Innostore by commenting the above and uncommenting this:
+            %% {storage_backend, riak_kv_innostore_backend},
+
             %% pb_ip is the IP address that the Riak Protocol Buffers interface
             %% will bind to.  If this is undefined, the interface will not run.
             {pb_ip,   "{{pb_ip}}" },
@@ -215,5 +221,31 @@
  %% SASL config
  {sasl, [
          {sasl_error_logger, false}
-        ]}
+        ]},
+
+ {innostore, [
+              %% Where data files go
+              {data_home_dir, "{{inno_data_dir}}"},
+
+              %% Where log files go
+              {log_group_home_dir, "{{inno_log_dir}}"},
+
+              %% In-memory buffer in bytes
+              {buffer_pool_size, {{inno_buffer_size}} },
+
+              %% File descriptors used by default
+              {open_files, 128},
+
+              %% InnoDb table formats: compact, dynamic and compressed
+              %% {format, compact},
+
+              %% How many files you need -- usually, 3 < x < 6
+              %% {log_files_in_group, 6},
+
+              %% No bigger than 256MB
+              %% {log_file_size, 134217728},
+
+              %% Error log to use (instead of stderr)
+              {error_log, "{{inno_error_log_dir}}"}
+             ]}
 ].
