# $NetBSD: format-deinstall.tmpl,v 1.2 2008/12/23 09:26:17 minskim Exp $
#
# Delete format files.
#

case ${STAGE} in
DEINSTALL)
	format_names="@FORMAT_NAMES@"
	for f in $format_names ; do
		@CAT@ @PREFIX@/share/texmf/fmtutil/format.$f.cnf |
		@GREP@ "^[^#]" |
		while read format engine junk; do
		  case "$engine" in
		    mpost)
		      fmtfile="$format.mem"
		      texengine=metapost
		      ;;
		    mf-nowin)
		      fmtfile="$format.base"
		      texengine=metafont
		      ;;
		    *)
		      fmtfile="$format.fmt"
		      texengine=$engine
		      ;;
		  esac
			@RM@ -f @VARBASE@/lib/texmf/web2c/$texengine/$fmtfile
			@RM@ -f @VARBASE@/lib/texmf/web2c/$texengine/$format.log
		done
	done
	@FIND@ -d @VARBASE@/lib/texmf -type d -empty -exec @RMDIR@ {} \;
	@MKTEXLSR@ @VARBASE@/lib/texmf
        ;;
*)
	;;
esac
