# $NetBSD: format-install.tmpl,v 1.2 2009/01/05 19:00:23 minskim Exp $
#
# Create format files.
#

FMTUTIL_CNF=${PKG_SYSCONFBASE}/texmf/web2c/fmtutil.cnf

case ${STAGE} in
POST-INSTALL)
	format_names="@FORMAT_NAMES@"
	for f in $format_names ; do
		${GREP} -v "^#" @PREFIX@/share/texmf/fmtutil/format.$f.cnf >> ${FMTUTIL_CNF}
		@FMTUTIL_SYS@ --byfmt $f
	done
        ;;
*)
	;;
esac
