# $NetBSD: map-deinstall.tmpl,v 1.2 2009/01/04 23:44:38 minskim Exp $
#
# Disable font maps and remove entries from updmap.cfg.
#

UPDMAP_CFG=${PKG_SYSCONFBASE}/texmf/web2c/updmap.cfg

case ${STAGE} in
DEINSTALL)
	map_files="@MAP_FILES@"
	for map in $map_files ; do
		@UPDMAP_SYS@ --disable ${map}
		${GREP} -v "^#! Map ${map}" ${UPDMAP_CFG} > \
		       ${UPDMAP_CFG}.tmp &&
		${MV} ${UPDMAP_CFG}.tmp ${UPDMAP_CFG}
	done
	mixedmap_files="@MIXEDMAP_FILES@"
	for map in $mixedmap_files ; do
		@UPDMAP_SYS@ --disable ${map}
		${GREP} -v "^#! MixedMap ${map}" ${UPDMAP_CFG} > \
		       ${UPDMAP_CFG}.tmp &&
		${MV} ${UPDMAP_CFG}.tmp ${UPDMAP_CFG}
	done
        ;;
*)
	;;
esac
