# This is not a complete file: you'll need to merge this with
# your own XF86Config.  But it demonstrates the bits that are necessary
# to be added or revised.
#
# We include three server layouts to demonstrate using the driver
# as a single head, as a dual head with Xinerama, and as a multi-head.
# You can select one of these by using the X server's `-layout' switch.
# e.g.:
#    X -layout 'Single Monitor with ATI Driver'

Section "ServerLayout"
    Identifier	"Single Monitor with ATI Driver"
    Screen	0 "Laptop LCD" 0 0
    InputDevice    "Synaptics TouchPad" "CorePointer"
    InputDevice    "Laptop Keyboard" "CoreKeyboard"
EndSection

Section "ServerLayout"
    Identifier	"Xinerama (ViewSonic VP201b)"
    Screen	0 "Laptop LCD" 0 0
    Screen	1 "ViewSonic VP201b (2nd head)" Above "Laptop LCD"
    Option	"xinerama"
    InputDevice    "Synaptics TouchPad" "CorePointer"
    InputDevice    "Laptop Keyboard" "CoreKeyboard"
EndSection

Section "ServerLayout"
    Identifier     "MultiHead (ViewSonic VP201b)"
    Screen      	0 "Laptop LCD" 0 0
    Screen		1 "ViewSonic VP201b (2nd head)" Above "Laptop LCD"
    InputDevice    "Synaptics TouchPad" "CorePointer"
    InputDevice    "Laptop Keyboard" "CoreKeyboard"
EndSection


# Disable xfree86-dga as per <http://www.thinkwiki.org/wiki/Problems_with_fglrx>
# to (hopefully) prevent some cursor problems.
# This loads the miscellaneous extensions module, and disables
# initialisation of the XFree86-DGA extension within that module.
Section "Module"
	#Load  "extmod"
        SubSection	"extmod"
	    Option	"omit xfree86-dga"
        EndSubSection
EndSection


Section "Files"
	# ensure the pkgsrc modules directory is found
	ModulePath  "@PREFIX@/lib/modules"
	ModulePath  "@X11BASE@/lib/modules"
EndSection



Section "Device"
	Identifier  "fglrx0"
	BusID       "PCI:1:0:0"
	Driver      "fglrx"
	VendorName  "ATI Technologies Inc"
	BoardName   "firegl"

	Option	    "VideoOverlay" "on"
	Option	    "OpenGLOverlay" "off"
	#Option	    "DesktopSetup" "single"
	#Option "MonitorLayout" "LVDS,AUTO"
	Option "EnablePrivateBackZ" "yes"
	Option "no_dri"	"on"

	# ATI driver has a bug with multihead where the cursor
	# cannot be displayed on the second head.
	# SWCursor enables a cursor for both heads.
	# Unfortunately the ATI driver's software cursor 
	# causes screen corruption (i.e., mouse turds).
	# Unfortunately the driver cannot be configured to only use
	# the software cursor on a particular screen.
	# Uncomment the following if you cannot bear not having a cursor.
	#Option "SWCursor" "on"
EndSection

Section "Device"
	Identifier  "fglrx1"
	Driver      "fglrx"
	BusID       "PCI:1:0:0"
	Screen      1
	#Option "SWCursor" "on" # see comment above
EndSection


Section "Screen"
	Identifier "Laptop LCD"
	Device     "fglrx0"
	Monitor    "Lenovo LTN141P4-L02"
	DefaultDepth     24
	SubSection "Display"
		Viewport   0 0
		Depth     24
		# Explicitly hardcode the virtual size of this monitor
		# to be the monitor size to deal with Xinerama annoyance.
		# Xinerama sets up the displays to have the same
		# X or Y dimension (depending on the relations between
		# the displays).  So when using something wider,
		# my laptop screen is expanded to have a wide virtual width,
		# which I loathe.  So force the virtual to be 1400x1050
		# (the laptop monitor size) -- means I miss stuff
		# on the sides though.
		Virtual		1400 1050
	EndSubSection
EndSection

Section "Screen"
	Identifier "ViewSonic VP201b (2nd head)"
	Device     "fglrx1"
	Monitor    "ViewSonic VP201b"
	DefaultDepth     24
	SubSection "Display"
		Viewport   0 0
		Depth     24
	EndSubSection
EndSection



Section "Monitor"
	Identifier   	"Lenovo LTN141P4-L02"
	VendorName   	"Lenovo"
	ModelName    	"LTN141P4-L02"
	DisplaySize	291 210
	#Gamma		2.2
	Option	    	"DPMS" "true"

	# manually specified modeline to prevent flickering; may be
	# ThinkPad-specific (see <http://ati.cchtml.com/show_bug.cgi?id=248>)
	modeline "1400x1050" 122.61 1400 1488 1640 1880 1050 1051 1054 1087
EndSection

Section "Monitor"
	Identifier	"ViewSonic VP201b"
	VendorName	"VSC"
	DisplaySize	410 310
	#Gamma		2.2
	Option	    	"DPMS" "true"
EndSection

