// SPDX-License-Identifier: (GPL-2.0+ or MIT)
// Copyright (C) 2021-2022 Samuel Holland <samuel@sholland.org>

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

#include "sun20i-d1.dtsi"
#include "sun20i-d1-common-regulators.dtsi"

/ {
	model = "Allwinner D1 Nezha";
	compatible = "allwinner,d1-nezha", "allwinner,sun20i-d1";

	aliases {
		ethernet0 = &emac;
		ethernet1 = &xr829;
		mmc0 = &mmc0;
		serial0 = &uart0;
		spi0 = &spi0;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	hdmi_connector: connector {
		compatible = "hdmi-connector";
		type = "a";

		port {
			hdmi_connector_in: endpoint {
				remote-endpoint = <&hdmi_out_connector>;
			};
		};
	};

	reg_usbvbus: usbvbus {
		compatible = "regulator-fixed";
		regulator-name = "usbvbus";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		gpio = <&pio 3 19 GPIO_ACTIVE_HIGH>; /* PD19 */
		enable-active-high;
		vin-supply = <&reg_vcc>;
	};

	reg_vdd_cpu: vdd-cpu {
		compatible = "pwm-regulator";
		pwms = <&pwm 0 50000 0>;
		pwm-supply = <&reg_vcc>;
		regulator-name = "vdd-cpu";
		regulator-min-microvolt = <810000>;
		regulator-max-microvolt = <1160000>;
	};

	wifi_pwrseq: wifi-pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&pio 6 12 GPIO_ACTIVE_LOW>; /* PG12 */
	};
};

&codec {
	routing = "Headphone Jack", "HPOUTL",
		  "Headphone Jack", "HPOUTR",
		  "LINEINL", "HPOUTL",
		  "LINEINR", "HPOUTR",
		  "MICIN3", "Headset Microphone",
		  "Headset Microphone", "HBIAS";
	widgets = "Microphone", "Headset Microphone",
		  "Headphone", "Headphone Jack";
	status = "okay";
};

&cpu0 {
	cpu-supply = <&reg_vdd_cpu>;
};

&de {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&emac {
	pinctrl-0 = <&rgmii_pe_pins>;
	pinctrl-names = "default";
	phy-handle = <&ext_rgmii_phy>;
	phy-mode = "rgmii-id";
	phy-supply = <&reg_vcc_3v3>;
	status = "okay";
};

&hdmi {
	status = "okay";
};

&hdmi_out {
	hdmi_out_connector: endpoint {
		remote-endpoint = <&hdmi_connector_in>;
	};
};

&hdmi_phy {
	status = "okay";
};

&i2c2 {
	pinctrl-0 = <&i2c2_pb0_pins>;
	pinctrl-names = "default";
	status = "okay";

	pcf8574a: gpio@38 {
		compatible = "nxp,pcf8574a";
		reg = <0x38>;
		interrupt-parent = <&pio>;
		interrupts = <1 2 IRQ_TYPE_LEVEL_LOW>; /* PB2 */
		interrupt-controller;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
	};
};

&ledc {
	pinctrl-0 = <&ledc_pc0_pin>;
	pinctrl-names = "default";
	status = "okay";

	multi-led@0 {
		reg = <0x0>;
		color = <LED_COLOR_ID_RGB>;
		function = LED_FUNCTION_STATUS;
	};
};

&lradc {
	status = "okay";

	button-160 {
		label = "OK";
		linux,code = <KEY_OK>;
		channel = <0>;
		voltage = <160000>;
	};
};

&mdio {
	ext_rgmii_phy: ethernet-phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <1>;
	};
};

&mmc0 {
	bus-width = <4>;
	cd-gpios = <&pio 5 6 GPIO_ACTIVE_HIGH>; /* PF6 */
	disable-wp;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc0_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&mmc1 {
	bus-width = <4>;
	mmc-pwrseq = <&wifi_pwrseq>;
	non-removable;
	vmmc-supply = <&reg_vcc_3v3>;
	vqmmc-supply = <&reg_vcc_3v3>;
	pinctrl-0 = <&mmc1_pins>;
	pinctrl-names = "default";
	status = "okay";

	xr829: wifi@1 {
		reg = <1>;
	};
};

&ohci0 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&pwm {
	pinctrl-0 = <&pwm0_pd16_pin>;
	pinctrl-names = "default";
	status = "okay";
};

&spi0 {
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
	status = "okay";

	flash@0 {
		compatible = "spi-nand";
		reg = <0>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "boot0";
				reg = <0x00000000 0x00100000>;
			};

			partition@100000 {
				label = "uboot";
				reg = <0x00100000 0x00300000>;
			};

			partition@400000 {
				label = "secure_storage";
				reg = <0x00400000 0x00100000>;
			};

			partition@500000 {
				label = "sys";
				reg = <0x00500000 0x0fb00000>;
			};
		};
	};
};

&spi1 {
	pinctrl-0 = <&spi1_pd_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart0 {
	pinctrl-0 = <&uart0_pb8_pins>;
	pinctrl-names = "default";
	status = "okay";
};

&uart1 {
	uart-has-rtscts;
	pinctrl-0 = <&uart1_pg6_pins>, <&uart1_pg8_rts_cts_pins>;
	pinctrl-names = "default";
	status = "okay";

	/* XR829 bluetooth is connected here */
};

&usb_otg {
	dr_mode = "otg";
	status = "okay";
};

&usbphy {
	usb0_id_det-gpios = <&pio 3 21 GPIO_ACTIVE_HIGH>; /* PD21 */
	usb0_vbus_det-gpios = <&pio 3 20 GPIO_ACTIVE_HIGH>; /* PD20 */
	usb0_vbus-supply = <&reg_usbvbus>;
	usb1_vbus-supply = <&reg_vcc>;
	status = "okay";
};
