CONFIG_RISCV=y
CONFIG_DEFAULT_DEVICE_TREE="sun20i-d1-mangopi-mq-pro"
CONFIG_TARGET_SUN20I_D1=y
CONFIG_ARCH_RV64I=y
CONFIG_RISCV_SMODE=y
# CONFIG_SPL_SMP is not set
CONFIG_SYS_SPL_MALLOC=y
CONFIG_SPL_OPENSBI_SCRATCH_OPTIONS=0x0
# CONFIG_SYS_I2C_MVTWSI is not set
CONFIG_DM_REGULATOR_FIXED=y
