# $NetBSD: INSTALL.tmpl,v 1.2 2011/01/02 18:04:16 ftigeot Exp $

MACHINE_ARCH=`uname -m`

case ${STAGE} in
POST-INSTALL)
	if [ "${MACHINE_ARCH}" = "i386" ]; then
		${PREFIX}/bin/jdk16-java -client -Xshare:dump
	fi
	;;
esac
