$NetBSD: patch-chrome_browser_resources_settings_autofill__page_passwords__shared.css,v 1.14 2026/01/19 16:14:09 kikadf Exp $

* Part of patchset to build chromium on NetBSD
* Based on OpenBSD's chromium patches, and
  pkgsrc's qt5-qtwebengine patches

--- chrome/browser/resources/settings/autofill_page/passwords_shared.css.orig	2026-01-07 00:50:30.000000000 +0000
+++ chrome/browser/resources/settings/autofill_page/passwords_shared.css
@@ -100,7 +100,7 @@ cr-input.password-input::part(input),
    * necessary to prevent Chrome from using the operating system's font
    * instead of the Material Design font.
    * TODO(dbeam): why not font: inherit? */
-<if expr="is_linux or is_chromeos">
+<if expr="is_posix or is_chromeos">
   font-family: 'DejaVu Sans Mono', monospace;
 </if>
 <if expr="is_win">
