$NetBSD: patch-chrome_browser_resources_signin_signin__shared.css,v 1.14 2026/01/19 16:14:09 kikadf Exp $

* Part of patchset to build chromium on NetBSD
* Based on OpenBSD's chromium patches, and
  pkgsrc's qt5-qtwebengine patches

--- chrome/browser/resources/signin/signin_shared.css.orig	2026-01-07 00:50:30.000000000 +0000
+++ chrome/browser/resources/signin/signin_shared.css
@@ -54,7 +54,7 @@ a {
   border-radius: var(--scrollbar-width);
 }
 
-<if expr="is_macosx or is_linux or is_chromeos">
+<if expr="is_macosx or is_posix or is_chromeos">
 .action-container {
   flex-flow: row-reverse;
   justify-content: flex-start;
