[Desktop Entry]
Encoding=UTF-8
Name=Carnival
Comment=a GUI to Festival
Comment[de]=ein GUI für Festival
Exec=carnival
Icon=carnival.xpm
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;Application;AudioVideo;GTK;TTS;
