$NetBSD: patch-i3.config,v 1.6 2011/09/07 09:07:45 pallegra Exp $

--- i3.config.orig	2011-08-28 17:48:13.000000000 +0000
+++ i3.config
@@ -16,7 +16,7 @@ font -misc-fixed-medium-r-normal--13-120
 floating_modifier Mod1
 
 # start a terminal
-bindsym Mod1+Return exec urxvt
+bindsym Mod1+Return exec xterm
 
 # kill focused window
 bindsym Mod1+Shift+q kill
@@ -147,7 +147,7 @@ bindsym Mod1+r mode "resize"
 
 # Start i3bar to display a workspace bar (plus the system information i3status
 # finds out, if available)
-exec i3status | i3bar -d
+exec i3status | i3bar -d -f -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
 
 #######################################################################
 # automatically start i3-config-wizard to offer the user to create a
