$NetBSD: patch-i3.config,v 1.2 2011/05/30 20:22:51 pallegra Exp $

--- i3.config.orig	2011-05-30 18:52:34.000000000 +0000
+++ i3.config
@@ -8,16 +8,16 @@ font -misc-fixed-medium-r-normal--13-120
 floating_modifier Mod1
 
 # temporary path during development
-ipc-socket /tmp/nestedcons
+ipc-socket ~/.i3/ipc.sock
 
 # Open empty container
 bindsym Mod1+Shift+Return open
 
 # Start terminal (Mod1+Enter)
-bindsym Mod1+Return exec /usr/bin/urxvt
+bindsym Mod1+Return exec xterm
 
 # Start dmenu (Mod1+p)
-bindsym Mod1+p exec /usr/bin/dmenu_run
+bindsym Mod1+p exec dmenu_run
 
 # Horizontal orientation
 bindsym Mod1+h split h
@@ -47,7 +47,7 @@ bindsym Mod1+u level up
 bindsym Mod1+c kill
 
 # Restore saved JSON layout
-bindsym Mod1+y restore /home/michael/i3/layout.json
+bindsym Mod1+y restore ~/.i3/layout.json
 
 # Restart i3
 bindsym Mod1+Shift+c restart
