$NetBSD: patch-generate-unix-Makefile.config,v 1.1 2015/03/07 12:46:17 krytarowski Exp $

--- generate/unix/Makefile.config.orig	2015-03-07 12:16:22.000000000 +0000
+++ generate/unix/Makefile.config
@@ -59,6 +59,10 @@ ifeq ($(UNAME_S), FreeBSD)
 HOST =       _FreeBSD
 endif
 
+ifeq ($(UNAME_S), NetBSD)
+HOST =       _NetBSD
+endif
+
 ifeq ($(HOST), _APPLE)
 INSTALL  =   cp
 INSTALLFLAGS ?= -f
@@ -163,7 +167,6 @@ CFLAGS += \
 CWARNINGFLAGS = \
     -std=c99\
     -Wall\
-    -Wbad-function-cast\
     -Wdeclaration-after-statement\
     -Werror\
     -Wformat=2\
@@ -206,6 +209,11 @@ ifneq ($(HOST), _FreeBSD)
     endif
 endif
 
+ifneq ($(HOST), _NetBSD)
+    CWARNINGFLAGS += \
+        -Wbad-function-cast
+endif
+
 #
 # Extra warning flags (for possible future use)
 #
