$NetBSD$

1) Don't let CFLAGS and LDFLAGS override search paths
   for the local part of the build.

2) Set the RPATH when creating executables and shared libraries.

--- Makefile.config.orig	2019-12-06 03:24:56.000000000 +0000
+++ Makefile.config
@@ -16,13 +16,14 @@ OS = $(shell uname)
 CC ?= cc
 
 LIBS = -pthread -lcyclone -lck -lm -lcyclonebn
-ifneq ($(OS),FreeBSD)
+ifeq (,$(findstring $(OS),FreeBSD NetBSD OpenBSD DragonFly))
 # libdl is part of libc on FreeBSD
 LIBS += -ldl
 endif
 
 # Compiler options
-CFLAGS       ?= $(CYC_PROFILING) $(CYC_GCC_OPT_FLAGS) -fPIC -Wall -Iinclude
+CFLAGS       ?= $(CYC_PROFILING) $(CYC_GCC_OPT_FLAGS)
+CFLAGS       += -fPIC -Wall -Iinclude
 BASE_CFLAGS  ?= $(CYC_PROFILING) $(CYC_GCC_OPT_FLAGS) -fPIC -Wall -I$(PREFIX)/include
 # Used by Cyclone to compile programs, no need for PIC there
 BASE_PROG_CFLAGS  ?= $(CYC_PROFILING) $(CYC_GCC_OPT_FLAGS) -Wall -I$(PREFIX)/include
@@ -39,7 +40,8 @@ endif
 #CFLAGS = -g -pg -Wall
 
 # Linker options
-LDFLAGS ?= -L. $(CYC_PROFILING)
+LDFLAGS ?= $(CYC_PROFILING)
+LDFLAGS += -L.
 LIBRARY_OUTPUT_FILE = libcyclone.a
 ifeq ($(OS),Darwin)
 LDFLAGS     += -Wl,-undefined -Wl,dynamic_lookup
@@ -63,9 +65,9 @@ endif
 
 # Commands "baked into" cyclone for invoking the C compiler
 CC_PROG ?= "$(CC) ~src-file~ $(COMP_PROG_CFLAGS) -c -o ~exec-file~.o"
-CC_EXEC ?= "$(CC) ~exec-file~.o ~obj-files~ $(LIBS) $(COMP_CFLAGS) -o ~exec-file~"
+CC_EXEC ?= "$(CC) ~exec-file~.o ~obj-files~ $(LIBS) $(COMP_CFLAGS) $(COMPILER_RPATH_FLAG)$(PREFIX)/lib -o ~exec-file~"
 CC_LIB  ?= "$(CC) ~src-file~ $(COMP_CFLAGS) -c -o ~exec-file~.o"
-CC_SO   ?= "$(CC) -shared $(LDFLAGS) -o ~exec-file~.so ~exec-file~.o"
+CC_SO   ?= "$(CC) -shared $(LDFLAGS) $(COMPILER_RPATH_FLAG)$(PREFIX)/lib -o ~exec-file~.so ~exec-file~.o"
 
 AR        ?= ar
 LIBTOOL   ?= libtool
